<template>
  <section class="d-md-flex" style="height: 100%">
    <ProcedureSidebar
      v-show="$vuetify.breakpoint.mdAndUp"
      title="Exclusión o retención bancaria"
      procedure="exclusion-o-retencion-bancaria"
    />
    <ProcedureHeadbar
      v-show="$vuetify.breakpoint.mdAndDown"
      class="d-md-none"
      title="Exclusión o retención bancaria"
      procedure="exclusion-o-retencion-bancaria"
    />
    <v-container fluid>
      <v-row>
        <v-col class="mb-0">
          <p class="ma-0">
            <strong>Trámites/</strong>Exclusión o retención bancaria
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card color="white" width="100%" min-height="420px">
            <v-col>
              <v-container fluid>
                <v-row>
                  <v-col>
                    <h2 class="font-weight-bold form-title mb-4">
                      Exclusión o retención bancaria
                    </h2>
                    <p
                      class="font-poppins form-subtitle font-weight-light mb-8"
                    >
                      <strong style="color: black" class="font-weight-bold"
                        >Plazo máximo para la resolución:
                      </strong>
                      1 Día(s) Hábil(es)
                    </p>
                    <h2 class="pa-0 font-poppins font-weight-bold d-blocks">
                      Descripción
                    </h2>
                    <p
                      class="font-poppins form-subtitle font-weight-light mb-8"
                    >
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Phasellus luctus fermentum augue. Donec aliquam eget ex et
                      tincidunt. Quisque sed sapien sit amet nulla dapibus
                      convallis. Nullam sed congue dui. Praesent mattis tortor a
                      urna vulputate cursus. Fusce feugiat ultrices velit, ut
                      congue velit maximus nec. Phasellus sit amet sagittis
                      lacus. Suspendisse molestie pharetra risus ac venenatis.
                      Pellentesque consectetur ultrices velit, ac volutpat augue
                      sodales id. Proin vestibulum risus ligula, vitae rutrum
                      libero elementum eu. Pellentesque eleifend leo eget
                      vehicula cursus. Morbi id gravida justo, et placerat diam.
                      Maecenas dui orci, tempus a turpis a, pretium scelerisque
                      odio. Etiam sed blandit turpis.
                    </p>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import ProcedureSidebar from '@/components/Procedures/ProcedureSidebar'
import ProcedureHeadbar from '@/components/Procedures/ProcedureHeadbar'

export default {
  components: {
    ProcedureSidebar,
    ProcedureHeadbar,
  },
}
</script>

<style></style>
