<template>
  <section class="d-md-flex" style="height: 100%">
    <ProcedureSidebar
      v-show="$vuetify.breakpoint.mdAndUp"
      title="Exclusión o retención bancaria"
      procedure="exclusion-o-retencion-bancaria"
    />
    <ProcedureHeadbar
      v-show="$vuetify.breakpoint.mdAndDown"
      class="d-md-none"
      title="Exclusión o retención bancaria"
      procedure="exclusion-o-retencion-bancaria"
    />
    <v-container fluid>
      <v-row>
        <v-col class="mb-0">
          <p class="ma-0">
            <strong>Trámites/</strong>Exclusión o retención bancaria
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card color="white" width="100%" min-height="420px">
            <v-col>
              <v-container fluid>
                <v-row>
                  <v-col>
                    <h2 class="font-weight-bold form-title mb-4">
                      Exclusión o retención bancaria
                    </h2>
                    <p
                      class="font-poppins form-subtitle font-weight-light mb-8"
                    >
                      <strong style="color: black" class="font-weight-bold"
                        >Plazo máximo para la resolución:
                      </strong>
                      1 Día(s) Hábil(es)
                    </p>
                    <h2 class="pa-0 font-poppins font-weight-bold d-blocks">
                      Datos a recabar
                    </h2>
                    <ul class="font-poppins font-weight-bold">
                      <li>
                        Nam volutpat lacus vel mauris pulvinar elementum. <br />
                        <span class="font-weight-light" style="color: #959595"
                          >Aenean porta quam eu lacus bibendum, non elementum
                          ipsum rutrum</span
                        >
                      </li>
                      <li>
                        Nam iaculis tortor ut purus ultrices posuere.<br />
                        <span class="font-weight-light" style="color: #959595"
                          >Praesent ut ipsum ultrices sapien cursus
                          luctus.</span
                        >
                      </li>
                      <li>
                        Donec vel erat venenatis, iaculis mauris et, tristique
                        ipsum.<br />
                        <span class="font-weight-light" style="color: #959595"
                          >Nunc egestas purus ac pharetra tempor.</span
                        >
                      </li>
                      <li>
                        Pellentesque sit amet tellus lobortis, aliquam nibh
                        quis, faucibus est.<br />
                        <span class="font-weight-light" style="color: #959595"
                          >Aenean porta quam eu lacus bibendum, non elementum
                          ipsum rutrum</span
                        >
                        <br />
                        <div class="py-3">
                          <v-icon x-large color="red">mdi-file-pdf</v-icon>X
                          documentación adjuntar en PDF
                          <v-icon x-large color="yellow darken-3"
                            >mdi-file-image</v-icon
                          >X documentación adjuntar en imagen
                        </div>
                      </li>
                      <li>
                        Ut egestas tellus egestas elit egestas, at rutrum quam
                        laoreet.<br />
                        <span class="font-weight-light" style="color: #959595"
                          >Nam euismod massa at maximus feugiat.</span
                        >
                      </li>
                    </ul>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>
<script>
import ProcedureHeadbar from '@/components/Procedures/ProcedureHeadbar.vue'
import ProcedureSidebar from '@/components/Procedures/ProcedureSidebar.vue'

export default {
  components: {
    ProcedureHeadbar,
    ProcedureSidebar,
  },
}
</script>

<style></style>
