<template>
  <div class="barchart-wrapper">
    <div class="chart-container"></div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import Highcharts from 'highcharts'
import UtilsService from '@/services/UtilsService'
export default {
  props: {
    series: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: '',
    },
    suffix: {
      type: String,
      default: '',
    },
    colors: {
      type: Array,
      default() {
        return [
          // Default Highcharts colors
          '#7cb5ec',
          '#434348',
          '#90ed7d',
          '#f7a35c',
          '#8085e9',
          '#f15c80',
          '#e4d354',
          '#2b908f',
          '#f45b5b',
          '#91e8e1',
        ]
      },
    },
    labels: {
      type: Boolean,
      default: false,
    },
    height: {
      type: String,
      default: undefined,
    },
    width: {
      type: String,
      default: undefined,
    },
  },
  data() {
    return {}
  },
  computed: {},
  watch: {
    series: {
      handler: 'drawChart',
      immediate: false,
    },
    labels: {
      handler: 'toggleLabels',
      immediate: false,
    },
  },
  methods: {
    toggleLabels() {
      if (this.labels) {
        d3.select(this.$el)
          .selectAll('.highcharts-data-label,.highcharts-stack-labels')
          .style('display', null)
      } else {
        d3.select(this.$el)
          .selectAll('.highcharts-data-label,.highcharts-stack-labels')
          .style('display', 'none')
      }
    },
    drawChart() {
      const self = this
      Highcharts.setOptions({
        colors: this.colors,
      })
      const hasTwoLevels =
        this.series[0] &&
        // eslint-disable-next-line no-prototype-builtins
        this.series[0].hasOwnProperty('sub') &&
        this.series[0].sub !== undefined
      const data = d3
        .nest()
        .key((o) => (hasTwoLevels ? o.sub : ''))
        .entries(this.series)
        .map((o) => {
          const obj = {
            name: o.key,
            data: o.values,
          }
          if (!hasTwoLevels) {
            obj.colorByPoint = true
          }
          return obj
        })
      const $container = d3.select(this.$el).select('.chart-container').node()
      // Create the chart
      Highcharts.chart($container, {
        chart: {
          type: 'area',
          height: this.height,
          width: this.width,
        },
        title: {
          text: '',
        },
        xAxis: {
          type: 'category',
          tickmarkPlacement: 'on',
          title: {
            enabled: false,
          },
        },
        yAxis: {
          labels: {
            formatter() {
              return `${UtilsService.formatNumber(this.value)}${self.suffix}`
            },
          },
          title: {
            enabled: false,
          },
        },
        tooltip: {
          pointFormatter() {
            return `<span style="color:{series.color}">{series.name}</span>: <b>${UtilsService.formatNumber(
              this.point.y
            )}${self.suffix}</b><br/>`
          },
          split: true,
        },
        plotOptions: {
          area: {
            stacking: this.suffix === '%' ? 'percent' : 'normal',
            lineColor: '#ffffff',
            lineWidth: 1,
            marker: {
              lineWidth: 1,
              lineColor: '#ffffff',
            },
            dataLabels: {
              enabled: true,
              formatter() {
                return `<b>${UtilsService.formatNumber(this.point.y)}${
                  self.suffix
                }</b><br/>`
              },
            },
          },
        },
        series: data,
      })
      this.toggleLabels()
    },
  },
  render(createElement) {
    return createElement('div')
  },
}
</script>

<style></style>
