<template>
  <div class="barchart-wrapper">
    <div class="chart-container"></div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import Highcharts from 'highcharts'
import More from 'highcharts/highcharts-more'
import Sankey from 'highcharts/modules/sankey'
import UtilsService from '@/services/UtilsService'
if (typeof Highcharts === 'object') {
  More(Highcharts)
  Sankey(Highcharts)
}
export default {
  props: {
    series: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: '',
    },
    suffix: {
      type: String,
      default: '',
    },
    colors: {
      type: Array,
      default() {
        return [
          // Default Highcharts colors
          '#7cb5ec',
          '#434348',
          '#90ed7d',
          '#f7a35c',
          '#8085e9',
          '#f15c80',
          '#e4d354',
          '#2b908f',
          '#f45b5b',
          '#91e8e1',
        ]
      },
    },
    labels: {
      type: Boolean,
      default: false,
    },
    height: {
      type: String,
      default: undefined,
    },
    width: {
      type: String,
      default: undefined,
    },
  },
  data() {
    return {}
  },
  computed: {},
  watch: {
    series: {
      handler: 'drawChart',
    },
    labels: {
      handler: 'toggleLabels',
    },
  },
  methods: {
    toggleLabels() {
      if (this.labels) {
        d3.select(this.$el)
          .selectAll('.highcharts-data-label,.highcharts-stack-labels')
          .style('display', null)
      } else {
        d3.select(this.$el)
          .selectAll('.highcharts-data-label,.highcharts-stack-labels')
          .style('display', 'none')
      }
    },
    /**
     * If: colors were provided the same lenght as series,
     * match each category with a defined color
     * Else: return original colors provided
     */
    mapColors(colors) {
      if (colors.length === this.series.length) {
        const sameColorsLines = []
        for (let i = 0; i < colors.length; i++) {
          const element = colors[i]
          if (
            sameColorsLines.length === 0 ||
            sameColorsLines[sameColorsLines.length - 1] !== element
          ) {
            sameColorsLines.push(element)
          }
          sameColorsLines.push(element)
        }
        return sameColorsLines
      } else {
        return colors
      }
    },
    drawChart() {
      const self = this
      const dataFromSeries = JSON.parse(JSON.stringify(this.series)).map(
        (o) => [o.name, o.sub, o.y, o.total]
      )

      Highcharts.setOptions({
        colors: this.mapColors(this.colors),
      })

      const $container = d3.select(this.$el).select('.chart-container').node()
      // Create the chart
      Highcharts.chart($container, {
        chart: {
          height: this.height,
          width: this.width,
        },
        title: {
          text: this.title,
        },
        series: [
          {
            keys: ['from', 'to', 'weight', 'sum'],
            data: dataFromSeries,
            type: 'sankey',
            name: '',
            colorByPoint: true,
          },
        ],
        tooltip: {
          headerFormat: '<b>{series.name}</b><br>',
          nodeFormatter() {
            return `${this.name}: <b>${UtilsService.formatNumber(this.sum)}${
              self.suffix
            }</b><br/>`
          },
          pointFormatter() {
            return `${this.fromNode.name} → ${
              this.toNode.name
            }: <b>${UtilsService.formatNumber(this.weight)}${
              self.suffix
            }</b><br/>`
          },
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
            },
          },
        },
      })
      this.toggleLabels()
    },
  },
  render(createElement) {
    return createElement('div')
  },
}
</script>

<style></style>
