<template>
  <div class="barchart-wrapper">
    <div class="chart-container"></div>
  </div>
</template>

<script>
import * as d3 from 'd3'
import Highcharts from 'highcharts'
import More from 'highcharts/highcharts-more'
import Tree from 'highcharts/modules/treemap'
import Heatmap from 'highcharts/modules/heatmap'
import UtilsService from '@/services/UtilsService'
if (typeof Highcharts === 'object') {
  More(Highcharts)
  Tree(Highcharts)
  Heatmap(Highcharts)
}
export default {
  props: {
    series: {
      type: Array,
      required: true,
    },
    title: {
      type: String,
      default: '',
    },
    suffix: {
      type: String,
      default: '',
    },
    colors: {
      type: Array,
      default() {
        return [
          // Default Highcharts colors
          '#7cb5ec',
          '#434348',
          '#90ed7d',
          '#f7a35c',
          '#8085e9',
          '#f15c80',
          '#e4d354',
          '#2b908f',
          '#f45b5b',
          '#91e8e1',
        ]
      },
    },
    labels: {
      type: Boolean,
      default: false,
    },
    height: {
      type: String,
      default: undefined,
    },
    width: {
      type: String,
      default: undefined,
    },
  },
  data() {
    return {}
  },
  computed: {},
  watch: {
    series: {
      handler: 'drawChart',
    },
    labels: {
      handler: 'toggleLabels',
    },
  },
  methods: {
    toggleLabels() {
      if (this.labels) {
        d3.select(this.$el)
          .selectAll('.highcharts-data-label,.highcharts-stack-labels')
          .style('display', null)
      } else {
        d3.select(this.$el)
          .selectAll('.highcharts-data-label,.highcharts-stack-labels')
          .style('display', 'none')
      }
    },
    drawChart() {
      const self = this
      Highcharts.setOptions({
        colors: this.colors,
      })
      const $container = d3.select(this.$el).select('.chart-container').node()
      // Create the chart
      const highchartsConfig = {
        chart: {
          height: this.height,
          width: this.width,
        },
        series: [
          {
            type: 'treemap',
            layoutAlgorithm: 'squarified',
            name: '',
            colorByPoint: true,
            data: this.series,
          },
        ],
        title: {
          text: this.title,
        },
        plotOptions: {
          series: {
            dataLabels: {
              enabled: true,
              formatter() {
                return `${UtilsService.formatNumber(this.point.value)}${
                  self.suffix
                }`
              },
            },
          },
          colors: this.colors,
        },
        tooltip: {
          headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
          pointFormatter() {
            return `<span style="color:${this.color}">${
              this.name
            }</span>: <b>${UtilsService.formatNumber(this.value)}</b>`
          },
        },
      }
      Highcharts.chart($container, highchartsConfig)
      this.toggleLabels()
    },
  },
  render(createElement) {
    return createElement('div')
  },
}
</script>

<style></style>
