<template>
  <v-main class="pa-0">
    <v-form
      ref="formContactFooter"
      v-model="valid"
      class="white--text"
      @submit.prevent="sendEmailContact()"
    >
      <v-row>
        <v-col cols="12" class="py-0">
          <v-text-field
            v-model="contact.name"
            solo
            :label="$t('name')"
            :rules="required"
            :color="
              $store.getters['brand/getFooterTextColor']
                ? $store.getters['brand/getFooterTextColor']
                : '#000'
            "
            :class="{
              border_white: !$store.getters['brand/getFooterTextColor'],
            }"
            class="font-lato font-weight-regular"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-text-field
            v-model="contact.email"
            solo
            :label="$t('email')"
            :rules="rulesEmail"
            :class="{
              border_white: !$store.getters['brand/getFooterTextColor'],
            }"
            class="font-lato font-weight-regular"
            :color="
              $store.getters['brand/getFooterTextColor']
                ? $store.getters['brand/getFooterTextColor']
                : '#000'
            "
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" class="py-0">
          <v-textarea
            v-model="contact.message"
            solo
            rows="3"
            :label="$t('message')"
            :rules="required"
            :color="
              $store.getters['brand/getFooterTextColor']
                ? $store.getters['brand/getFooterTextColor']
                : '#000'
            "
            :class="{
              border_white: !$store.getters['brand/getFooterTextColor'],
            }"
            class="font-lato font-weight-regular"
            required
          ></v-textarea>
        </v-col>
        <v-col cols="12" class="py-2">
          <div id="recaptcha-contact-footer" class="float-right"></div>
        </v-col>
        <v-col cols="12" class="py-2">
          <v-row justify="end" no-gutters>
            <v-btn
              dark
              :outlined="!valid || !reCAPTCHA || loading"
              :disabled="!valid || !reCAPTCHA || loading"
              :color="
                $store.getters['brand/getFooterButtonColor']
                  ? $store.getters['brand/getFooterButtonColor']
                  : '#0088CC'
              "
              class="mt-0 mr-0 send-button font-weight-medium font-roboto"
              type="submit"
            >
              <v-progress-circular
                v-if="loading"
                indeterminate
                color="primary"
              ></v-progress-circular>
              <template v-else>{{ $t('send') }}</template></v-btn
            >
          </v-row>
        </v-col>
      </v-row>
    </v-form>
    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-main>
</template>

<script lang="ts">
import swal from 'sweetalert'

import SendEmailVerificationMixin from '@/mixins/SendEmailVerificationMixin'
import { getLastSettings } from '~/services/Settings'

declare global {
  interface Window {
    recaptchaContactFooter: any
    recaptchaWidgetContactFooter: any
  }
}

export default SendEmailVerificationMixin.extend({
  name: 'Contact',
  components: {},
  props: {},
  data() {
    return {
      contact: {
        name: '',
        email: '',
        message: '',
      },
      email_contact: '',
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 6000,
        text: '',
        right: '',
        top: '',
      },
      required: [(v: any) => !!v || this.$t('fieldRequired')],
      rulesEmail: [
        (v: string) => !!v || this.$t('fieldRequired'),
        (v: string) =>
          !v ||
          /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(v) ||
          this.$t('emailValid'),
      ],
      loading: false,
      urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
      reCAPTCHA: false,
      valid: false,
    }
  },
  mounted() {
    this.getSettings()
    const self = this
    window.recaptchaContactFooter = new self.$fireModule.auth.RecaptchaVerifier(
      'recaptcha-contact-footer',
      {
        callback() {
          self.reCAPTCHA = true
        },
        'expired-callback'() {
          self.reCAPTCHA = false
        },
        size: self.$vuetify.breakpoint.smAndDown ? 'compact' : 'normal',
      }
    )
    window.recaptchaContactFooter.render().then(function (widgetId: any) {
      window.recaptchaWidgetContactFooter = widgetId
    })
  },
  methods: {
    async getSettings(): Promise<void> {
      const result = await getLastSettings(this.$fire)
      if (!result.empty) {
        const data = {
          ...result.docs[0].data(),
          id: result.docs[0].id,
        }
        this.email_contact = data.email_contact
      }
    },
    async sendEmailContact(): Promise<void> {
      this.loading = true
      try {
        await this.sendEmail(
          this.email_contact,
          `${this.$t('email-contact')}`,
          `${this.contact.name} (${this.contact.email}) ${this.$t(
            'contact-email-subject'
          )}:`,
          `mailto: ${this.contact.email}`,
          `${this.contact.message}`
        )
        this.contact.name = ''
        this.contact.email = ''
        this.contact.message = ''
        swal({
          title: `${this.$t('email-sent')}`,
          text: `${this.$t('will-contact')}`,
          icon: 'success',
          buttons: `${this.$t('close')}`,
        })
      } catch (error) {
        swal({
          title: `${this.$t('email-failed')}`,
          text: `${this.$t('try-again')}`,
          icon: 'error',
          buttons: `${this.$t('close')}`,
        })
      }
      this.valid = false
      this.loading = false
    },
  },
})
</script>

<style scope>
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
  > .v-input__control
  > .v-input__slot,
.v-text-field.v-text-field--enclosed .v-text-field__details {
  padding-left: 23px;
}

.v-btn.v-size--default {
  font-size: 1.125em;
}
</style>
