<template>
  <v-row>
    <v-col cols="12">
      <div id="editorjs"></div>
    </v-col>
    <v-col cols="12" text-xs-right>
      <v-flex xs4>
        <v-btn
          id="save-user"
          block
          color="#39b0af"
          class="white--text"
          @click="saveEditorData()"
        >
          Guardar
        </v-btn>
      </v-flex>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import Vue from 'vue'
import List from '@editorjs/list'
import Header from '@editorjs/header'
import EditorJS from '@editorjs/editorjs'
import SimpleImage from '@editorjs/simple-image'
import { savePageBuilderData } from '~/services/Firebase'
export default Vue.extend({
  name: 'EditorBuilder',
  data() {
    return {
      editor: null as any,
    }
  },
  mounted() {
    // eslint-disable-next-line no-unused-vars
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    this.mountEditor()
  },
  methods: {
    async mountEditor() {
      this.editor = await new EditorJS({
        /**
         * Id of Element that should contain the Editor
         */
        holder: 'editorjs',
        /**
         * Common Inline Toolbar settings
         * - if true (or not specified), the order from 'tool' property will be used (default)
         * - if an array of tool names, this order will be used
         */
        inlineToolbar: ['link', 'marker', 'bold', 'italic'],
        /**
         * Available Tools list.
         * Pass Tool's class or Settings object for each Tool you want to use
         */
        tools: {
          header: {
            class: Header,
            inlineToolbar: ['marker', 'link'],
          },
          list: {
            class: List,
            inlineToolbar: true,
          },
          image: SimpleImage,
        },
        /**
         * Enable autofocus
         */
        autofocus: true,
      })
      try {
        await this.editor.isReady
        console.log('Editor.js is ready to work!')
        /** Do anything you need after editor initialization */
      } catch (reason) {
        console.log(`Editor.js initialization failed because of ${reason}`)
      }
    },
    saveEditorData() {
      this.editor
        .save()
        .then((outputData: any) => {
          console.log('Article data: ', outputData)
          savePageBuilderData(this.$fire, { outputData })
        })
        .catch((error: any) => {
          console.log('Saving failed: ', error)
        })
    },
  },
})
</script>
