<template>
  <v-footer :style="footer_background" height="auto" class="white--text">
    <v-dialog
      v-if="user && user.type === 'superadmin'"
      v-model="footer_dialog"
      transition="dialog-bottom-transition"
      max-width="600"
      eager
    >
      <template #activator="{ on, attrs }">
        <v-btn
          id="editor-button"
          class="mx-2 mt-10"
          absolute
          left
          top
          fab
          dark
          small
          color="primary"
          v-bind="attrs"
          v-on="on"
          @click="footer_dialog = true"
        >
          <v-icon dark>mdi-pencil</v-icon>
        </v-btn>
      </template>
      <template #default="dialog">
        <v-card :loading="loading">
          <template slot="progress">
            <v-progress-linear
              color="primary"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>
          <v-toolbar color="primary" dark>{{
            $t('editor.footer_style')
          }}</v-toolbar>
          <v-card-title>{{ $t('editor.background_style') }}</v-card-title>
          <v-card-text class="mt-3">
            <v-select
              v-model="brandSettings.footer_background_type"
              :items="backgroundTypes"
              item-text="text"
              item-value="type"
              :rules="[(v) => !!v || $t('editor.required_background_type')]"
              solo
              required
            ></v-select>
          </v-card-text>
          <v-card-text v-if="brandSettings.footer_background_type === 'lineal'">
            <v-text-field
              v-model="brandSettings.footer_bg_primary"
              :value="brandSettings.footer_bg_primary"
              prepend-icon="mdi-eyedropper-variant"
              type="color"
              :label="$t('editor.select_color')"
              class="py-0"
              width="50%"
            ></v-text-field>
          </v-card-text>
          <v-card-text
            v-if="brandSettings.footer_background_type === 'gradient'"
          >
            <v-text-field
              v-model="brandSettings.footer_bg_primary"
              :value="brandSettings.footer_bg_primary"
              prepend-icon="mdi-eyedropper-variant"
              type="color"
              :label="$t('editor.select_top_color')"
              class="py-0"
              width="50%"
            ></v-text-field>
            <v-text-field
              v-model="brandSettings.footer_bg_secondary"
              :value="brandSettings.footer_bg_secondary"
              prepend-icon="mdi-eyedropper-variant"
              type="color"
              :label="$t('editor.select_bottom_color')"
              class="py-0"
              width="50%"
            ></v-text-field>
          </v-card-text>
          <v-divider class="mx-3"></v-divider>
          <v-card-title>{{ $t('editor.text_style') }}</v-card-title>
          <v-card-text>
            <v-text-field
              v-model="brandSettings.footer_text_color"
              :value="brandSettings.footer_text_color"
              prepend-icon="mdi-eyedropper-variant"
              type="color"
              :label="$t('editor.select_text_color')"
              class="py-0"
              width="50%"
            ></v-text-field>
          </v-card-text>
          <v-divider class="mx-3"></v-divider>
          <v-card-title>{{ $t('editor.contact_button_color') }}</v-card-title>
          <v-card-text>
            <v-text-field
              v-model="brandSettings.footer_contact_button_color"
              :value="brandSettings.footer_contact_button_color"
              prepend-icon="mdi-eyedropper-variant"
              type="color"
              :label="$t('editor.select_button_color')"
              class="py-0"
              width="50%"
            ></v-text-field>
          </v-card-text>
          <v-divider class="mx-3"></v-divider>
          <v-card-title>Logo</v-card-title>
          <v-card-text>
            <v-row no-gutters justify="center">
              <v-col cols="8">
                <v-card :style="footer_background" class="py-2">
                  <v-img
                    height="50"
                    :src="brandSettings.footer_logo"
                    contain
                    outlined
                  >
                    <template #placeholder>
                      <v-row
                        class="fill-height ma-0"
                        align="center"
                        justify="center"
                      >
                        <v-progress-circular
                          indeterminate
                          color="grey lighten-5"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>

            <v-row no-gutters justify="center">
              <v-col cols="8">
                <v-row no-gutters justify="space-between">
                  <input
                    v-show="false"
                    id="footer_logo"
                    ref="footer_logo"
                    type="file"
                    accept="image/*"
                    @change="onFileSelected"
                  />
                  <v-btn
                    color="primary"
                    width="40%"
                    :title="$t('editor.upload_image')"
                    @click="$refs.footer_logo.click()"
                  >
                    <v-icon>mdi-cloud-upload</v-icon>
                  </v-btn>
                  <v-btn
                    id="restoreLogo-button"
                    color="primary"
                    width="40%"
                    :title="$t('editor.restore_image')"
                    @click="restoreDefaultLogo"
                  >
                    <v-icon>mdi-backup-restore</v-icon>
                  </v-btn>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions class="justify-end">
            <v-btn text color="error" @click="dialog.value = false">{{
              $t('editor.cancel')
            }}</v-btn>
            <v-btn id="save-button" text color="primary" @click="updateBrand">{{
              $t('editor.save')
            }}</v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
    <v-container fluid>
      <v-row
        v-if="isHome"
        v-resize="onResize"
        class="
          pt-3
          px-10
          justify-sm-space-between
          align-sm-center align-md-start
        "
      >
        <v-col cols="12" sm="5" md="3" class="justify-self-sm-center">
          <v-list color="transparent">
            <v-list-item-group>
              <v-list-item href="/" class="pl-0 pb-10">
                <Logo
                  height-image="95px"
                  :image-url="brandSettings.footer_logo"
                  position="left"
                />
              </v-list-item>
              <v-list-item
                :href="brandSettings.city_url ? brandSettings.city_url : '#'"
                target="_blank"
                class="font-poppins pl-0"
              >
                <v-list-item-content class="py-0">
                  <v-list-item-title
                    :style="{ color: brandSettings.footer_text_color }"
                    v-text="brandSettings.city_name"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item
                v-if="$store.getters['authconfig/isDID']"
                to="/what-is"
                class="font-poppins pl-0"
              >
                <v-list-item-content class="py-0">
                  <v-list-item-title
                    :style="{ color: brandSettings.footer_text_color }"
                    v-text="$t('preguntas-frecuentes')"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item
                v-if="brandSettings.terms"
                to="/terms-of-service"
                target="_blank"
                class="font-poppins pl-0"
              >
                <v-list-item-content class="py-0">
                  <v-list-item-title
                    :style="{ color: brandSettings.footer_text_color }"
                    v-text="$t('terms')"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item
                v-if="brandSettings.privacy"
                to="/notice-of-privacy"
                target="_blank"
                class="font-poppins pl-0"
              >
                <v-list-item-content class="py-0">
                  <v-list-item-title
                    :style="{ color: brandSettings.footer_text_color }"
                    v-text="$t('privacy')"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
            <template v-if="componentName === 'unicef-certs'">
              <v-divider
                class="my-2 divider"
                :style="{ 'border-color': brandSettings.footer_text_color }"
              ></v-divider>
              <a
                class="mb-3"
                :style="{
                  color: brandSettings.footer_text_color,
                  'font-weight': 100,
                  'text-decoration': 'none',
                }"
                href="https://www.unicef.org/legal"
                target="_blank"
              >
                Legal
              </a>
              <p
                class="font-lato font-weight-light"
                :style="{ color: brandSettings.footer_text_color }"
              >
                Find legal information and policies related to UNICEF’s digital
                communications
              </p>
            </template>
          </v-list>
        </v-col>
        <v-col
          v-if="$store.getters['authconfig/isDID']"
          cols="9"
          :sm="windowSize.x <= 815 ? 6 : windowSize.x <= 900 ? 5 : 5"
          md="4"
          lg="3"
        >
          <v-row class="align-center justify-center">
            <v-col cols="5" sm="4">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/mar-de-plata.appspot.com/o/brand%2Fapp-logo.png?alt=media&token=ad60e1f8-3abc-4486-8dd1-cceb70163711"
              >
              </v-img>
            </v-col>
            <v-col cols="7" lg="4" md="5" sm="8">
              <h3
                class="
                  pa-0
                  mt-2
                  font-poppins font-weight-bold
                  d-blocks
                  text-center
                "
              >
                Descargá la app oficial
              </h3>
            </v-col>
          </v-row>
          <v-row class="align-center justify-center">
            <v-col
              cols="6"
              :md="windowSize.x <= 1400 ? 6 : 5"
              class="px-0 mx-0"
            >
              <a :href="playstore_link" class="px-0"
                ><img
                  width="100%"
                  alt="Disponible en Google Play"
                  src="https://play.google.com/intl/es-419/badges/static/images/badges/es-419_badge_web_generic.png"
              /></a>
            </v-col>
            <v-col
              cols="6"
              :md="windowSize.x <= 1400 ? 6 : 5"
              align="center"
              class="px-0 mx-0"
            >
              <img
                width="88%"
                style="opacity: 0.5"
                :src="brandSettings.appStoreDowload"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col
          cols="12"
          :md="windowSize.x <= 1400 ? 3 : 4"
          class="ml-lg-10 pl-lg-10"
        >
          <v-col cols="12" class="px-0 pb-0">
            <h3
              class="contact-title font-poppins"
              :style="{ color: brandSettings.footer_text_color }"
            >
              {{ $t('contact') }}
            </h3>
          </v-col>
          <p
            class="subheading"
            :style="{ color: brandSettings.footer_text_color }"
          >
            {{ brandSettings.contact_info }}
          </p>
          <Contact />
        </v-col>
      </v-row>
      <v-row
        class="justify-center justify-md-space-between px-10"
        align="center"
      >
        <v-col cols="8" sm="6" md="3">
          <h4 class="text-center">
            <a
              :style="{ color: brandSettings.footer_text_color }"
              href="https://os.city"
              target="_blank"
              class="font-lato footer-copyright font-weight-bold"
            >
              <v-icon :style="{ color: brandSettings.footer_text_color }" small
                >mdi-flash</v-icon
              >
              by OS City
            </a>
          </h4>
        </v-col>
      </v-row>
    </v-container>
    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-footer>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'
import { mapGetters, mapMutations } from 'vuex'
import Contact from '@/components/public/Contact.vue'
import Logo from '@/components/public/Logo.vue'
import { updateBrand } from '~/services/Brand'

export default Vue.extend({
  name: 'Footer',
  components: {
    Contact,
    Logo,
  },
  props: {},
  data() {
    return {
      windowSize: {
        x: 0,
        y: 0,
      },
      playstore_link: '',
      playstore_icon: null,
      isEditing: false,
      loading: false,
      footer_dialog: false,
      isHome: this.$route.path === '/',
      backgroundTypes: [
        { type: 'lineal', text: this.$t('editor.linear_color') },
        { type: 'gradient', text: this.$t('editor.gradient_color') },
      ],
      urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
      componentName: process.env.FIREBASE_PROJECT_ID,
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 6000,
        text: '',
        right: '',
        top: '',
      },
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
      brand: 'brand/brand',
    }),
    brandSettings() {
      return _.cloneDeep(this.brand)
    },
    footer_background() {
      return this.brandSettings.footer_background_type === 'lineal'
        ? `background-color: ${this.brandSettings.footer_bg_primary}`
        : this.brandSettings.footer_background_type === 'gradient'
        ? `background-image: linear-gradient(to bottom, ${this.brandSettings.footer_bg_primary}, ${this.brandSettings.footer_bg_secondary}`
        : 'background-image: linear-gradient(to bottom, #0096da, #035d98)'
    },
  },
  watch: {
    $route(to) {
      this.isHome = to.path === '/'
    },
  },
  async mounted() {
    if (this.$store.getters['authconfig/isDID']) await this.getPlayStoreLink()

    this.onResize()
  },
  methods: {
    onResize() {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight }
    },
    ...mapMutations({
      setBrandSettings: 'brand/SET_BRAND',
    }),
    getPlayStoreLink() {
      this.$fire.firestore
        .collection('brandWallet')
        .limit(1)
        .get()
        .then((querySnapshot) => {
          this.playstore_link = querySnapshot.docs[0].data().playstore_link
          this.playstore_icon = querySnapshot.docs[0].data().playstore_icon
        })
    },
    async updateBrand() {
      this.loading = true
      try {
        await updateBrand(this.$fire, this.brandSettings.id, this.brandSettings)
        this.setBrandSettings(this.brandSettings)
      } catch {
        this.snackbar.show = true
        this.snackbar.text = 'No se pudo guardar la actualización'
        this.snackbar.color = 'error'
      }
      this.loading = false
      this.isEditing = false
      this.footer_dialog = false
    },

    onFileSelected(event) {
      this.loading = true
      const self = this
      const storage = this.$fire.storage
      const target = event.target.id
      const file = event.target.files[0]
      const photosRef = storage.ref().child(`brand/images/${target}`)
      photosRef
        .put(file)
        .then((snapshot) => {
          snapshot.ref.getDownloadURL().then(function (downloadURL) {
            self.brandSettings[target] = downloadURL
          })
        })
        .catch((err) => {
          this.snackbar.show = true
          this.snackbar.text = err.message
          this.snackbar.color = 'error'
        })
      this.loading = false
      this.isEditing = false
    },
    restoreDefaultLogo() {
      this.brandSettings.footer_logo =
        'https://firebasestorage.googleapis.com/v0/b/playground-gcp-201118.appspot.com/o/brand%2F4010fc67-09a4-41a8-8851-29fc2a45d6bb?alt=media&token=984cee1d-2955-4231-807d-21dfa45b8746'
    },
  },
})
</script>

<style scoped>
.contact-title {
  font-size: 1.125em !important;
}

.v-list-item {
  min-height: 2.5em;
}
.v-list-item__title {
  font-size: 1.1875em;
  white-space: normal;
}

@media (min-width: 960px) {
  .footer-copyright {
    white-space: nowrap;
  }
}
.footer-copyright {
  text-decoration: none;
  font-size: 1.0625em;
}

.v-text-field >>> input {
  padding: 0 !important;
}

.divider {
  width: 20%;
}
</style>
