<template>
  <div>
    <Sidebar
      v-model="drawer"
      v-resize="onResize"
      @close-drawer="drawer = $event"
    />
    <v-app-bar
      dark
      :style="
        ({ boxShadow: $store.getters['isHomeTop'] ? 'unset' : '' },
        header_background)
      "
      :clipped-left="clipped"
      app
      class="fixed-bar"
    >
      <v-app-bar-nav-icon
        v-show="
          ($store.getters['loggedIn'] &&
            windowSize.x > 1300 &&
            !$store.getters['authconfig/isDID']) ||
          !(windowSize.x > 1300)
        "
        :style="{
          color: $store.getters['brand/getHeaderTextColor']
            ? $store.getters['brand/getHeaderTextColor']
            : '#ffffff',
        }"
        @click="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <v-col
        class="d-flex pl-0"
        :md="$vuetify.breakpoint.mdAndUp ? '2' : '6'"
        :class="{
          'justify-start': $vuetify.breakpoint.mdAndUp,
          'justify-center': !$vuetify.breakpoint.smAndDown && user,
        }"
      >
        <nuxt-link class="link-image" to="/">
          <Logo
            :height-image="
              $store.getters['brand/getHeightLogo']
                ? $store.getters['brand/getHeightLogo']
                : '38px'
            "
            :image-url="$store.getters['brand/logo']"
          />
        </nuxt-link>
      </v-col>
      <!-- <template v-if="!$store.getters['loggedIn']"> -->
      <v-col
        v-if="windowSize.x > 1300"
        md="10"
        sm="11"
        class="d-flex justify-end align-center"
      >
        <template v-if="brand.needsInfo">
          <div
            class="mr-2"
            :style="{
              borderRight: '1px solid',
              borderColor: $store.getters['brand/getPrimaryColor'],
            }"
          >
            <v-btn
              plain
              depressed
              small
              text
              :color="
                $store.getters['brand/getHeaderTextColor']
                  ? $store.getters['brand/getHeaderTextColor']
                  : '#ffffff'
              "
              to="/"
              class="text-capitalize"
            >
              <v-icon left>mdi-home-city-outline</v-icon>
              Inicio
            </v-btn>
            <v-btn
              plain
              depressed
              small
              text
              :color="
                $store.getters['brand/getHeaderTextColor']
                  ? $store.getters['brand/getHeaderTextColor']
                  : '#ffffff'
              "
              to="/what-is"
              class="text-capitalize"
            >
              <v-icon left>mdi-account-question-outline</v-icon>
              ¿Qué es {{ brand.app_name }}?
            </v-btn>
            <v-btn
              plain
              depressed
              small
              text
              :color="
                $store.getters['brand/getHeaderTextColor']
                  ? $store.getters['brand/getHeaderTextColor']
                  : '#ffffff'
              "
              to="/digital-citizen"
              class="text-capitalize"
            >
              <v-icon left>mdi-fingerprint</v-icon>
              ¿Cómo ser Ciudadano Digital?
            </v-btn>
            <v-btn
              v-if="activeProcedures.length > 0"
              plain
              depressed
              small
              text
              :color="
                $store.getters['brand/getHeaderTextColor']
                  ? $store.getters['brand/getHeaderTextColor']
                  : '#ffffff'
              "
              to="/procedures"
              class="text-capitalize"
            >
              <v-icon left>mdi-folder-open-outline</v-icon>
              Trámites Disponibles
            </v-btn>
          </div>
          <v-col
            v-if="$store.getters['loggedIn']"
            :cols="6"
            sm="5"
            md="3"
            xl="2"
            class="d-flex justify-start"
            :class="{ 'py-0': $store.getters['loggedIn'] }"
          >
            <div id="login-border"></div>
            <AvatarMenu :with-padding="false" />
          </v-col>
        </template>
        <template
          v-if="
            !$store.getters['loggedIn'] &&
            (!$store.getters['authconfig/autenticar'] ||
              $store.getters['authconfig/register'])
          "
        >
          <v-btn
            v-if="$store.getters['authconfig/register']"
            id="signup"
            class="text-capitalize mr-3"
            text
            :style="{
              color: $store.getters['isHomeTop']
                ? $store.getters['brand/getPrimaryColor']
                : $store.getters['brand/getSecondaryColor'],
            }"
            to="/register"
          >
            {{ editedTexts.headerSection.register_button }}
          </v-btn>
          <v-btn
            v-if="$store.getters['authconfig/email']"
            id="login"
            depressed
            class="text-capitalize"
            :style="{
              background: $store.getters['isHomeTop']
                ? $store.getters['brand/getPrimaryColor']
                : $store.getters['brand/getSecondaryColor'],
            }"
            to="/login"
          >
            {{ editedTexts.headerSection.login_button }}
          </v-btn>
        </template>
      </v-col>
      <!-- </template> -->
      <template v-if="$store.getters['loggedIn']">
        <v-dialog
          v-if="user && user.type === 'superadmin'"
          v-model="header_dialog"
          transition="dialog-bottom-transition"
          max-width="600"
        >
          <template #activator="{ on, attrs }">
            <v-btn
              id="btnDialogHeader"
              class="mx-2"
              absolute
              right
              fab
              dark
              small
              color="primary"
              v-bind="attrs"
              v-on="on"
              @click="header_dialog = true"
            >
              <v-icon dark>mdi-pencil</v-icon>
            </v-btn>
          </template>
          <template #default="dialog">
            <v-card :loading="loading">
              <template slot="progress">
                <v-progress-linear
                  color="primary"
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <v-toolbar color="primary" dark>{{
                $t('editor.header_style')
              }}</v-toolbar>
              <v-card-title>{{ $t('editor.background_style') }}</v-card-title>
              <v-card-text class="mt-3">
                <v-select
                  v-model="brandSettings.header_background_type"
                  :items="backgroundTypes"
                  item-text="text"
                  item-value="type"
                  :rules="[(v) => !!v || $t('editor.required_background_type')]"
                  solo
                  required
                ></v-select>
              </v-card-text>
              <v-card-text
                v-if="brandSettings.header_background_type === 'lineal'"
              >
                <v-text-field
                  v-model="brandSettings.header_bg_primary"
                  :value="brandSettings.header_bg_primary"
                  prepend-icon="mdi-eyedropper-variant"
                  type="color"
                  :label="$t('editor.select_color')"
                  class="py-0"
                  width="50%"
                ></v-text-field>
              </v-card-text>
              <v-card-text
                v-if="brandSettings.header_background_type === 'gradient'"
              >
                <v-text-field
                  v-model="brandSettings.header_bg_primary"
                  :value="brandSettings.header_bg_primary"
                  prepend-icon="mdi-eyedropper-variant"
                  type="color"
                  :label="$t('editor.select_left_color')"
                  class="py-0"
                  width="50%"
                ></v-text-field>
                <v-text-field
                  v-model="brandSettings.header_bg_secondary"
                  :value="brandSettings.header_bg_secondary"
                  prepend-icon="mdi-eyedropper-variant"
                  type="color"
                  :label="$t('editor.select_right_color')"
                  class="py-0"
                  width="50%"
                ></v-text-field>
              </v-card-text>
              <v-divider class="mx-4"></v-divider>
              <v-card-title>Logo</v-card-title>
              <v-card-text>
                <v-row no-gutters justify="center">
                  <v-col cols="8">
                    <v-card :style="header_background" class="py-2">
                      <v-img
                        height="50"
                        :src="brandSettings.logo"
                        contain
                        outlined
                      >
                        <template #placeholder>
                          <v-row
                            class="fill-height ma-0"
                            align="center"
                            justify="center"
                          >
                            <v-progress-circular
                              indeterminate
                              color="grey lighten-5"
                            ></v-progress-circular>
                          </v-row>
                        </template>
                      </v-img>
                    </v-card>
                  </v-col>
                </v-row>

                <v-row no-gutters justify="center">
                  <v-col cols="8">
                    <v-row no-gutters justify="space-between">
                      <input
                        v-show="false"
                        id="logo"
                        ref="logo"
                        type="file"
                        accept="image/*"
                        @change="onFileSelected()"
                      />
                      <v-btn
                        color="primary"
                        width="40%"
                        :title="$t('editor.upload_image')"
                        @click="$refs.logo.click()"
                      >
                        <v-icon>mdi-cloud-upload</v-icon>
                      </v-btn>
                      <v-btn
                        id="restoreBtn"
                        color="primary"
                        width="40%"
                        :title="$t('editor.restore_image')"
                        @click="restoreDefaultLogo()"
                      >
                        <v-icon>mdi-backup-restore</v-icon>
                      </v-btn>
                    </v-row>
                  </v-col>
                </v-row>
              </v-card-text>

              <v-card-actions class="justify-end">
                <v-btn text color="error" @click="dialog.value = false">{{
                  $t('editor.cancel')
                }}</v-btn>
                <v-btn
                  id="saveBtn"
                  text
                  color="primary"
                  @click="updateBrand()"
                  >{{ $t('editor.save') }}</v-btn
                >
              </v-card-actions>
            </v-card>
          </template>
        </v-dialog>
      </template>
    </v-app-bar>
    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import _ from 'lodash'
import { mapGetters, mapMutations } from 'vuex'

import Sidebar from '@/components/public/Sidebar.vue'
import Logo from '@/components/public/Logo.vue'
import AvatarMenu from '@/components/public/AvatarMenu.vue'
import SendEmailVerificationMixin from '@/mixins/SendEmailVerificationMixin'
import { updateBrand } from '~/services/Brand'

declare module 'vue/types/vue' {
  interface Vue {
    $autenticar: any
  }
}

declare global {
  interface Window {
    recaptchaVerifierPasswordReset: any
    recaptchaWidgetPasswordResetId: any
  }
}

export default Vue.extend({
  name: 'Header',
  components: {
    Sidebar,
    Logo,
    AvatarMenu,
  },
  mixins: [SendEmailVerificationMixin],
  props: {},
  data() {
    return {
      windowSize: {
        x: 0,
        y: 0,
      },
      project_id: process.env.FIREBASE_PROJECT_ID || '',
      isEditing: false,
      loading: false,
      header_dialog: false,
      linear_color: this.$t('editor.linear_color'),
      backgroundTypes: [
        { type: 'lineal', text: this.$t('editor.linear_color') },
        { type: 'gradient', text: this.$t('editor.gradient_color') },
      ],
      urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 6000,
        text: '',
        right: '',
        top: '',
      },
      clipped: false,
      drawer: false,
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
      brand: 'brand/brand',
      editedTexts: 'landingtext/landingtext',
      activeProcedures: 'procedures/getActiveProcedures',
    }),
    brandSettings(): any {
      return _.cloneDeep(this.brand)
    },
    header_background(): string {
      return this.brandSettings.header_background_type === 'lineal'
        ? `background-color: ${this.brandSettings.header_bg_primary}`
        : this.brandSettings.header_background_type === 'gradient'
        ? `background-image: linear-gradient(to right, ${this.brandSettings.header_bg_primary}, ${this.brandSettings.header_bg_secondary}`
        : 'background-image: linear-gradient(to right, #0096da, #035d98)'
    },
  },
  mounted() {
    this.onResize()
  },
  methods: {
    ...mapMutations({
      setBrandSettings: 'brand/SET_BRAND',
    }),
    onResize() {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight }
    },
    autenticar(reino: string) {
      this.$autenticar.init(reino)
    },
    async updateBrand() {
      this.loading = true
      try {
        await updateBrand(this.$fire, this.brandSettings.id, this.brandSettings)
        this.setBrandSettings(this.brandSettings)
      } catch {
        this.snackbar.show = true
        this.snackbar.text = 'No se pudo guardar la actualización'
        this.snackbar.color = 'error'
      }
      this.loading = false
      this.isEditing = false
      this.header_dialog = false
    },
    onFileSelected(event: any) {
      this.loading = true
      const self = this
      const storage = this.$fire.storage
      const target: string = event.target.id
      const file = event.target.files[0]
      const photosRef = storage.ref().child(`brand/images/${target}`)
      photosRef
        .put(file)
        .then((snapshot: any) => {
          snapshot.ref.getDownloadURL().then(function (downloadURL: string) {
            ;(self as any).brandSettings[target] = downloadURL
          })
        })
        .catch((err: any) => {
          this.snackbar.show = true
          this.snackbar.text = err.message
          this.snackbar.color = 'error'
        })
      this.loading = false
      this.isEditing = false
    },
    restoreDefaultLogo() {
      this.brandSettings.logo =
        'https://firebasestorage.googleapis.com/v0/b/playground-gcp-201118.appspot.com/o/brand%2F4010fc67-09a4-41a8-8851-29fc2a45d6bb?alt=media&token=984cee1d-2955-4231-807d-21dfa45b8746'
    },
  },
})
</script>

<style scoped>
.link-image {
  width: 100%;
}
.v-text-field >>> input {
  padding: 0 !important;
}

.no-uppercase {
  text-transform: none;
}
</style>
