<template>
  <v-img
    aspect-ratio="3"
    contain
    :src="imageUrl ? imageUrl : $store.getters['brand/logo']"
    alt="Logo"
    :height="heightLogo"
    min-height="55px"
    :position="position"
  ></v-img>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'Logo',
  components: {},
  props: {
    heightImage: {
      type: String,
      required: false,
      default: '',
    },
    imageUrl: {
      type: String,
      required: false,
      default: '',
    },
    position: {
      type: String,
      required: false,
      default: 'center',
    },
  },
  computed: {
    heightLogo() {
      return this.heightImage
    },
  },
})
</script>

<style>
.VuetifyLogo {
  transform: rotateY(560deg);
  animation: turn 3.5s ease-out forwards 1s;
}

@keyframes turn {
  100% {
    transform: rotateY(0deg);
  }
}
</style>
