<template>
  <v-snackbar
    v-model="show"
    dark
    bottom
    right
    :timeout="timeout"
    :color="color"
  >
    {{ text }}
    <template #action="{ attrs }">
      <v-btn
        color="white"
        text
        v-bind="attrs"
        @click="$store.dispatch('notifications/close')"
      >
        Cerrar
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      color: '',
      text: '',
      timeout: -1,
    }
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'notifications/SHOW_NOTIFICATION') {
        this.text = state.notifications.text
        this.color = state.notifications.color
        this.timeout = state.notifications.timeout
        this.show = state.notifications.show
      } else if (mutation.type === 'notifications/CLOSE_NOTIFICATION') {
        this.show = state.notifications.show
      }
    })
  },
  beforeDestroy() {
    this.unsubscribe()
  },
}
</script>
