<template>
  <v-navigation-drawer
    :value="value"
    width="300"
    height="100%"
    class="pb-5"
    app
    fixed
    disable-resize-watcher
    temporary
    @input="$emit('input', $event)"
  >
    <v-list class="menu-sidebar">
      <v-list-item-group>
        <div
          class="pt-5 pb-1 pl-10"
          :style="{ backgroundColor: brandSettings.hero_bg_primary }"
        >
          <Logo
            height-image="100px"
            :image-url="$store.getters['brand/logoFooter']"
            position="left"
            to="/"
          />

          <template v-if="!$store.getters['loggedIn']">
            <div class="py-3">
              <v-btn
                id="login-button"
                dark
                small
                plain
                to="/login"
                class="text-none font-weight-bold"
              >
                <v-icon left>mdi-account-outline</v-icon>
                {{ editedTexts.headerSection.login_button }}
              </v-btn>
              <v-btn
                v-if="$store.getters['authconfig/register']"
                dark
                small
                plain
                to="/register"
                class="text-none font-weight-bold"
              >
                <v-icon left>mdi-login</v-icon>
                {{ editedTexts.headerSection.register_button }}
              </v-btn>
            </div>
          </template>
          <template v-else>
            <AvatarMenu with-padding />
          </template>
        </div>
      </v-list-item-group>
    </v-list>
    <template v-if="$store.getters['brand/needsInfo']">
      <template v-if="userVerified">
        <v-list-item class="pl-7" to="/">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-home-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="font-weight-bold">
            {{ $t('home') }}
          </v-list-item-title>
        </v-list-item>
        <v-list-item class="pl-7" to="/digital-citizen">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-fingerprint</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="font-weight-bold">
            ¿Cómo ser Ciudadano Digital?
          </v-list-item-title>
        </v-list-item>
        <v-list-item class="pl-7" to="/what-is">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-account-question-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="font-weight-bold">
            ¿Qué es {{ brand.app_name }}?
          </v-list-item-title>
        </v-list-item>
        <v-list-group
          v-if="activeProcedures.length > 0"
          class="pl-3"
          no-action
          :value="true"
        >
          <template #activator>
            <v-list-item-icon class="mr-4"
              ><v-icon> mdi-folder-multiple-outline</v-icon></v-list-item-icon
            >
            <v-list-item-content class="font-weight-bold" :value="true">
              Trámites
            </v-list-item-content>
          </template>
          <v-list-item class="pl-8" to="/procedures">
            <v-list-item-icon class="mr-3">
              <v-icon>mdi-folder-open-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-2">
              Trámites disponibles
            </v-list-item-title>
          </v-list-item>
          <v-list-item
            v-for="procedure in activeProcedures"
            :key="procedure.name"
            class="pl-8"
            :to="`/procedures/${procedure.id}`"
          >
            <v-list-item-icon class="mr-3">
              <v-icon>mdi-folder-text-outline</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="text-body-2">{{
              procedure.title
            }}</v-list-item-title>
          </v-list-item>
        </v-list-group>
      </template>
      <template v-else>
        <v-list-item class="pl-7" to="/">
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-home-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="font-weight-bold">
            {{ $t('home') }}
          </v-list-item-title>
        </v-list-item>
        <v-list-item
          v-if="$store.getters['authconfig/isDID']"
          class="pl-7"
          :to="
            user.email && !userHavePublicAddress
              ? '/complete-data?step=3'
              : '/complete-data?step=2'
          "
        >
          <v-list-item-icon class="mr-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-icon>
          <v-list-item-title class="font-weight-bold">
            Completar Registro
          </v-list-item-title>
        </v-list-item>
      </template>
    </template>
    <template v-else>
      <v-list-item class="pl-7" to="/">
        <v-list-item-icon class="mr-3">
          <v-icon>mdi-home-outline</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="font-weight-bold">
          {{ $t('home') }}
        </v-list-item-title>
      </v-list-item>
      <v-list-item
        v-if="user && (user.type === 'superadmin' || user.type === 'operator')"
        class="pl-7"
        to="/admin/certificates/data-certificates"
      >
        <v-list-item-icon class="mr-3">
          <v-icon>mdi-mailbox</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="font-weight-bold">
          {{ $t('inbox') }}
        </v-list-item-title>
      </v-list-item>
      <!-- TODO: Modificar Ruta de Analytics dependiendo de la instancia -->
      <v-list-item
        v-if="
          $store.getters['authconfig/withAnalytics'] &&
          (user.type === 'superadmin' || user.type === 'operator')
        "
        class="pl-7"
        to="/admin/certificates/analytics-unicef"
      >
        <v-list-item-icon class="mr-3">
          <v-icon>mdi-chart-bar</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="font-weight-bold">
          {{ $t('analytics.analytics') }}
        </v-list-item-title>
      </v-list-item>
      <!-- Create new users Only for Unicef -->
      <v-list-item
        v-if="
          $store.getters['authconfig/createNewAdmin'] &&
          user &&
          user.type === 'superadmin'
        "
        class="pl-7"
        to="/admin/certificates/createNewAdmin"
      >
        <v-list-item-icon class="mr-3">
          <v-icon>mdi-account-plus</v-icon>
        </v-list-item-icon>
        <v-list-item-title class="font-weight-bold">
          {{ $t('registerSectionTitle') }}
        </v-list-item-title>
      </v-list-item>
    </template>

    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-navigation-drawer>
</template>

<script lang="ts">
// mdi-account-question-outline
import Vue from 'vue'

import _ from 'lodash'
import axios from 'axios'
import { mapGetters } from 'vuex'
import Logo from '@/components/public/Logo.vue'
import AvatarMenu from '@/components/public/AvatarMenu.vue'

export default Vue.extend({
  name: 'Sidebar',
  components: {
    AvatarMenu,
    Logo,
  },
  props: {
    value: {
      type: Boolean,
      default: true,
      required: true,
    },
  },
  data() {
    return {
      userIsRegistered: false,
      userHavePublicAddress: false,
      isLoading: false,
      // procedures: [],
      urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
      loading: false,
      // logoutLoading: false,
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 6000,
        text: '',
        right: '',
        top: '',
      },
      certificatesMenuCitizen: [
        [
          'Portadocumentos',
          'mdi-text-box-check-outline',
          '/citizen/certificates/',
        ],
        ['Clave Fiscal', 'mdi-account', '/citizen/certificates/clave_fiscal'],
        ['DNI Cultural', 'mdi-account', '/citizen/certificates/cultural-dni'],
      ],
      certificatesMenuOperator: [
        ['Extractos', 'mdi-lock', '/admin/certificates/data-certificates'],
      ],
      isDervinsa: process.env.FIREBASE_PROJECT_ID === 'dervinsa-6a138',
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
      brand: 'brand/brand',
      editedTexts: 'landingtext/landingtext',
      activeProcedures: 'procedures/getActiveProcedures',
    }),
    userVerified(): boolean {
      return this.user?.uid
        ? this.userIsRegistered && this.userHavePublicAddress
        : true
    },
    brandSettings(): any {
      return _.cloneDeep(this.brand)
    },
    hero_background(): string {
      return this.brandSettings.hero_background_type === 'lineal'
        ? `background-color: ${this.brandSettings.hero_bg_primary}`
        : this.brandSettings.hero_background_type === 'gradient'
        ? `background-image: linear-gradient(to bottom, ${this.brandSettings.hero_bg_primary}, ${this.brandSettings.hero_bg_secondary})`
        : this.brandSettings.hero_background_type === 'image'
        ? `background-image: url(${this.brandSettings.hero_bg_image}); background-size: cover; background-position: center;`
        : 'background-image: linear-gradient(to bottom, #5d306f, #bd0b4d)'
    },
  },
  watch: {
    user(newValue, oldValue) {
      if (newValue !== oldValue) {
        if (this.user?.uid) this.verifyUserRegistration(this.user.uid)
      }
    },
  },
  mounted() {
    if (this.user?.uid) this.verifyUserRegistration(this.user.uid)
    this.certificatesMenuCitizen = this.certificatesMenuCitizen.filter(
      // eslint-disable-next-line array-callback-return
      (value) => {
        return value[0] !== 'Clave Fiscal'
      }
    )
    if (this.isDervinsa) {
      this.certificatesMenuOperator[0][0] = 'Acid'
    }
  },
  methods: {
    async verifyUserRegistration(uid: string) {
      if (this.user?.uid) {
        try {
          const resp = await axios.post(
            `${process.env.OSCITY_ENDPOINTS_URL}/userEmailExist`,
            {
              uid,
            }
          )
          const email = resp.data.user.email
          const emailValidation = email !== null && email !== ''
          const providerValidation = resp.data.user.providerData.length > 0
          this.userIsRegistered = emailValidation && providerValidation
        } catch {
          this.userIsRegistered = false
        }
      }
      if (this.user.public_address) {
        this.userHavePublicAddress = true
      } else {
        this.userHavePublicAddress = false
      }
    },
  },
})
</script>

<style scoped>
.sidebar-header {
  background: #bd0b4d; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #bd0b4d 0%,
    #5d306f 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #bd0b4d 0%,
    #5d306f 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #bd0b4d 0%, #5d306f 100%);
}
.menu-sidebar {
  position: relative;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 0 !important;
}
.header-background {
  background-color: #0a0b0c;
}
.close-session {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

::v-deep
  .v-btn--plain:not(.v-btn--active):not(.v-btn--loading):not(:focus):not(:hover)
  .v-btn__content {
  opacity: 1;
}
</style>
