<template>
  <svg width="63.193" height="78.697" viewBox="0 0 63.193 78.697">
    <g transform="translate(0 0)">
      <g transform="translate(0 0)">
        <path
          d="M334.41,897.262a52.836,52.836,0,0,1,3.254-13.139c3.686-8.6,9.064-15.691,17.854-19.594,9.674-4.3,18.677-2.6,26.818,3.725,8.251,6.413,12.674,15.215,14.36,25.381,1.96,11.816-.046,22.934-6.738,32.994-4.957,7.451-11.639,12.492-20.638,14.067a29.036,29.036,0,0,1-9.109-.479,31.957,31.957,0,0,1-6.646-2.544c-7.685-4.194-12.542-10.8-15.905-18.68a53.239,53.239,0,0,1-3.25-13.134A48.951,48.951,0,0,1,334.41,897.262Zm2.8,4.249a40.474,40.474,0,0,0,.363,5.541c1.172,8.952,4.485,16.885,10.99,23.308,4.719,4.66,10.315,7.59,17.013,7.62,8.563.038,15.179-4.141,20.292-10.679,6.94-8.875,9.432-19.1,8.312-30.244-.995-9.906-4.744-18.517-12.164-25.349-9.508-8.757-23.04-8.679-32.494.142C340.916,879.883,337.526,890.055,337.213,901.511Z"
          transform="translate(-334.22 -862.153)"
          fill="#fbfbfd"
        />
        <path
          d="M352.424,907.339q0-11.088,0-22.178c0-3.317.291-3.62,3.509-3.617,4.884,0,9.772-.109,14.651.049,5.4.175,10.467,1.459,14.557,5.366a16.929,16.929,0,0,1,5.023,10.963,21.244,21.244,0,0,1-1.709,11.174,3.232,3.232,0,0,0-.171,2.238c1.2,5.036,2.267,10.106,3.556,15.118a4.577,4.577,0,0,1-.786,4.087,5.3,5.3,0,0,1-5.094,2.656c-10.122-.166-20.25-.07-30.375-.07-2.742,0-3.159-.425-3.159-3.248Q352.421,918.607,352.424,907.339Zm2.418.01c0,7.272.019,14.543-.019,21.815-.005,1.164.238,1.735,1.564,1.73q16.167-.06,32.333-.007c1.3,0,1.626-.352,1.3-1.684-1.405-5.782-2.68-11.595-4.057-17.385a4.83,4.83,0,0,1,.241-3.431,18.652,18.652,0,0,0,1.631-6.359c.9-9.388-4.161-16.087-13.475-17.661-5.853-.989-11.761-.384-17.641-.593-1.507-.053-1.921.472-1.908,1.94C354.877,892.925,354.841,900.138,354.841,907.349Z"
          transform="translate(-339.65 -867.927)"
          fill="#fbfbfd"
        />
        <path
          d="M357.544,877.47c1.057-1.357,1.926-2.407,3.2-2.4,6.059.034,12.144-.483,18.143.94,12.269,2.914,18.891,12.93,17.343,26.114a4.6,4.6,0,0,1-.239,1.4c-2.282,4.8-.617,9.428.615,14.047a5.643,5.643,0,0,1-.983,5.421,5.68,5.68,0,0,1-.865-2.571c-.795-3.3-1.468-6.634-2.295-9.928a6.552,6.552,0,0,1,.21-3.814c2.151-6.63,2.158-13.219-1.42-19.364-3.4-5.833-8.921-8.544-15.427-9.475-5.219-.747-10.47-.218-15.7-.372C359.419,877.453,358.713,877.47,357.544,877.47Z"
          transform="translate(-341.178 -865.987)"
          fill="#fbfbfd"
        />
        <path
          d="M348.51,930.617c-1.354-2.142-2.3-3.848-2.282-6.1q.138-15.292,0-30.585c-.02-2.253.926-3.957,2.281-6.08Z"
          transform="translate(-337.802 -869.819)"
          fill="#fbfbfd"
        />
        <path
          d="M372.966,958.015c4.527,0,9.054-.008,13.582.011.439,0,1.068-.256,1.282.282.232.581-.475.707-.774,1.032a3.386,3.386,0,0,1-2.746.975q-11.348-.048-22.7.008a3.815,3.815,0,0,1-2.893-1.084c-.281-.275-.835-.428-.63-.936.2-.485.731-.277,1.114-.279C363.792,958.01,368.38,958.015,372.966,958.015Z"
          transform="translate(-341.328 -890.737)"
          fill="#fbfbfd"
        />
        <path
          d="M367.412,871.19c6.4-3.605,17.7-1.869,21.5,3.4C381.98,870.973,374.935,871.118,367.412,871.19Z"
          transform="translate(-344.122 -864.282)"
          fill="#fbfbfd"
        />
        <path
          d="M342.806,902.643v21.97A36.06,36.06,0,0,1,342.806,902.643Z"
          transform="translate(-336.27 -874.232)"
          fill="#fbfbfd"
        />
        <path
          d="M366.834,964.4h17.223C380.562,967.2,371.612,967.428,366.834,964.4Z"
          transform="translate(-343.949 -892.657)"
          fill="#fbfbfd"
        />
        <path
          d="M415.322,924.687c-.883-3.345-1.815-6.22-.56-9.379.9-2.263.837-4.769.772-7.317C417,910.213,416.91,920.287,415.322,924.687Z"
          transform="translate(-358.066 -875.828)"
          fill="#fbfbfd"
        />
        <path
          d="M358.541,909.217c0-6.5.042-13-.031-19.5-.017-1.5.448-1.962,1.928-1.914,4.7.154,9.4-.056,14.11.224,7.561.45,12.579,5.5,12.855,13.1a16.866,16.866,0,0,1-1.931,9.145,3.457,3.457,0,0,0-.266,2.72c1.284,5.326,2.44,10.682,3.742,16,.309,1.259.194,1.7-1.215,1.689q-13.765-.068-27.529,0c-1.393.008-1.7-.511-1.686-1.782C358.567,922.339,358.541,915.779,358.541,909.217Zm2.443-.158c0,5.783.037,11.565-.027,17.346-.015,1.405.418,1.858,1.839,1.846q10.9-.091,21.8,0c1.344.01,1.762-.224,1.392-1.67-1.151-4.5-2.122-9.041-3.262-13.541a4.178,4.178,0,0,1,.394-3.4,15.007,15.007,0,0,0,1.854-8.6c-.276-5.806-3.522-9.561-9.284-10.5-4.318-.7-8.679-.154-13.014-.36-1.346-.065-1.732.373-1.716,1.709C361.023,897.613,360.984,903.337,360.984,909.059Z"
          transform="translate(-341.466 -869.803)"
          fill="#fbfbfd"
        />
        <path
          d="M366.158,911.355c0-4.888.036-9.777-.024-14.665-.016-1.3.342-1.817,1.709-1.761,3.149.128,6.3-.087,9.454.262,4.335.481,6.836,3.154,7.091,7.531.224,3.826-.323,7.285-3.858,9.558-.424.273-.638.526-.208.966,2.079,2.129,2.494,4.932,3.1,7.661q.563,2.527,1.176,5.039c.29,1.189.186,1.847-1.371,1.851-4.929.014-4.9.072-5.686-4.854a31.238,31.238,0,0,0-1.737-7.274c-.472-1.126-1.107-1.741-2.435-1.517-1.471.247-.9,1.347-.917,2.1q-.089,4.916-.007,9.836c.02,1.175-.264,1.687-1.583,1.7-4.709.05-4.708.1-4.708-4.635Zm6.1-6.573c0,1.249.073,2.5-.021,3.747-.1,1.293.51,1.477,1.6,1.362,3.412-.362,4.48-1.7,4.469-5.744-.011-3.542-1.088-4.575-4.584-4.547-1.053.007-1.535.322-1.479,1.433C372.307,902.28,372.259,903.533,372.259,904.782Z"
          transform="translate(-343.74 -871.93)"
          fill="#fbfbfd"
        />
      </g>
    </g>
  </svg>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'AutenticarDni',
})
</script>
