<template>
  <svg width="82.084" height="78.432" viewBox="0 0 82.084 78.432">
    <path
      id="Trazado_2014"
      data-name="Trazado 2014"
      d="M1011.154,935.929c-7.024-15.566-14.188-31.069-20.867-46.786-.926-2.179-2.058-4.076-4.327-5.063H966.918A9.729,9.729,0,0,0,962.735,889q-11.39,25.1-22.888,50.161-4.263,9.331-8.539,18.656v1.973c.888,1.477,1.894,2.727,3.875,2.723,12.521-.02,25.042.009,37.561-.029a4.776,4.776,0,0,0,4.637-3.08c1.248-2.859,2.561-5.691,3.771-8.566a1.589,1.589,0,0,1,1.74-1.131c7.783.036,15.57-.093,23.35.064a6.964,6.964,0,0,0,7.008-8.464A24.443,24.443,0,0,0,1011.154,935.929Zm-37.389,21.124a1.651,1.651,0,0,1-1.786,1.109c-5.808-.035-11.618-.018-17.427-.018s-11.619-.014-17.428.015c-.94.006-1.249-.079-.775-1.113q14.887-32.476,29.726-64.977c1.857-4.056.884-3.474,5.5-3.5,4.08-.026,8.158.022,12.237-.023a2.026,2.026,0,0,1,2.158,1.406q4.087,9.509,8.277,18.973a2.518,2.518,0,0,1-.054,2.224Q983.951,934.088,973.765,957.053Zm31.976-11.558c-7-.138-14.006-.053-21.01-.036-.764,0-1.169-.018-.738-.979q6.452-14.386,12.847-28.8c.033-.074.087-.138.26-.4,1.574,3.461,3.071,6.738,4.558,10.017q3.281,7.234,6.553,14.474c.187.411.383.818.552,1.238C1009.886,943.777,1008.357,945.547,1005.741,945.495Z"
      transform="translate(-931.309 -884.08)"
      fill="#fbfbfd"
    />
  </svg>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'AutenticarAfip',
})
</script>
