<template>
  <svg class="oscityIcon" viewBox="0 0 45.276 69.617">
    <defs>
      <linearGradient id="mygradient">
        <stop
          offset="0%"
          :stop-color="$store.getters['brand/getHeroPrimaryColor']"
        />

        <stop
          offset="100%"
          :stop-color="$store.getters['brand/getHeroSecondaryColor']"
        />
      </linearGradient>
    </defs>
    <path
      d="M.005,28.854q0-13.465,0-26.929C.006.468.463.012,1.922.012Q16.714.012,31.506,0a2.533,2.533,0,0,1,1.955.8q5.474,5.526,11,11a2.545,2.545,0,0,1,.817,1.952q-.026,20.979-.013,41.958c0,1.509-.442,1.949-1.953,1.949-3.126,0-6.253,0-9.379,0-1.1,0-1.719-.675-1.574-1.66.116-.788.634-1.2,1.583-1.2,2.542-.01,5.084-.031,7.624.015.7.012.829-.206.828-.857q-.028-19.224,0-38.448c0-.72-.21-.878-.891-.87-3,.036-6,.018-9,.014-1.44,0-1.881-.438-1.881-1.852,0-3.077-.012-6.154.011-9.231,0-.521-.128-.694-.673-.693q-13.191.024-26.382,0c-.595,0-.706.194-.706.743q.021,25.213,0,50.426c0,.6.153.775.76.767,2.567-.033,5.134-.021,7.7-.011.918,0,1.42.39,1.563,1.139a1.367,1.367,0,0,1-1.344,1.719q-5.07.032-10.141,0a1.4,1.4,0,0,1-1.4-1.339,6.622,6.622,0,0,1-.008-.686q0-13.388,0-26.777M40.068,11.778l-6.576-6.67c0,2.113,0,4.192,0,6.272,0,.294.111.4.4.4,2.076-.007,4.153,0,6.175,0"
      transform="translate(0 0)"
    />
    <path
      d="M84.978,202.484c.3.033.4-.175.535-.308q1.921-1.906,3.829-3.827a3.775,3.775,0,0,0,.393-2.662,1.515,1.515,0,0,0-.484-.349,3.841,3.841,0,0,1-1.662-4.31,3.762,3.762,0,0,1,3.735-2.791,3.839,3.839,0,0,1,1.975,7.082.814.814,0,0,0-.481.92c.38,2.063-.469,3.531-2.009,4.875-1.853,1.618-3.5,3.466-5.264,5.191a1.881,1.881,0,0,0-.619,1.472c.022,4.373.016,8.745.009,13.118a1.45,1.45,0,0,1-2.1,1.461A1.363,1.363,0,0,1,82,220.952c.011-2.415-.014-4.831.015-7.245a1.964,1.964,0,0,0-.676-1.584c-2.3-2.225-4.535-4.512-6.8-6.768a1.305,1.305,0,0,1-.414-1.018c.017-.864-.021-1.729.014-2.592a1.111,1.111,0,0,0-.578-1.111,3.785,3.785,0,0,1-1.113-5.3,3.841,3.841,0,0,1,5.1-1.268,3.887,3.887,0,0,1,.182,6.6,1.191,1.191,0,0,0-.594,1.028,3.5,3.5,0,0,0,1.4,3.438c1.016.835,1.882,1.853,2.819,2.784.156.155.276.369.545.4.2-.213.1-.479.1-.716q.01-9.457.01-18.915a1.012,1.012,0,0,0-.517-1.056,3.807,3.807,0,0,1-1.534-4.845,3.819,3.819,0,0,1,7.29,2.039,3.6,3.6,0,0,1-1.823,2.829.806.806,0,0,0-.5.757c.013,4.6.009,9.2.011,13.8a1.948,1.948,0,0,0,.036.269m-9.315-6.331a1.3,1.3,0,1,0,.009,2.6,1.3,1.3,0,1,0-.009-2.6m16.913-4.1a1.231,1.231,0,0,0-1.28-1.3,1.3,1.3,0,0,0-1.336,1.351,1.349,1.349,0,0,0,1.306,1.306,1.252,1.252,0,0,0,1.31-1.354m-9.065-9a1.3,1.3,0,1,0-.073,2.6,1.241,1.241,0,0,0,1.345-1.3,1.222,1.222,0,0,0-1.272-1.294"
      transform="translate(-60.84 -152.893)"
    />
    <path
      d="M93.2,147q-5.717,0-11.433,0a1.348,1.348,0,0,1-1.332-.7,1.377,1.377,0,0,1,.079-1.509,1.31,1.31,0,0,1,1.18-.566q11.586.006,23.171.007a1.385,1.385,0,1,1,0,2.76q-5.831.012-11.662,0"
      transform="translate(-67.98 -122.178)"
    />
    <path
      d="M55.146,101.376q-4.268,0-8.537,0c-.969,0-1.577-.45-1.678-1.207a1.449,1.449,0,0,1,1.557-1.645c1.092-.02,2.185-.006,3.277-.006H63.79a1.527,1.527,0,0,1,1.509.825,1.3,1.3,0,0,1-.135,1.436,1.638,1.638,0,0,1-1.482.6c-2.846-.008-5.691,0-8.537,0"
      transform="translate(-38.048 -83.448)"
    />
    <path
      d="M50.042,56.183c-1.192,0-2.385.009-3.577,0a1.4,1.4,0,0,1-1.5-1.369,1.384,1.384,0,0,1,1.484-1.39q3.653-.018,7.306,0a1.38,1.38,0,1,1,.02,2.759c-1.243.015-2.486,0-3.729,0"
      transform="translate(-38.086 -45.244)"
    />
    <path
      d="M46.4,144.261a1.386,1.386,0,0,1,1.412,1.377,1.424,1.424,0,1,1-2.848-.012,1.4,1.4,0,0,1,1.435-1.365"
      transform="translate(-38.091 -122.201)"
    />
  </svg>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'DocumentIcon',
})
</script>

<style scoped>
.oscityIcon {
  fill: url(#mygradient);
  padding-bottom: 4%;
}
</style>
