<template>
  <svg class="oscityIcon" viewBox="0 0 101.265 69.356">
    <defs>
      <linearGradient id="mygradient">
        <stop
          offset="0%"
          :stop-color="$store.getters['brand/getHeroPrimaryColor']"
        />

        <stop
          offset="100%"
          :stop-color="$store.getters['brand/getHeroSecondaryColor']"
        />
      </linearGradient>
    </defs>
    <path
      d="M390.576,175.528h-13.25a1.382,1.382,0,0,1,0-2.765h11.867v-7.105a1.382,1.382,0,0,1,2.765,0v8.487a1.382,1.382,0,0,1-1.382,1.382"
      transform="translate(-301.708 -131.837)"
    />
    <path
      d="M432.95,144.093a4.205,4.205,0,1,1,4.205-4.205,4.21,4.21,0,0,1-4.205,4.205m0-5.646a1.441,1.441,0,1,0,1.441,1.441,1.443,1.443,0,0,0-1.441-1.441"
      transform="translate(-344.083 -108.889)"
    />
    <path
      d="M390.576,276.843a1.382,1.382,0,0,1-1.382-1.382v-7.105H377.326a1.382,1.382,0,1,1,0-2.765h13.25a1.382,1.382,0,0,1,1.382,1.382v8.488a1.382,1.382,0,0,1-1.382,1.382"
      transform="translate(-301.708 -213.146)"
    />
    <path
      d="M432.95,316.985a4.205,4.205,0,1,1,4.205-4.205,4.21,4.21,0,0,1-4.205,4.205m0-5.646a1.441,1.441,0,1,0,1.441,1.441,1.442,1.442,0,0,0-1.441-1.441"
      transform="translate(-344.083 -247.641)"
    />
    <path
      d="M395.944,239.762H377.326a1.382,1.382,0,1,1,0-2.764h18.618a1.382,1.382,0,1,1,0,2.764"
      transform="translate(-301.708 -190.199)"
    />
    <path
      d="M474.433,231.112a4.205,4.205,0,1,1,4.205-4.205,4.21,4.21,0,0,1-4.205,4.205m0-5.646a1.441,1.441,0,1,0,1.441,1.441,1.443,1.443,0,0,0-1.441-1.441"
      transform="translate(-377.374 -178.725)"
    />
    <path
      d="M70.411,175.528H57.161a1.382,1.382,0,0,1-1.382-1.382v-8.487a1.382,1.382,0,1,1,2.765,0v7.105H70.411a1.382,1.382,0,1,1,0,2.765"
      transform="translate(-44.765 -131.837)"
    />
    <path
      d="M45.687,144.093a4.205,4.205,0,1,1,4.205-4.205,4.21,4.21,0,0,1-4.205,4.205m0-5.646a1.441,1.441,0,1,0,1.441,1.441,1.443,1.443,0,0,0-1.441-1.441"
      transform="translate(-33.291 -108.889)"
    />
    <path
      d="M57.161,276.843a1.382,1.382,0,0,1-1.382-1.382v-8.488a1.382,1.382,0,0,1,1.382-1.382h13.25a1.382,1.382,0,1,1,0,2.765H58.544v7.105a1.382,1.382,0,0,1-1.382,1.382"
      transform="translate(-44.765 -213.146)"
    />
    <path
      d="M45.687,316.985a4.205,4.205,0,1,1,4.205-4.205,4.21,4.21,0,0,1-4.205,4.205m0-5.646a1.441,1.441,0,1,0,1.441,1.441,1.442,1.442,0,0,0-1.441-1.441"
      transform="translate(-33.291 -247.641)"
    />
    <path
      d="M48.593,239.762H29.975a1.382,1.382,0,1,1,0-2.764H48.593a1.382,1.382,0,1,1,0,2.764"
      transform="translate(-22.947 -190.199)"
    />
    <path
      d="M4.205,231.112a4.205,4.205,0,1,1,4.205-4.205,4.21,4.21,0,0,1-4.205,4.205m0-5.646a1.441,1.441,0,1,0,1.441,1.441,1.442,1.442,0,0,0-1.441-1.441"
      transform="translate(0 -178.725)"
    />
    <path
      d="M132.5,69.356h-28.62c-1.48,0-1.857-.373-1.857-1.836,0-1.653,0-3.306,0-4.959a1.364,1.364,0,0,1,1.171-1.54c.78-.23,1.559-.464,2.348-.658a.734.734,0,0,0,.637-.855q-.023-9.993,0-19.987c0-.389-.047-.637-.49-.781a1.317,1.317,0,0,1-.912-1.422c.021-1.754,0-3.509.009-5.264a1.39,1.39,0,0,1,1.488-1.547c.686-.03,1.375-.03,2.06,0,.453.02.615-.134.648-.6a27.512,27.512,0,0,1,2.394-9.714c3.338-7.2,8.614-12.172,16.467-14.113.444-.11.493-.319.49-.685-.012-1.221-.009-2.441,0-3.662s.5-1.719,1.715-1.728q2.48-.019,4.961,0c1.169.01,1.676.525,1.684,1.682q.012,1.869,0,3.738c0,.332.033.542.445.645,8.488,2.121,13.91,7.63,17.1,15.565a27.127,27.127,0,0,1,1.8,8.23c.035.492.2.664.685.639.66-.034,1.323-.027,1.984,0a1.406,1.406,0,0,1,1.532,1.582c.007,1.729-.016,3.459.01,5.187a1.389,1.389,0,0,1-1.013,1.512c-.357.112-.388.312-.388.615q.007,10.108-.007,20.216a.641.641,0,0,0,.578.728c.812.209,1.617.442,2.421.68a1.361,1.361,0,0,1,1.156,1.55q.008,2.556,0,5.111c0,1.242-.441,1.668-1.719,1.668H132.5M132.487,30.5h19.685c1.109,0,1.139,0,1.021-1.124A24.365,24.365,0,0,0,145.7,13.705a18.613,18.613,0,0,0-21.734-3.24c-7.608,4.062-11.243,10.786-12.166,19.168-.081.729.159.884.851.881,6.613-.024,13.225-.014,19.837-.014m0,36.112h24.793c.814,0,1.628-.014,2.441.005.39.009.551-.127.538-.527a14.915,14.915,0,0,1,.009-1.9c.056-.589-.213-.783-.724-.928q-13.193-3.743-26.375-7.52a2.316,2.316,0,0,0-1.339.008q-12.524,3.585-25.051,7.162c-.668.192-1.61.118-1.919.727-.288.57-.04,1.395-.1,2.1s.164.9.877.894q13.426-.038,26.853-.016m.024-30.518h23.049c1.919,0,1.879,0,1.935-1.951.022-.768-.232-.9-.942-.9q-23.545.031-47.091.016c-1.92,0-1.878,0-1.937,1.952-.023.774.238.9.944.9,8.014-.025,16.028-.016,24.041-.016m23.6,12.983c0-3.178-.01-6.357.01-9.535,0-.513-.113-.715-.669-.7-1.424.037-2.849.026-4.273,0-.441-.007-.629.09-.628.585q.023,8.925,0,17.85a.6.6,0,0,0,.533.681c1.424.379,2.847.767,4.249,1.22.71.23.79-.018.785-.646-.025-3.153-.012-6.306-.012-9.459m-47.194-.035q0,4.691,0,9.382c0,.951,0,.961.883.714,1.37-.385,2.73-.8,4.106-1.167a.637.637,0,0,0,.567-.733q-.016-8.886,0-17.772c0-.532-.2-.629-.67-.62-1.373.023-2.749.045-4.12-.008-.667-.026-.789.214-.783.823.029,3.127.013,6.255.013,9.382m38.9-1.143c0-2.744-.026-5.489.018-8.232.011-.7-.2-.853-.858-.829-1.345.05-2.695.04-4.041,0-.549-.015-.744.111-.741.707q.036,7.623,0,15.246a.723.723,0,0,0,.643.828c1.421.385,2.841.779,4.245,1.219.589.184.749.053.744-.557-.024-2.795-.01-5.59-.01-8.385m-30.6,0c0,2.8,0,5.59.007,8.385,0,.3-.181.811.5.611,1.559-.459,3.12-.91,4.685-1.343.341-.094.422-.275.422-.6q-.011-7.776,0-15.551c0-.447-.163-.558-.579-.553-1.423.019-2.848.044-4.27-.009-.669-.025-.788.221-.781.825.03,2.744.013,5.488.013,8.233m22.253-1.117c0-2.414-.014-4.829.011-7.243.006-.522-.127-.708-.675-.694-1.448.036-2.9.029-4.347,0-.471-.008-.606.147-.6.609q.022,6.481,0,12.961a.7.7,0,0,0,.6.8c1.4.369,2.793.763,4.172,1.2.646.2.874.138.858-.625-.049-2.337-.018-4.676-.018-7.014m-13.9-.072c0,2.388.02,4.776-.013,7.163-.009.667.169.758.779.562,1.352-.435,2.721-.824,4.1-1.176.552-.142.7-.405.7-.954q-.033-6.363,0-12.726c0-.555-.124-.755-.713-.737-1.371.044-2.745.049-4.116,0-.637-.024-.75.213-.743.782.028,2.362.011,4.725.011,7.087m6.924-41.13c1.449,0,1.449,0,1.449-1.407,0-1.425,0-1.425-1.392-1.424-1.448,0-1.448,0-1.448,1.444,0,1.389,0,1.389,1.392,1.387"
      transform="translate(-81.876 0)"
    />
  </svg>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  name: 'GobiernoIcon',
})
</script>

<style scoped>
.oscityIcon {
  fill: url(#mygradient);
  padding-bottom: 4%;
}
</style>
