<template>
  <svg class="oscityIcon" viewBox="0 0 79.584 70.057">
    <defs>
      <linearGradient id="mygradient">
        <stop
          offset="0%"
          :stop-color="$store.getters['brand/getHeroPrimaryColor']"
        />

        <stop
          offset="100%"
          :stop-color="$store.getters['brand/getHeroSecondaryColor']"
        />
      </linearGradient>
    </defs>
    <path
      d="M139.1,57.271c-5.788.408-10-1.914-12.915-6.731a120.032,120.032,0,0,1-38.442,6.845c.07-1.468.108-2.768.2-4.064a27.128,27.128,0,0,1,4.326-13.5A23.453,23.453,0,0,1,108.95,29.4a27.436,27.436,0,0,1,16.213,2.136A22.79,22.79,0,0,1,138.1,48.085a81.681,81.681,0,0,1,.994,8.34,8.14,8.14,0,0,1,0,.846"
      transform="translate(-73.632 -24.353)"
    />
    <path
      d="M139.437,230.895a16.765,16.765,0,0,1-2.266,6.4,7.764,7.764,0,0,1-3.283,2.975,1.536,1.536,0,0,0-.619.918,34.649,34.649,0,0,1-4.595,10.179c-6.4,9.329-18,9.32-24.529,5.071a20.481,20.481,0,0,1-7.495-9.1c-.924-2.064-1.579-4.249-2.379-6.37a1.283,1.283,0,0,0-.54-.695,7.679,7.679,0,0,1-3.537-3.372,18.029,18.029,0,0,1-2.01-6.007c.725,0,1.407-.034,2.082.026.157.014.341.328.42.538.522,1.4.922,2.846,1.552,4.19a4.416,4.416,0,0,0,3.375,2.69c.219.036.464.39.556.647.816,2.287,1.483,4.634,2.421,6.868a18.541,18.541,0,0,0,6.625,8.475c5.555,3.763,16.187,4.035,21.8-4.707a36.365,36.365,0,0,0,4.3-10.226c.186-.679.426-1.078,1.214-1.209a3.919,3.919,0,0,0,2.487-1.893,13.429,13.429,0,0,0,1.907-4.812c.1-.464.28-.627.741-.6.556.033,1.116.008,1.777.008"
      transform="translate(-74.003 -193.756)"
    />
    <path d="M79.584,211.1v2.2H0v-2.2Z" transform="translate(0 -177.153)" />
    <path
      d="M368.128,338.093v-13h4.694v.841q0,5.98,0,11.961a4.613,4.613,0,0,1-4.936,4.977q-6.1,0-12.2,0h-.765v-4.778h13.2Z"
      transform="translate(-297.849 -272.816)"
    />
    <path
      d="M28.928,324.97h4.738v13.1H46.777v4.65c-.28.015-.54.042-.8.042q-6.1,0-12.2,0a4.59,4.59,0,0,1-4.894-4.854q-.01-6.1,0-12.2c0-.234.025-.468.041-.742"
      transform="translate(-24.237 -272.712)"
    />
    <path
      d="M33.583,4.922V17.984H28.929c-.014-.293-.04-.576-.041-.859q0-6.059,0-12.119A4.574,4.574,0,0,1,33.727.183c4.065-.01,8.131,0,12.2-.006h.857V4.922Z"
      transform="translate(-24.241 -0.148)"
    />
    <path
      d="M372.815,17.843h-4.754V4.72H354.914V.074c.286-.015.545-.04.805-.04,4.009,0,8.02.079,12.027-.031a4.851,4.851,0,0,1,5.1,5.1c-.125,3.953-.03,7.912-.029,11.869v.868"
      transform="translate(-297.84 0)"
    />
  </svg>
</template>

<script>
// import Vue from 'vue'

export default {
  name: 'IdentidadIcon',
}
</script>

<style scoped>
.oscityIcon {
  fill: url(#mygradient);
  padding-bottom: 4%;
}
</style>
