<template>
  <v-container>
    <v-row class="align-center wrap justify-center mb-3">
      <v-col xs="12" md="6" lg="7" class="pr-2 pb-0">
        <div id="map"></div>
      </v-col>
      <v-col xs="12" md="6" lg="5" class="pl-3">
        <client-only>
          <MultiChart
            :series="certs_by_status_data"
            :charts-enabled="certs_by_status"
            :colors="getColors(certs_by_status_data)"
            labels
            :title="$t('analytics.total-of-certificates')"
            data-cy="certs_by_status"
          />
        </client-only>
      </v-col>
    </v-row>
    <v-row row align-center wrap justify-center class="my-2">
      <v-col xs="12" md="6" class="pr-3">
        <v-row column fill-height>
          <v-col xs="12" class="py-1">
            <client-only>
              <MultiChart
                :series="certs_by_course_data"
                :charts-enabled="certs_by_course"
                :colors="getColors(certs_by_course_data)"
                :title="$t('analytics.certificates-by-course-type')"
                data-cy="certs_by_course"
              />
            </client-only>
          </v-col>
          <!-- <v-col xs="12">
            <client-only>
              <MultiChart
                :series="certs_by_degree_data"
                :charts-enabled="certs_by_degree"
                :colors="getColors(certs_by_degree_data)"
                height="854"
                title="Certificados por carrera"
                data-cy="certs_by_degree"
              />
            </client-only>
          </v-col> -->
        </v-row>
      </v-col>
      <v-col xs="12" md="6" class="pl-2">
        <v-row column>
          <!-- <v-col xs="12" class="py-1">
            <client-only>
              <MultiChart
                :series="certs_by_venue_data"
                :charts-enabled="certs_by_venue"
                :colors="getColors(certs_by_venue_data)"
                title="Certificados por tipo de sorteo"
                data-cy="certs_by_venue"
              />
            </client-only>
          </v-col> -->
          <v-col xs="12" class="py-1">
            <client-only>
              <MultiChart
                :series="certs_by_time_data"
                :charts-enabled="certs_by_time"
                :colors="getColors(certs_by_time_data)"
                :title="$t('analytics.certificates-over-time')"
                data-cy="certs_by_time"
              />
            </client-only>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import * as d3 from 'd3'
import * as moment from 'moment'
import MultiChart from '@/components/charts/MultiChart.vue'
export default {
  components: {
    MultiChart,
  },
  data() {
    return {
      L: window?.L,
      map: null,
      tileLayer: null,
      coords: [],
      info: [],
      data: {},
      currentUser: '',
      currentUserEmail: '',
      revokedCerts: [],
      signedCerts: [],
      unsignedCerts: [],
      certs_by_status_data: [],
      certs_by_status: {
        donut: true,
      },
      certs_by_degree_data: [],
      certs_by_degree: {
        barchart: true,
      },
      certs_by_course_data: [],
      certs_by_course: {
        barchart: true,
      },
      certs_by_time_data: [],
      certs_by_time: {
        timeline: true,
      },
    }
  },
  beforeMount() {
    this.getCoords()
  },
  mounted() {
    this.initMap()
    this.getCertificates()
  },
  methods: {
    /* eslint new-cap: ["error", { "newIsCap": false }] */
    initMap() {
      this.map = this.L.map('map', {
        center: [19.4410342, -99.1482642, 3],
        zoom: 4,
      })
      this.tileLayer = new this.L.tileLayer(
        'https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png',
        {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
          maxZoom: 15,
        }
      )
      this.tileLayer.addTo(this.map)
      this.getData()
    },
    getCoords() {
      return this.$fire.firestore.collection('latlngVerifications').get()
    },
    getData() {
      const self = this
      this.getCoords().then(function (response) {
        response.forEach((doc) => {
          self.data = {
            ref: doc.ref.path,
            ...doc.data(),
          }
          self.coords.push([self.data.latitude, self.data.longitude])
          self.info.push(self.data)
        })
        self.setMarkers()
      })
    },
    getCertificates() {
      const self = this
      this.$fire.firestore
        .collection('certificates')
        .get()
        .then((certificates) => {
          certificates.forEach((doc) => {
            const data = {
              ref: doc.ref.path,
              ...doc.data(),
            }
            // data.legajo = data.legajo ? data.legajo : data.foto
            if (data.is_certified || data.certify) {
              // data.link = data.is_certified ? data.link : '- - - -'
              // data.qr = data.is_certified ? data.link : '- - - -'
              if (data.is_revocated) {
                self.revokedCerts.push(data)
              } else {
                self.signedCerts.push(data)
              }
            } else {
              self.unsignedCerts.push(data)
            }
          })
          const totalCerts =
            this.signedCerts.length +
            this.revokedCerts.length +
            this.unsignedCerts.length
          this.certs_by_status_data = [
            {
              name: this.$t('analytics.certificates'),
              y: this.signedCerts.length,
              percentage: (this.signedCerts.length / totalCerts) * 100,
              color: '#ac2987',
            },
            {
              name: this.$t('analytics.revoked'),
              y: this.revokedCerts.length,
              percentage: (this.revokedCerts.length / totalCerts) * 100,
              color: '#ffa601',
            },
            {
              name: this.$t('analytics.to-certify'),
              y: this.unsignedCerts.length,
              percentage: (this.unsignedCerts.length / totalCerts) * 100,
              color: '#ff5e4a',
            },
          ]
          this.certs_by_degree_data = this.parseSignedCerts((d) => d.carrera)
          this.certs_by_course_data = this.parseSignedCerts(
            (d) => d.course_type
          )
          this.certs_by_time_data = this.parseSignedCerts(
            (d) => moment(d.date).format('YYYY-MM'),
            (leaves) => leaves.length,
            (a, b) => (a.name < b.name ? -1 : 1)
          ).map((d) => ({
            ...d,
            date: moment(d.name),
            name: this.$t('analytics.certificates'),
          }))
        })
    },
    parseSignedCerts(
      keyFn,
      rollUp = (leaves) => leaves.length,
      sortFn = (a, b) => b.y - a.y
    ) {
      const tmp = d3.nest().key(keyFn).rollup(rollUp).entries(this.signedCerts)
      return tmp
        .map((o) => ({
          name: o.key,
          y: o.value,
          percentage: (o.value / d3.sum(tmp, (d) => d.value)) * 100,
        }))
        .sort(sortFn)
    },
    getColors(series) {
      // const colors = ['#ac2987', '#ffa601', '#ff5e4a', '#e2356d', '#41348c']
      const colors = ['#2B81D6', '#7D0E3B', '#3555A7', '#0C7C59', '#1BABE2']
      const end = Math.min(series.length, colors.length)
      return colors.slice(0, end)
    },
    setMarkers() {
      const self = this
      self.coords.forEach((element, index) => {
        const options = {
          opacity: 0.7,
        }
        this.L.marker(element, options)
          .addTo(self.map)
          .bindPopup(
            `${this.$t('country')}: ${self.info[index].country} <br> ${this.$t(
              'city'
            )}: ${self.info[index].city} <br> ${this.$t('postal-code')}: ${
              self.info[index].postal
            } <br> ${this.$t('longitude')}: ${
              self.info[index].longitude
            } <br> ${this.$t('latitude')}: ${
              self.info[index].latitude
            } <br> ${this.$t('verification')}: ${
              self.info[index].verified ? this.$t('success') : this.$t('failed')
            }`
          )
      })
    },
  },
}
</script>
<style>
body,
html {
  height: 100%;
}
#map {
  width: 100%;
  height: 448px;
}
.v-navigation-drawer--clipped:not(.v-navigation-drawer--temporary):not(.v-navigation-drawer--is-mobile) {
  z-index: 1002;
}
.leaflet-control,
.leaflet-top,
.leaflet-pane {
  z-index: 0 !important;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}
.chart-container {
  box-shadow: 0px 0px 9px 0px rgb(231, 231, 231);
}
</style>
