<template>
  <v-card height="80px" width="100%" tile dark color="#252C41">
    <v-container fluid fill-height>
      <v-row justify="space-between" align="center">
        <v-col v-for="item in items" :key="item.title" cols="3">
          <v-btn plain :to="item.link" class="text-none d-flex">
            <v-col cols="12">
              <v-row justify="center">
                <v-icon large>{{ item.icon }}</v-icon>
              </v-row>
              <v-row justify="center" class="mt-4">
                <span class="caption">
                  {{ item.title }}
                </span>
              </v-row>
            </v-col>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
export default Vue.extend({
  name: 'ProcedureHeadbar',
  props: {
    procedure: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      drawer: true,
      mini: true,
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
    }),
    items() {
      return [
        {
          title: 'Descripción',
          icon: 'mdi-tooltip-text-outline',
          link: '/procedures/' + this.procedure.id + '/description',
        },
        {
          title: 'Requisitos',
          icon: 'mdi-file-document-multiple-outline',
          link: '/procedures/' + this.procedure.id + '/requirements',
        },
        {
          title: 'Datos a Recabar',
          icon: 'mdi-badge-account-outline',
          link: '/procedures/' + this.procedure.id + '/data-to-collect',
        },
        {
          title: 'Pasos',
          icon: 'mdi-order-bool-ascending-variant',
          link: '/procedures/' + this.procedure.id + '/steps',
        },
      ]
    },
  },
})
</script>

<style scoped>
.v-btn__content {
  display: flex;
  flex-direction: column;
}

hr {
  border-width: 2px;
  color: white;
  border-color: white;
  background-color: white;
}
</style>
