<template>
  <v-card height="100%" width="400px" tile>
    <v-navigation-drawer
      permanent
      height="100%"
      width="420px"
      color="#252C41"
      dark
    >
      <v-list-item>
        <v-list-item-content class="py-5">
          <v-list-item-title class="text-h6">
            {{ procedure.title }}</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>

      <v-container class="d-flex align-center px-4 py-0" width="60%">
        <v-divider></v-divider>
      </v-container>

      <v-container fluid class="my-3">
        <v-row justify="space-between" no-gutters>
          <v-col v-for="item in items" :key="item.title" cols="3">
            <v-btn plain :to="item.link" exact class="text-none d-flex">
              <v-col cols="12">
                <v-row justify="center">
                  <v-icon large>{{ item.icon }}</v-icon>
                </v-row>
                <v-row justify="center" class="mt-4">
                  <span class="caption text-center">
                    {{ item.title }}
                  </span>
                </v-row>
              </v-col>
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
      <v-container class="d-flex align-center px-4 py-0" width="60%">
        <v-divider></v-divider>
      </v-container>
    </v-navigation-drawer>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
export default Vue.extend({
  name: 'ProcedureSidebar',
  props: {
    procedure: {
      type: Object,
      required: true,
    },
  },

  data() {
    return {
      drawer: true,
      mini: true,
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
    }),
    items() {
      return [
        {
          title: 'Descripción',
          icon: 'mdi-tooltip-text-outline',
          link: '/procedures/' + this.procedure.id + '/description',
        },
        {
          title: 'Requisitos',
          icon: 'mdi-file-document-multiple-outline',
          link: '/procedures/' + this.procedure.id + '/requirements',
        },
        {
          title: 'Datos a Recabar',
          icon: 'mdi-badge-account-outline',
          link: '/procedures/' + this.procedure.id + '/data-to-collect',
        },
        {
          title: 'Pasos',
          icon: 'mdi-order-bool-ascending-variant',
          link: '/procedures/' + this.procedure.id + '/steps',
        },
      ]
    },
  },
})
</script>

<style scoped>
.menu-sidebar {
  background: #252c41;
  color: white;
  position: relative;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 0 !important;
}

hr {
  border-width: 2px;
  color: white;
  border-color: white;
  background-color: white;
}
</style>
