<template>
  <v-container class="mb-5 mt-6">
    <v-row justify="center" align="center">
      <v-col cols="12">
        <h1 class="display-2 text-center primary--text mb-4">
          {{ $t('titleCertificates') }}
        </h1>
      </v-col>
    </v-row>
    <v-row justify="center" align="center">
      <v-col cols="12">
        <v-card>
          <v-card-text class="py-4 px-4">
            <v-row justify="center" align="center">
              <v-col cols="12">
                <v-text-field
                  v-model="search"
                  :label="$t('search')"
                  required
                  outlined
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center" align="center" class="mt-3">
      <v-col cols="12">
        <v-card>
          <DataTableCertificates
            :headers="headers"
            :items="iibbCerts"
            :delete-activate="false"
            :search="search"
            @change="selected = $event"
            @showAddress="
              domicilios = $event
              dialogAddress = true
            "
            @showSecondaryActivities="
              secondaryActivities = $event
              dialogSecondaryActivities = true
            "
            @showFile="
              showFile($event)
              dialogComprobante = true
            "
          />
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialogAddress" max-width="650px" scrollable>
      <v-card class="py-9">
        <v-card-text>
          <h2 class="text-xs-center pb-3">Domicilios</h2>
          <v-divider color="primary"></v-divider>
          <v-list>
            <v-list-item-group color="primary">
              <v-list-item v-for="(item, i) in domicilios" :key="i">
                <v-list-item-icon>
                  <v-icon color="primary">mdi-home</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-subtitle v-text="item"></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogSecondaryActivities" max-width="650px" scrollable>
      <v-card class="py-9">
        <v-card-text>
          <h2 class="text-xs-center pb-3">Actividades Secundarias</h2>
          <v-divider color="primary"></v-divider>
          <v-list>
            <v-list-item-group color="primary">
              <v-list-item v-for="(item, i) in secondaryActivities" :key="i">
                <v-list-item-icon>
                  <v-icon color="primary">mdi-chevron-right</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-subtitle
                    v-text="
                      `${item.actividad}, con fecha de inicio el ${item.fecha_inicio}`
                    "
                  ></v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogComprobante" max-width="700px" scrollable>
      <v-card class="py-9">
        <v-card-text>
          <h2 class="text-xs-center pb-3">Comprobante de domicilio</h2>
          <v-divider color="primary"></v-divider>
          <v-row justify="center" align="center" class="mt-5">
            <embed
              v-if="urlFile.includes('pdf')"
              width="600"
              height="500"
              type="application/pdf"
              :src="urlFile"
            />
            <v-img v-else :src="urlFile" aspect-ratio="1.7" contain></v-img>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import { getAllCertificates } from '~/services/Certificates'

import DataTableCertificates from '~/components/Certificates/DataTableCertificates.vue'

export default Vue.extend({
  name: 'CertificateManager',
  components: {
    DataTableCertificates,
  },
  middleware: ['admin'],
  data() {
    return {
      iibbCerts: [] as any,
      selected: [] as any,
      domicilios: [] as any,
      secondaryActivities: [] as any,
      headers: [] as any,
      search: '',
      listRemoveKeys: [
        'id_user',
        'is_certified',
        'is_revocated',
        'id_reference',
        'certify',
        'pubkey',
        'name',
        'identity',
        'ref',
        'estado_origen',
        'type',
      ],
      headersAddress: [] as any,
      dialogAddress: false,
      dialogSecondaryActivities: false,
      dialogComprobante: false,
      urlFile: '',
    }
  },
  beforeMount() {
    this.getData()
  },
  methods: {
    resetData(): any {
      this.iibbCerts = []
      this.headers = []
    },
    async getData() {
      try {
        const certificates = await getAllCertificates(
          this.$fire,
          'certificatesIibb'
        )
        if (!certificates.empty) {
          certificates.forEach(
            (doc: { ref: { path: any }; data: () => any }) => {
              const data = {
                ref: doc.ref.path,
                ...doc.data(),
              } as any
              data.actividad_principal = JSON.parse(data.actividad_principal)
              data.actividades_secundarias = JSON.parse(
                data.actividades_secundarias
              )
              data.domicilios = JSON.parse(data.domicilios)
              data.actividad_principal = `${data.actividad_principal.actividad}, con fecha de inicio el ${data.actividad_principal.fecha_inicio}`
              if (data.is_certified || data.certify) {
                this.iibbCerts.push(data)
              }
            }
          )
          this.headers = this.getHeaders(this.iibbCerts[0])
        }
      } catch (error) {
        console.error(error)
      }
    },
    getHeaders(object: any) {
      const sortingArr = [
        'n_cuit',
        'name_citizen',
        'public_address',
        'link',
        'actividad_principal',
        'actividades_secundarias',
        'domicilios',
        'comprobante',
        'created',
        'title',
      ]
      const keys = Object.keys(object)
      const headers = keys
        .filter((element: string) => {
          return !this.listRemoveKeys.includes(element) ? element : null
        })
        .map((element) => ({
          text: (element.charAt(0).toUpperCase() + element.slice(1)).replace(
            '_',
            ' '
          ),
          value: element,
          sortable: true,
          width: 250,
        }))
      const found = headers.find((element) => element.value === 'comprobante')
      if (!found) {
        headers.push({
          text: 'Comprobante',
          value: 'comprobante',
          sortable: true,
          width: 250,
        })
      }
      return headers.sort((a, b) => {
        return sortingArr.indexOf(a.value) - sortingArr.indexOf(b.value)
      })
    },
    showFile(item: any) {
      this.urlFile = ''
      const storageRef = this.$fireModule
        .storage()
        .ref(`documents/${item.n_cuit}`)
      storageRef
        .child(`${item.comprobante}`)
        .getDownloadURL()
        .then((url: string) => {
          this.urlFile = url
        })
        .catch((error: any) => {
          console.error(error)
        })
    },
  },
})
</script>

<style scoped></style>
