<template>
  <v-main justify-center class="py-15">
    <v-row>
      <v-col cols="10" class="offset-1">
        <h1 class="display-2 text-xs-center primary--text mb-4">
          Certificado de Ingresos Brutos
        </h1>
      </v-col>
      <v-col v-if="loading" cols="10" class="offset-1 height-full text-center">
        <v-row
          v-load="loading"
          load-background="white"
          load-type="folding-cube"
          class="mt-15"
        ></v-row>
      </v-col>
      <v-col
        v-if="certificate.is_certified"
        cols="10"
        class="offset-1 relative"
        mb-3
        elevation-1
      >
        <a :href="certificate.link" target="_blank">
          <v-btn fab top right absolute class="embedded-button">
            <v-icon>mdi-arrow-expand</v-icon>
          </v-btn>
        </a>
        <iframe
          :src="certificate.link"
          frameborder="0"
          class="certificate-template"
        ></iframe>
      </v-col>
      <v-snackbar
        v-model="snackbar.show"
        :top="true"
        :right="true"
        :timeout="snackbar.timeout"
        :color="snackbar.color"
        :multi-line="snackbar.mode === 'multi-line'"
        :vertical="snackbar.mode === 'vertical'"
      >
        {{ snackbar.text }}
        <v-btn
          icon
          class="float-right"
          justify="center"
          align="center"
          @click.native="snackbar.show = false"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-snackbar>
    </v-row>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import { User } from '@/services/User'
import { BlockcertsCertificate, Certificate } from '@/services/Certificates'

export default Vue.extend({
  middleware: ['completedata'],
  data() {
    return {
      loading: false,
      firebaseCollection: 'certificatesIibb',
      show: false,
      certificate: {} as Certificate,
      blockcertsCertificate: {} as BlockcertsCertificate,
      redirect: '/citizen/certificates/',
      user: {} as User,
      disabled: false,
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 6000,
        text: '',
        right: '',
        top: '',
      },
    }
  },
  computed: {
    ...mapGetters({
      userStore: 'users/user',
    }),
  },
  mounted() {
    this.getCertificate()
  },
  methods: {
    getCertificate() {
      this.loading = true
      const self = this
      let matchProperty = 'id_user'
      let matchValue = this.userStore.uid
      if (this.$route.params.cert) {
        matchProperty = 'id_reference'
        matchValue = this.$route.params.cert
      }
      this.$fire.firestore
        .collection(this.firebaseCollection)
        .where(matchProperty, '==', matchValue)
        .onSnapshot(
          { includeMetadataChanges: true },
          (snapshot: any) => {
            if (!snapshot.empty) {
              snapshot.docs.forEach((doc: any) => {
                self.certificate = doc.data()
                if (self.certificate.is_certified) {
                  self.loading = false
                }
              })
            } else {
              this.$router.push({
                path: '/procedures/inscripcion-ingresos-brutos-directos',
              })
            }
            snapshot.docChanges().forEach((change: any) => {
              const changeData = change.doc.data()
              if (change.type === 'modified') {
                if (changeData.estado_origen === 'Certificado') {
                  self.certificate = changeData
                  self.loading = false
                }
              }
            })
          },
          (error: any) => {
            console.error(error)
          }
        )
    },
  },
})
</script>

<style lang="scss" scoped>
.profile.v-card {
  .v-card__title {
    > div {
      margin-left: 12.5%;
    }
  }

  .v-btn.v-btn--absolute {
    left: 5%;
  }
}

.deactivate-border {
  border-right: 1px solid #efefef;
}

.code-verify {
  margin-top: 55px;
}
iframe.certificate-template {
  width: 100%;
  height: 90vh;
}
.relative {
  position: relative;
}
.embedded-button {
  top: 1em;
}
.vue-tel-input {
  height: 56px !important;
}
</style>
