<template>
  <v-data-table :headers="headers" :items="dataTable" class="elevation-1">
    <!-- eslint-disable-next-line vue/valid-v-slot -->
    <template #item.actions="{ item }">
      <v-icon @click="deleteItem(item)"> mdi-delete </v-icon>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'vue'
import swal from 'sweetalert'

export default Vue.extend({
  name: 'DataTableUsers',
  middleware: ['admin'],
  props: {
    data: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
  data() {
    return {
      deleteIndex: -1,
      dialogDelete: false,
      headers: [
        {
          text: 'Nombre',
          sortable: true,
          value: 'first_name',
        },
        {
          text: 'Email',
          sortable: true,
          value: 'email',
        },
        {
          text: 'DNI',
          sortable: true,
          value: 'dni',
          align: 'center',
        },
        {
          text: 'Fecha de creación',
          sortable: true,
          value: 'created',
          align: 'center',
        },
        {
          text: 'Activado',
          sortable: true,
          value: 'activated',
          align: 'center',
        },
        { text: 'Actions', align: 'center', value: 'actions', sortable: false },
      ],
    }
  },
  computed: {
    dataTable(): any {
      return this.data
    },
  },
  methods: {
    closeDelete() {
      this.dialogDelete = false
    },
    deleteItem(item: any) {
      swal({
        text: '¿Estas seguro que deseas eliminar a este usuario?. Sus certificados también serán borrados',
        icon: 'warning',
        buttons: ['Cancelar', 'Eliminar usuario'],
      }).then((willDelete: boolean) => {
        if (willDelete) {
          this.$emit('deleteUser', item.uid)
        } else {
          swal.close()
        }
      })
    },
  },
})
</script>
