<template>
  <v-form
    ref="formChangeEmail"
    v-model="validEmail"
    lazy-validation
    @submit.prevent="changeEmail"
  >
    <v-card>
      <v-card-text>
        <v-container grid-list-md pa-0>
          <v-row>
            <v-col cols="12" class="pb-0">
              <v-text-field
                v-model="currentEmail"
                :label="$t('email')"
                outlined
                prepend-icon="mdi-email"
                type="email"
                disabled
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" class="pb-0">
              <v-text-field
                v-model="newEmail"
                :label="$t('newemail')"
                outlined
                :rules="rulesEmail"
                prepend-icon="mdi-email"
                type="email"
              ></v-text-field>
            </v-col>
            <v-col cols="12" class="pb-0">
              <v-text-field
                v-model="currentPassword"
                :label="$t('password')"
                outlined
                prepend-icon="mdi-lock"
                type="password"
                :rules="rules"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="px-3">
        <v-row>
          <v-col cols="12" class="text-right">
            <v-btn
              :disabled="!newEmail || !currentPassword || !currentEmail"
              :loading="loading"
              color="primary"
              type="submit"
            >
              {{ $t('send') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import _ from 'lodash'

import {
  reauthenticate,
  getCredentialToAuth,
  updateEmailAuth,
} from '~/services/Firebase'
import { setUserDoc } from '~/services/User'

export default Vue.extend({
  name: 'ChangeEmail',
  components: {},
  props: {
    userInfo: {
      type: Object,
      required: true,
      default: () => ({
        first_name: null,
        last_name: null,
        birthdate: null,
        phone: null,
        gender: null,
        scholarity: null,
        picture: null,
        public_address: null,
        location: {
          lat: null,
          lng: null,
          address: null,
          custom: null,
          street: null,
          num_ext: null,
          num_int: null,
          neighborhood: null,
          between_streets: null,
          references: null,
        },
      }),
    },
  },
  data: () => ({
    validEmail: false,
    rules: [(v: any) => !!v || 'El campo es requerido'],
    rulesEmail: [
      (v: any) => !!v || 'El campo es requerido',
      (v: string) =>
        !v ||
        /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(v) ||
        'Ingresa un email válido',
    ],
    loading: false,
    newEmail: '',
    currentPassword: '',
    apiKey: process.env.FIREBASE_API_KEY,
  }),
  computed: {
    userData(): any {
      const userData = _.cloneDeep(this.userInfo)
      return userData
    },
    currentEmail(): any {
      return this.userData.email
    },
  },
  methods: {
    async validatePassword() {
      // Validate current password
      try {
        return await axios.post(
          `https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=${this.apiKey}`,
          {
            email: this.currentEmail,
            password: this.currentPassword,
            returnSecureToken: false,
          }
        )
      } catch {
        this.$emit('update', {
          update: false,
          message: 'La contraseña actual es incorrecta. Por favor verifícala.',
        })
      }
    },
    async validateSession() {
      // Validate current password
      try {
        // Validate user active session
        const credential = await getCredentialToAuth(this.$fireModule, {
          email: this.currentEmail,
          currentPassword: this.currentPassword,
        })
        return await reauthenticate(this.$fire, credential)
      } catch {
        this.$emit('update', {
          update: false,
          message: 'Tu sesión a caducado. Por favor vuelve a iniciar sesión.',
        })
      }
    },
    async updateEmail() {
      // Update email
      try {
        return await updateEmailAuth(this.$fire, this.newEmail)
      } catch {
        this.$emit('update', {
          update: false,
          message:
            'El email no pudo ser cambiada. Por favor intenta nuevamente.',
        })
      }
    },
    async changeEmail() {
      this.loading = true
      if (
        (this.$refs.formChangeEmail as Vue & {
          validate: () => boolean
        }).validate()
      ) {
        let validSession = null
        const validPassword = await this.validatePassword()
        if (validPassword) {
          validSession = await this.validateSession()
        }
        if (validSession) {
          await this.updateEmail()
          const userUid = this.$fire.auth.currentUser.uid
          // Update email in collection
          this.userData.email = this.newEmail
          await setUserDoc(this.$fire, userUid, {
            ...this.userData,
          })
          // Set user in store
          this.$store.dispatch('users/fetchUser')
          this.$emit('update', {
            update: true,
            message: 'Tu email ha sido actualizado con éxito.',
          })
        }
      }
      this.loading = false
    },
    closeDialog(): any {
      this.$emit('close', false)
    },
  },
})
</script>
