<template class="align-center">
  <v-main align-center justify-center class="py-5 height-full">
    <h2>{{ title }}</h2>
    <v-form
      ref="formChangePassword"
      v-model="validPassword"
      class="pt-6"
      @submit.prevent="changePassword"
    >
      <v-text-field
        v-if="!onlyEmit"
        v-model="currentPassword"
        :label="$t('password')"
        outlined
        type="password"
        :required="onlyEmit ? false : true"
      ></v-text-field>
      <v-text-field
        v-model="newPassword"
        :label="$t('newpassword')"
        outlined
        :rules="rules"
        type="password"
      ></v-text-field>
      <v-text-field
        v-model="confirmNewPassword"
        :label="$t('newpassword')"
        outlined
        :rules="rules"
        type="password"
      ></v-text-field>
      <v-btn
        :loading="loading"
        :disabled="!confirmNewPassword || !newPassword || loading"
        color="primary"
        type="submit"
      >
        {{ $t('send') }}
      </v-btn>
    </v-form>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

import {
  reauthenticate,
  getCredentialToAuth,
  updatePasswordAuth,
} from '~/services/Firebase'

export default Vue.extend({
  name: 'ChangePassword',
  components: {},
  props: {
    onlyEmit: {
      type: Boolean,
      required: false,
      default: false,
    },
    title: {
      type: String,
      required: false,
      default: null,
    },
  },
  data: () => ({
    validPassword: false,
    rules: [(v: any) => !!v || 'El campo es requerido'],
    loading: false,
    newPassword: null as any,
    confirmNewPassword: '',
    currentPassword: '',
    apiKey: process.env.FIREBASE_API_KEY,
  }),
  methods: {
    async validatePassword() {
      // Validate current password
      try {
        return await axios.post(
          `https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=${this.apiKey}`,
          {
            email: this.$fire.auth.currentUser.email,
            password: this.currentPassword,
            returnSecureToken: true,
          }
        )
      } catch {
        this.$emit('update', {
          update: false,
          message: 'La contraseña actual es incorrecta. Por favor verifícala.',
        })
      }
    },
    async validateSession() {
      try {
        // Validate user active session
        const credential = await getCredentialToAuth(this.$fireModule, {
          email: this.$fire.auth.currentUser.email,
          currentPassword: this.currentPassword,
        })
        return await reauthenticate(this.$fire, credential)
      } catch {
        this.$emit('update', {
          update: false,
          message: 'Tu sesión a caducado. Por favor vuelve a iniciar sesión.',
        })
      }
    },
    async updatePassword() {
      // Update password
      try {
        return await updatePasswordAuth(this.$fire, this.confirmNewPassword)
      } catch {
        this.$emit('update', {
          update: false,
          message:
            'La contraseña no pudo ser cambiada. Por favor intenta nuevamente.',
        })
      }
    },
    async changePassword() {
      this.loading = true
      if (
        (
          this.$refs.formChangePassword as Vue & {
            validate: () => boolean
          }
        ).validate()
      ) {
        if (this.newPassword === this.confirmNewPassword) {
          if (this.newPassword.length >= 6) {
            if (!this.onlyEmit) {
              const validPassword = await this.validatePassword()
              let validSession = null
              if (validPassword) {
                validSession = await this.validateSession()
              }
              if (validSession) {
                await this.updatePassword()
                this.$emit('update', {
                  update: true,
                  message: 'Tu contraseña ha sido actualizada con éxito.',
                })
              }
            } else {
              this.$emit('update', {
                update: true,
                message: '',
                data: {
                  newPassword: this.newPassword,
                },
              })
            }
          } else {
            this.$emit('update', {
              update: false,
              message: 'La nueva contraseña debe tener al menos 6 caracteres.',
            })
          }
        } else {
          this.$emit('update', {
            update: false,
            message:
              'Por favor valida que la nueva contraseña sea la misma en los dos campos.',
          })
        }
      }
      this.loading = false
    },
    closeDialog(): any {
      this.$emit('close', false)
    },
  },
})
</script>
