<template>
  <v-form>
    <v-card>
      <v-card-text>
        <v-container grid-list-md pa-0>
          <v-row v-if="userData.email">
            <v-col cols="12" class="pb-0">
              <v-text-field
                v-model="currentPassword"
                :label="$t('password')"
                outlined
                prepend-icon="mdi-lock"
                type="password"
                :rules="rules"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <div id="recaptcha-delete-account" class="recaptcha pl-8"></div>
            </v-col>
            <v-col cols="12" class="text-right">
              <v-btn
                :disabled="!reCAPTCHA || !currentPassword"
                :loading="loading"
                color="primary"
                @click="dialogConfirmingDisabled = true"
              >
                {{ $t('deactivateAccount') }}
              </v-btn>
            </v-col>
          </v-row>
          <v-layout v-if="!userData.email" row wrap my-2>
            <v-flex class="xs6 text-xs-center deactivate-border">
              <h3>
                Solicita un código de verificación para desactivar tu cuenta.
              </h3>
              <div xs4>
                <div id="recaptcha-delete-account" class="recaptcha"></div>
              </div>
              <v-flex xs12>
                <v-btn
                  id="deactivate-account"
                  :disabled="!reCAPTCHA"
                  :loading="$wait.any"
                  color="primary"
                  @click="sendCode"
                >
                  ENVIAR CÓDIGO DE VERIFICACIÓN
                </v-btn>
              </v-flex>
            </v-flex>
            <v-flex class="xs6 text-xs-center px-4 code-verify">
              <v-flex text-xs-center mb-2>
                <v-text-field
                  v-model="codePhone"
                  label="Código de verificación *"
                  outline
                  hide-details
                  prepend-icon="mdi-key"
                  type="text"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex>
                <v-btn
                  :disabled="!codePhone"
                  :loading="$wait.any"
                  color="primary"
                  @click="dialogConfirmingDisabled = true"
                >
                  DESACTIVAR CUENTA
                </v-btn>
              </v-flex>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
    <v-dialog
      v-model="dialogConfirmingDisabled"
      scrollable
      max-width="450"
      persistent
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>Confirmar desactivación</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="dialogConfirmingDisabled = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text class="text-center">
          <v-col cols="12"
            >¿Esta seguro que desea desactivar esta cuenta?
          </v-col>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="dialogConfirmingDisabled = false">
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            v-if="userData.email"
            :loading="loading"
            color="primary"
            @click="deleteUser"
          >
            {{ $t('send') }}
          </v-btn>
          <v-btn
            v-if="!userData.email"
            :loading="loading"
            type="submit"
            color="primary"
            @click="deleteUserSMS"
          >
            {{ $t('send') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import _ from 'lodash'

import { reauthenticate, getCredentialToAuth } from '~/services/Firebase'
import { setUserDoc } from '~/services/User'

declare global {
  interface Window {
    recaptchaVerifierDeleteAccount: any
    recaptchaWidgetDeleteAccountId: any
  }
}

export default Vue.extend({
  name: 'DeactivateUser',
  components: {},
  props: {
    userInfo: {
      type: Object,
      required: true,
      default: () => ({
        first_name: null,
        last_name: null,
        birthdate: null,
        phone: null,
        gender: null,
        scholarity: null,
        picture: null,
        public_address: null,
        location: {
          lat: null,
          lng: null,
          address: null,
          custom: null,
          street: null,
          num_ext: null,
          num_int: null,
          neighborhood: null,
          between_streets: null,
          references: null,
        },
      }),
    },
  },
  data: () => ({
    rules: [(v: any) => !!v || 'El campo es requerido'],
    loading: false,
    currentPassword: null,
    apiKey: process.env.FIREBASE_API_KEY,
    dialogConfirmingDisabled: false,
    urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
    reCAPTCHA: false,
  }),
  computed: {
    userData(): any {
      const userData = _.cloneDeep(this.userInfo)
      return userData
    },
  },
  mounted() {
    const self = this
    window.recaptchaVerifierDeleteAccount =
      new self.$fireModule.auth.RecaptchaVerifier('recaptcha-delete-account', {
        callback() {
          self.reCAPTCHA = true
        },
        'expired-callback'() {
          self.reCAPTCHA = false
        },
        size: self.$vuetify.breakpoint.smAndDown ? 'compact' : 'normal',
      })
    window.recaptchaVerifierDeleteAccount
      .render()
      .then(function (widgetId: any) {
        window.recaptchaWidgetDeleteAccountId = widgetId
      })
  },
  methods: {
    async validatePassword() {
      // Validate current password
      try {
        return await axios.post(
          `https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=${this.apiKey}`,
          {
            email: this.$fire.auth.currentUser.email,
            password: this.currentPassword,
            returnSecureToken: true,
          }
        )
      } catch {
        this.$emit('update', {
          update: false,
          message: 'La contraseña actual es incorrecta. Por favor verifícala.',
        })
      }
    },
    async validateSession() {
      // Validate current password
      try {
        // Validate user active session
        const credential = await getCredentialToAuth(this.$fireModule, {
          email: this.$fire.auth.currentUser.email,
          currentPassword: this.currentPassword,
        })
        return await reauthenticate(this.$fire, credential)
      } catch {
        this.$emit('update', {
          update: false,
          message: 'Tu sesión a caducado. Por favor vuelve a iniciar sesión.',
        })
      }
    },
    async deleteUser() {
      this.loading = true
      const validPassword = await this.validatePassword()
      let validSession = null
      if (validPassword) {
        validSession = await this.validateSession()
      }
      if (validSession) {
        const tokenId = await this.$fire.auth.currentUser.getIdToken()
        await axios.post(`${this.urlEndpoints}/deactivateUser`, {
          idToken: tokenId,
        })
        const userUid = this.$fire.auth.currentUser.uid
        await setUserDoc(this.$fire, userUid, {
          ...this.userData,
        })
        this.dialogConfirmingDisabled = false
        this.$emit('update', {
          update: true,
          disabled: true,
          message: 'Tu cuenta ha sido desactivada con éxito.',
        })
      }
      this.loading = false
    },
    closeDialog(): any {
      this.$emit('close', false)
    },
  },
})
</script>
