<template>
  <v-form
    ref="formUserData"
    v-model="valid"
    lazy-validation
    @submit.prevent="updateProfile"
  >
    <v-card>
      <v-card-text>
        <v-container fluid grid-list-md pa-0>
          <v-row>
            <v-col cols="12">
              <h3>{{ $t('mycontactinfo') }}</h3>
            </v-col>
            <v-col cols="12" sm="6" md="6" class="pb-0">
              <v-text-field
                v-model="userData.first_name"
                :loading="loading"
                :rules="rules"
                :label="$t('name')"
                required
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" class="pb-0">
              <v-text-field
                v-model="userData.last_name"
                :loading="loading"
                :rules="rules"
                :label="$t('lastname')"
                required
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="4" md="4" class="py-0">
              <v-dialog
                ref="dialog"
                v-model="modalSelectDate"
                :return-value.sync="userData.birthdate"
                persistent
                width="290px"
              >
                <template #activator="{ on }">
                  <v-text-field
                    v-model="userData.birthdate"
                    :loading="loading"
                    :label="$t('birthday')"
                    readonly
                    outlined
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  ref="birthdayPicker"
                  v-model="userData.birthdate"
                  :locale="$i18n.locale"
                  :max="new Date().toISOString().substr(0, 10)"
                  min="1950-01-01"
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn color="primary" @click="modalSelectDate = false">
                    Cancelar
                  </v-btn>
                  <v-btn
                    color="primary"
                    @click="$refs.dialog.save(userData.birthdate)"
                  >
                    Aceptar
                  </v-btn>
                </v-date-picker>
              </v-dialog>
            </v-col>
            <v-col cols="12" sm="4" md="4" class="py-0">
              <client-only>
                <vue-tel-input
                  v-model="userData.phone"
                  name="userPhone"
                  :placeholder="$t('phonenumber')"
                  :valid-characters-only="true"
                  mode="international"
                  @validate="phoneIsValid"
                ></vue-tel-input>
              </client-only>
            </v-col>
            <v-col cols="12" sm="4" md="4" class="py-0">
              <v-autocomplete
                v-model="userData.gender"
                :loading="loading"
                :items="genderItems"
                item-text="name"
                item-value="id"
                :label="$t('gender')"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" sm="6" md="6" class="pt-0">
              <Wallets
                :has-wallet="hasStoredWallet"
                :from-profile="true"
                @change="setPublicAddress($event)"
              />
            </v-col>
            <v-col cols="12" sm="6" md="6" class="py-0">
              <v-autocomplete
                v-model="userData.scholarity"
                :loading="loading"
                :items="scholarityItems"
                item-text="name"
                item-value="id"
                :label="$t('scholarity')"
                outlined
              ></v-autocomplete>
            </v-col>
            <v-col cols="12" class="pb-0">
              <h3>{{ $t('titleAddress') }}</h3>
            </v-col>
            <v-col cols="12" sm="12" md="12" lg="12" class="pt-0">
              <Map
                v-if="userData.location"
                :location="userData.location"
                :has-location="hasLocation"
                class="mt-1"
                @change="setLocation($event)"
              />
              <span>
                {{ $t('infomap') }}
              </span>
            </v-col>
            <v-col cols="12">
              <v-row>
                <v-col cols="12" sm="6" md="6" lg="4" class="pb-0">
                  <v-text-field
                    v-model="userData.location.neighborhood"
                    :loading="loading"
                    :label="$t('neighborhood')"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col xs="12" sm="6" md="6" lg="4" class="pb-0">
                  <v-text-field
                    v-model="userData.location.street"
                    :loading="loading"
                    :label="$t('street')"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" lg="2" class="pb-0">
                  <v-text-field
                    v-model="userData.location.num_ext"
                    :loading="loading"
                    :label="$t('numext')"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" lg="2" class="pb-0">
                  <v-text-field
                    v-model="userData.location.num_int"
                    :loading="loading"
                    :label="$t('numint')"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" lg="6" class="py-0">
                  <v-text-field
                    v-model="userData.location.between_streets"
                    :loading="loading"
                    :label="$t('betweenstreets')"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" lg="6" class="py-0">
                  <v-text-field
                    v-model="userData.location.references"
                    :loading="loading"
                    :label="$t('references')"
                    outlined
                  ></v-text-field>
                </v-col>
                <v-col cols="12" class="pt-0">
                  <v-text-field
                    v-model="userData.location.custom"
                    :loading="loading"
                    :persistent-hint="true"
                    :label="$t('customaddress')"
                    :hint="$t('infocustomaddress')"
                    outlined
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="px-3">
        <v-row>
          <v-col cols="12" class="text-right">
            <v-btn
              :loading="loading"
              :disabled="loading || !valid"
              color="primary"
              type="submit"
            >
              {{ $t('send') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import _ from 'lodash'

import Wallets from '@/components/Register/Wallets.vue'
import Map from '@/components/public/Map.vue'
import { updateUserAuth } from '~/services/Firebase'
import { setUserDoc, getUserByPublicAddress } from '~/services/User'

export default Vue.extend({
  name: 'UserData',
  components: { Map, Wallets },
  props: {
    userInfo: {
      type: Object,
      required: true,
    },
    genderItems: {
      type: Array,
      required: false,
      default: () => [
        { name: 'Masculino', id: 'male' },
        { name: 'Femenino', id: 'female' },
        { name: 'Otro', id: 'other' },
        { name: 'No declarar', id: 'not_declare' },
      ],
    },
    scholarityItems: {
      type: Array,
      required: false,
      default: () => [
        { name: 'Primaria', id: 'elementary' },
        { name: 'Secundaria', id: 'middleschool' },
        { name: 'Bachillerato', id: 'highschool' },
        { name: 'Carrera técnica', id: 'technical' },
        { name: 'Profesional', id: 'undergraduate' },
        { name: 'Posgrado', id: 'graduate' },
      ],
    },
  },
  data: () => ({
    validContact: false,
    rules: [(v: any) => !!v || 'El campo es requerido'],
    rulesDescription: [
      (v: any) => !!v || 'El campo es requerido',
      (v: string | any[]) => (v && v.length <= 700) || 'Máximo 700 caracteres',
    ],
    phoneValidation: false,
    valid: false,
    loading: false,
    modalSelectDate: false,
    user: {
      first_name: null,
      last_name: null,
      birthdate: null,
      phone: null,
      gender: null,
      scholarity: null,
      picture: null,
      public_address: '',
      location: {
        lat: null,
        lng: null,
        address: null,
        custom: null,
        street: null,
        num_ext: null,
        num_int: null,
        neighborhood: null,
        between_streets: null,
        references: null,
      },
    },
  }),
  computed: {
    userData(): any {
      const userData = _.cloneDeep(this.userInfo)
      if (!userData.location) {
        userData.location = {
          lat: null,
          lng: null,
          address: null,
          custom: null,
          street: null,
          num_ext: null,
          num_int: null,
          neighborhood: null,
          between_streets: null,
          references: null,
        }
      }
      return userData
    },
    hasLocation(): any {
      if (this.userData.location.lat) {
        return true
      }
      return false
    },
    hasStoredWallet(): string {
      if (
        this.userData.public_address &&
        this.userData.public_address.startsWith('0x')
      ) {
        return this.userData.public_address
      }
      return ''
    },
  },
  methods: {
    setPublicAddress(address: string): any {
      this.userData.public_address = address
    },
    async updateProfile(): Promise<void> {
      this.loading = true
      try {
        if (
          (this.$refs.formUserData as Vue & {
            validate: () => boolean
          }).validate()
        ) {
          if (this.userData) {
            // Update authUser in Authentication firebase
            await updateUserAuth(this.$fire, {
              displayName: `${this.userData.first_name} ${this.userData.last_name}`,
            })
            this.userData.location.num_int = _.toString(
              this.userData.location.num_int
            )
            this.userData.location.num_ext = _.toString(
              this.userData.location.num_ext
            )
            this.userData.role =
              this.userData.role && this.userData.role.id
                ? this.userData.role.id
                : null
            let walletExist
            if (
              !this.hasStoredWallet &&
              this.userData.public_address &&
              this.userData.public_address.startsWith('0x')
            ) {
              walletExist = await getUserByPublicAddress(this.$fire, {
                publicAddress: this.userData.public_address,
              })
            }
            // Update user collection
            if (walletExist?.docs?.length > 0) {
              this.$emit('update', {
                update: false,
                message: 'La llave pública ya está en uso por otra cuenta',
              })
            } else {
              await setUserDoc(this.$fire, this.userData.uid, this.userData)
              this.$emit('update', {
                update: true,
                message: 'Perfil actualizado con éxito.',
              })
            }
          }
        }
      } catch {
        this.$emit('update', {
          update: false,
          message:
            'Ocurrió un error al guardar los datos. Por favor intenta nuevamente.',
        })
      }
      this.loading = false
    },
    closeDialog(): any {
      this.$emit('close', false)
    },
    phoneIsValid($event: { isValid: boolean }): any {
      this.phoneValidation = $event.isValid
    },
    setLocation(userLocation: any) {
      this.userData.user.location = {}
      this.userData.user.location = userLocation
    },
  },
})
</script>

<style scoped>
.vue-tel-input {
  min-height: 59px;
}
</style>
