<template>
  <section class="d-md-flex" style="height: 100%">
    <ProcedureSidebar
      v-show="$vuetify.breakpoint.mdAndUp"
      title="Certificado de inscripción a ingresos brutos directos"
      procedure="inscripcion-ingresos-brutos-directos"
    />
    <ProcedureHeadbar
      v-show="$vuetify.breakpoint.mdAndDown"
      class="d-md-none"
      title="Certificado de inscripción a ingresos brutos directos"
      procedure="inscripcion-ingresos-brutos-directos"
    />
    <v-container fluid>
      <v-row>
        <v-col class="mb-0">
          <p class="ma-0">
            <strong>Trámites/</strong>Certificado de inscripción a ingresos
            brutos directos
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-card color="white" width="100%" min-height="420px">
            <v-col>
              <v-form
                ref="form"
                v-model="form.validForm"
                @submit.prevent="submitForm"
              >
                <v-container fluid>
                  <v-row>
                    <v-col>
                      <h2 class="font-weight-bold form-title mb-4">
                        Certificado de inscripción a ingresos brutos directos
                      </h2>
                      <p class="font-lato form-subtitle font-weight-light mb-8">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloribus, nulla impedit! Aliquam aperiam deleniti
                        perferendis et alias pariatur aspernatur earum ad error
                        quis. Eum sed assumenda reiciendis veniam culpa quos.
                      </p>
                      <p
                        style="background-color: #fff3cd; color: #856403"
                        class="register text-center pa-3 rounded-lg"
                      >
                        Para comenzar el trámite debés
                        <br />
                        <v-btn
                          plain
                          small
                          color="#856403"
                          class="
                            px-0
                            text-none text-body-1
                            font-weight-bold
                            text-decoration-underline
                          "
                          to="/login"
                          >Iniciar sesión</v-btn
                        >
                        <span class="register-o"> o estar </span>
                        <v-btn
                          plain
                          small
                          color="#856403"
                          class="
                            px-0
                            text-none text-body-1
                            font-weight-bold
                            text-decoration-underline
                          "
                          to="/register"
                          >Registrado</v-btn
                        >
                      </p>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" class="pb-1">
                      <h2 class="pa-0 font-poppins font-weight-bold">
                        Contribuyente (persona física)
                      </h2>
                    </v-col>
                    <v-col cols="12" class="pt-0">
                      <v-divider></v-divider>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">
                        CUIT del contribuyente
                      </p>
                      <v-text-field
                        v-model="form.fields.n_cuit"
                        outlined
                        disabled
                        :rules="[form.rules.required]"
                        class="align-end"
                        filled
                      ></v-text-field>
                    </v-col>
                    <v-spacer></v-spacer>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Nombres y apellidos</p>
                      <v-text-field
                        filled
                        disabled
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-text-field>
                    </v-col>
                    <v-spacer></v-spacer>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">
                        Correo electrónico del contribuyente
                      </p>
                      <v-text-field
                        v-model="form.fields.email"
                        outlined
                        disabled
                        filled
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pl-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Número de teléfono</p>
                      <v-text-field
                        v-model="form.fields.telefono"
                        outlined
                        type="number"
                        :rules="[form.rules.required]"
                        class="align-end"
                        disabled
                        filled
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Nacionalidad</p>
                      <v-select
                        v-model="form.fields.c_nacionalidad"
                        placeholder="Selecciona una Nacionalidad"
                        :items="form.nacionalities_options"
                        item-text="descripcion"
                        item-value="code_nacionalidad"
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                        disabled
                        filled
                      ></v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pl-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Estado civil</p>
                      <v-select
                        v-model="form.fields.c_estado_civil"
                        disabled
                        filled
                        placeholder="Selecciona un Estado Civil"
                        :items="form.civilStatus_options"
                        item-text="descripcion"
                        item-value="code_estado_civil"
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Fecha de nacimiento</p>
                      <v-menu
                        ref="menu"
                        v-model="menu"
                        disabled
                        filled
                        :close-on-content-click="false"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                      >
                        <template #activator="{ on, attrs }">
                          <v-text-field
                            v-model="form.fields.f_nacimiento"
                            disabled
                            filled
                            label="Selecciona fecha de nacimiento"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="form.fields.f_nacimiento"
                          disabled
                          filled
                          :active-picker.sync="activePicker"
                          :max="
                            new Date(
                              Date.now() -
                                new Date().getTimezoneOffset() * 60000
                            )
                              .toISOString()
                              .substr(0, 10)
                          "
                          min="1900-01-01"
                        ></v-date-picker>
                      </v-menu>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pl-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Sexo</p>
                      <v-select
                        v-model="form.fields.c_sexo"
                        disabled
                        filled
                        placeholder="Selecciona un sexo"
                        :items="form.sex_options"
                        item-text="sexo"
                        item-value="code_sexo"
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Situación IVA</p>
                      <v-select
                        v-model="form.fields.c_situacion_iva"
                        disabled
                        filled
                        placeholder="Selecciona una situación IVA"
                        :items="form.ivaSituation_options"
                        item-text="descripcion"
                        item-value="code_situacion_iva"
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pl-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Tipo de exento</p>
                      <v-select
                        v-model="form.fields.tipo_exento"
                        disabled
                        filled
                        placeholder="Selecciona un tipo de exento"
                        :items="form.exemptTypes_options"
                        item-text="descripcion"
                        item-value="code_tipo_exento"
                        outlined
                        class="align-end"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" class="pb-1">
                      <h2 class="pa-0 font-poppins font-weight-bold">
                        Domicilio actividad principal
                      </h2>
                    </v-col>
                    <v-col cols="12" class="pt-0">
                      <v-divider></v-divider>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Provincia</p>
                      <v-select
                        v-model="domicilio_fiscal.dom_c_provincia"
                        disabled
                        filled
                        item-text="provincia"
                        return-object
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pl-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Departamento</p>
                      <v-select
                        v-model="domicilio_fiscal.dom_c_departamento"
                        disabled
                        filled
                        placeholder="Selecciona un departamento"
                        :items="departments_misiones"
                        item-text="departamento"
                        return-object
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-select>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Localidad</p>
                      <v-select
                        v-model="domicilio_fiscal.dom_c_localidad"
                        disabled
                        filled
                        placeholder="Selecciona una localidad"
                        :items="localities_misiones"
                        item-text="localidad"
                        return-object
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-select>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="6"
                      class="d-flex flex-column py-0 pl-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Código postal*</p>
                      <v-text-field
                        v-model="domicilio_fiscal.dom_c_postal"
                        disabled
                        filled
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      sm="9"
                      class="d-flex flex-column py-0 pr-sm-4"
                    >
                      <p class="mb-2 font-weight-bold">Calle del domicilio*</p>
                      <v-text-field
                        v-model="domicilio_fiscal.dom_calle"
                        disabled
                        filled
                        outlined
                        :rules="[form.rules.required]"
                        class="align-end"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      sm="3"
                      class="d-flex flex-column py-0 pl-sm-2"
                    >
                      <p class="mb-2 font-weight-bold">Altura de la calle</p>
                      <v-text-field
                        v-model="domicilio_fiscal.dom_nro"
                        disabled
                        filled
                        outlined
                        type="number"
                        required
                        :rules="rulesNumber"
                        class="align-end"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="6" class="pb-1">
                      <h2 class="pa-0 font-poppins font-weight-bold d-blocks">
                        Domicilios adicionales
                      </h2>
                    </v-col>
                    <v-col cols="12">
                      <v-data-table
                        :headers="adressHeaders"
                        :items="form.fields.domicilios"
                        class="elevation-1 mt-3"
                        hide-default-footer
                      >
                        <template #[`item.address`]="{ item }">
                          <td>
                            {{ item.dom_calle + ' ' + item.dom_nro }}
                          </td>
                        </template>
                      </v-data-table>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col class="pb-1">
                      <h2 class="font-poppins font-weight-bold d-blocks">
                        Actividades
                      </h2>
                    </v-col>
                    <v-col cols="12">
                      <v-data-table
                        :headers="activitiesHeaders"
                        :items="form.fields.actividades"
                        class="elevation-1 mt-3"
                        hide-default-footer
                      >
                        <template #[`item.es_principal`]="{ item }">
                          <td>
                            {{ item.es_principal === 'S' ? 'Si' : 'No' }}
                          </td>
                        </template>
                      </v-data-table>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import ProcedureHeadbar from '@/components/Procedures/ProcedureHeadbar.vue'
import ProcedureSidebar from '@/components/Procedures/ProcedureSidebar.vue'

export default {
  components: {
    ProcedureHeadbar,
    ProcedureSidebar,
  },
  data() {
    return {
      data: {},
      editedItem: null,
      editedIndex: null,
      valid: true,
      addressDialog: false,
      activitiesDialog: false,
      activePicker: null,
      menu: false,
      menuInicioActividad: false,
      loading: false,
      loadingBasic: false,
      domicilio_fiscal: {
        c_tipo_domicilio: '1',
        dom_c_provincia: '14',
        dom_c_departamento: '',
        dom_c_localidad: '',
        dom_c_postal: '',
        dom_calle: '',
        dom_nro: '',
      },
      departments_misiones: [],
      localities_misiones: [],
      form: {
        isLoadingActivities: false,
        domicilioData: {},
        activityData: {
          actividad: {},
          es_principal: 'N',
        },
        validForm: false,
        validAddressForm: false,
        validActivityForm: false,
        fields: {
          n_cuit: '',
          denominacion: '',
          email: '',
          situacion_iva: '',
          tipo_exento: '',
          c_nacionalidad: '',
          c_estado_civil: '',
          f_nacimiento: '',
          c_sexo: '',
          domicilios: [],
          telefono: '',
          actividades: [],
        },
        rules: {
          required: (value) => !!value || value === 0 || 'Campo requerido.',
          counter: (value) => value.length <= 20 || 'Max 20 characters',
          email: (value) => {
            const pattern =
              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'E-mail inválido.'
          },
          number: (value) =>
            !!value ||
            !(value < 0) ||
            typeof value !== 'number' ||
            'El campo es requerido y no puede ser menor que 0',
        },
        provinces_options: [],
        localities_options: [],
        departments_options: [],
        activities_options: [],
        isValidActivity: false,
        isEmptyActivity: false,
        nacionalities_options: [],
        exemptTypes_options: [],
        civilStatus_options: [],
        addressTypes_options: [],
        isEmptyAddress: false,
        ivaSituation_options: [],
        principalActivity_options: [
          { code_principalActivity: 'S', descripcion: 'Sí' },
          { code_principalActivity: 'N', descripcion: 'No' },
        ],
        sex_options: [
          { code_sexo: 'M', sexo: 'Masculino' },
          { code_sexo: 'F', sexo: 'Femenino' },
        ],
      },
      rulesNumber: [
        (v) => !!v || 'El campo es requerido',
        (v) => !(v < 0) || 'El numero no puede ser menor que 0',
        (v) => typeof v !== 'number' || 'El campo debe ser numero',
      ],
      activitiesHeaders: [
        {
          text: 'Tipo de actividad',
          value: 'actividad.descripcion',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Vigencia desde',
          value: 'actividad.f_vig_desde',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Es principal',
          value: 'es_principal',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Acciones',
          value: 'actions',
          align: 'center',
          sortable: false,
        },
      ],
      adressHeaders: [
        {
          text: 'Tipo de domicilio',
          value: 'c_tipo_domicilio.descripcion',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Provincia',
          value: 'dom_c_provincia.provincia',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Departamento',
          value: 'dom_c_departamento.departamento',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Localidad',
          value: 'dom_c_localidad.localidad',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Código postal',
          value: 'dom_c_postal',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Dirección',
          value: 'address',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Acciones',
          value: 'actions',
          align: 'center',
          sortable: false,
        },
      ],
    }
  },
}
</script>

<style>
.register {
  font-size: 1.375rem;
}
.register-o {
  font-size: 1rem;
}
</style>
