<template>
  <v-row>
    <v-col cols="12">
      <div id="editorjs"></div>
    </v-col>
    <v-col cols="12" text-xs-right>
      <v-flex xs4>
        <v-btn
          id="save-user"
          block
          color="#39b0af"
          class="white--text"
          @click="updateEditorData()"
        >
          Actualizar
        </v-btn>
      </v-flex>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import Vue from 'vue'
import List from '@editorjs/list'
import Header from '@editorjs/header'
import EditorJS from '@editorjs/editorjs'
import Checklist from '@editorjs/checklist'
import Delimiter from '@editorjs/delimiter'
import Embed from '@editorjs/embed'
import SimpleImage from '@editorjs/simple-image'
import Marker from '@editorjs/marker'
// import {
//   getBuilderDesciption,
//   updatePageBuilderData,
// } from '@/services/Firebase'
// const SimpleImage = require('@editorjs/simple-image')
export default Vue.extend({
  name: 'EditorBuilder',
  data() {
    return {
      editor: null as any,
      editorData: null as any,
    }
  },
  async mounted() {
    // eslint-disable-next-line no-unused-vars
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    await this.loadEditorData()
    await this.mountEditor()
  },
  methods: {
    async loadEditorData() {
      // await console.log(this.$route.params.id)
      // this.editorData = (
      //   await getBuilderDesciption(this.$fire, 'S1pgjtkuozJdHZUeLgOL')
      // ).data()
    },
    async mountEditor() {
      this.editor = await new EditorJS({
        placeholder: 'Escribe aquí la descripción del trámite',
        /**
         * Id of Element that should contain the Editor
         */
        holder: 'editorjs',
        data: this.editorData.outputData,
        /**
         * Common Inline Toolbar settings
         * - if true (or not specified), the order from 'tool' property will be used (default)
         * - if an array of tool names, this order will be used
         */
        inlineToolbar: ['link', 'marker', 'bold', 'italic'],
        /**
         * Available Tools list.
         * Pass Tool's class or Settings object for each Tool you want to use
         */
        tools: {
          header: {
            class: Header,
            inlineToolbar: true,
          },
          list: {
            class: List,
            inlineToolbar: true,
          },
          checklist: {
            class: Checklist,
            inlineToolbar: true,
          },
          delimiter: {
            class: Delimiter,
            inlineToolbar: true,
          },
          embed: {
            class: Embed,
            inlineToolbar: true,
          },
          image: {
            class: SimpleImage,
            inlineToolbar: true,
          },
          Marker: {
            class: Marker,
            shortcut: 'CMD+SHIFT+M',
          },
        },
        /**
         * Enable autofocus
         */
        autofocus: true,
        logLevel: 'ERROR' as any,
      })
      try {
        await this.editor.isReady
        console.log('Editor.js is ready to work!')
        /** Do anything you need after editor initialization */
      } catch (reason) {
        console.log(`Editor.js initialization failed because of ${reason}`)
      }
    },
    updateEditorData() {
      // this.editor
      //   .save()
      //   .then((outputData: Object) => {
      //     console.log('Article data: ', outputData)
      //     updatePageBuilderData(
      //       this.$fire,
      //       { outputData },
      //       'S1pgjtkuozJdHZUeLgOL'
      //     )
      //   })
      //   .catch((error: any) => {
      //     console.log('Saving failed: ', error)
      //   })
    },
  },
})
</script>
