<template>
  <v-container>
    <v-row class="mt-4">
      <v-col cols="12">
        <v-data-table
          :headers="headers"
          :items="forms"
          sort-by="calories"
          class="elevation-1"
          :loading="loading"
        >
          <template #top>
            <v-toolbar flat>
              <v-toolbar-title>{{ $t('tramites') }}</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn color="primary" :to="`/admin/forms/builder`">
                {{ $t('forms.new') }}
              </v-btn>
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-toolbar flat>
                    <v-toolbar-title>{{
                      $t('forms.deleteForm')
                    }}</v-toolbar-title>
                  </v-toolbar>

                  <v-card-text class="pa-4">
                    {{ $t('forms.deleteFormText') }}
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary" text @click="closeDelete">
                      {{ $t('forms.cancel') }}
                    </v-btn>
                    <v-btn color="primary" @click="deleteItemConfirm">
                      {{ $t('forms.delete') }}
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-toolbar>
          </template>
          <template #[`item.actions`]="{ item }">
            <v-btn icon :to="`/admin/forms/builder/${item.id}`">
              <v-icon small> mdi-pencil </v-icon>
            </v-btn>
            <v-btn icon @click="deleteItem(item)">
              <v-icon small> mdi-delete </v-icon>
            </v-btn>
            <!-- <v-btn icon :to="`/admin/forms/${item.id}`">
              <v-icon small> mdi-plus </v-icon>
            </v-btn> -->
            <v-btn icon :to="`/admin/forms/answers/${item.id}`">
              <v-icon small> mdi-format-list-bulleted </v-icon>
            </v-btn>
            <v-btn
              icon
              @click="
                changeActive = true
                itemChanged = item
              "
            >
              <v-icon v-if="item.active" color="green" small>
                mdi-note-check
              </v-icon>
              <v-icon v-else small> mdi-note-off </v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-col>
    </v-row>

    <v-dialog v-model="changeActive" width="500px" eager>
      <v-card>
        <v-toolbar color="toolbar">
          <v-toolbar-title>
            {{
              itemChanged.active ? $t('change-inactive') : $t('change-active')
            }}
          </v-toolbar-title>
        </v-toolbar>

        <v-card-text class="pa-4">
          <v-row>
            <v-col>
              <p>
                {{ $t('seguro-cambiar-activo') }}
              </p>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            text
            @click="
              changeActive = false
              itemChanged = {}
            "
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            id="changeProcedureStatus"
            color="primary"
            @click="changeProcedureStatus()"
          >
            {{ $t('cambiar') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    changeActive: null,
    itemChanged: {},
    loading: true,
    editedIndex: null,
    editedItem: null,
    dialogDelete: false,
    headers: [
      {
        text: 'Procedure ID',
        align: 'start',
        sortable: false,
        value: 'id',
      },
      {
        text: 'Nombre',
        align: 'start',
        sortable: false,
        value: 'title',
      },

      { text: 'Acciones', value: 'actions', sortable: false },
    ],
    forms: [],
  }),
  watch: {
    dialogDelete(val) {
      val || this.closeDelete()
    },
  },
  mounted() {
    this.initialize()
  },
  methods: {
    async changeProcedureStatus() {
      this.loading = true
      const id = this.itemChanged.id
      try {
        await this.$fire.firestore.collection(`procedures`).doc(id).update({
          active: !this.itemChanged.active,
        })
        this.forms = []
        this.loading = false
        await this.initialize()
        this.changeActive = false
        this.$store.dispatch('notifications/open', {
          color: 'success',
          text: 'Estatus cambiado con exito',
        })
        await this.$store.dispatch('procedures/get')
      } catch (error) {
        this.changeActive = false
        this.loading = false
        this.$store.dispatch('notifications/open', {
          color: 'error',
          text: error.message,
        })
      }
    },
    async initialize() {
      const self = this
      await this.$fire.firestore
        .collection(`procedures`)
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach(function (doc) {
            self.forms.push({
              id: doc.id,

              ...doc.data(),
            })
          })
          self.loading = false
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.error('Error getting documents: ', error)
        })
    },
    deleteItem(item) {
      this.editedIndex = this.forms.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    async deleteItemConfirm() {
      this.forms.splice(this.editedIndex, 1)

      await this.$fire.firestore
        .collection(`procedures`)
        .doc(this.editedItem.id)
        .delete()
        .then(async () => {
          await this.$fire.firestore
            .collection(`forms`)
            .doc(this.editedItem.form_id)
            .delete()
            .then(async () => {
              this.$store.dispatch('notifications/open', {
                color: 'success',
                text: 'Tramite eliminado con exito',
              })
              await this.$store.dispatch('procedures/get')
            })

          this.closeDelete()
        })
        .catch((error) => {
          console.error('Error deleting documents: ', error)
          this.closeDelete()
        })
    },
    close() {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete() {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    // save() {
    //   if (this.editedIndex > -1) {
    //     Object.assign(this.forms[this.editedIndex], this.editedItem)
    //   } else {
    //     this.forms.push(this.editedItem)
    //   }
    //   this.close()
    // },
  },
}
</script>
