<template>
  <v-btn
    type="submit"
    width="160px"
    height="32px"
    small
    color="#0275B4"
    class="white--text text-none"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-icon left>{{ icon }}</v-icon>
    {{ text }}
  </v-btn>
</template>

<script>
export default {
  name: 'AddButton',
  props: {
    text: {
      type: String,
      default: 'Agregar',
      required: false,
    },
    icon: {
      type: String,
      default: 'mdi-view-grid-plus',
      required: false,
    },
  },
}
</script>

<style scoped>
.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #0275b490 !important;
  color: #fff !important;
}
.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}
</style>
