<template>
  <v-btn
    width="160px"
    height="32px"
    small
    color="#0275B4"
    outlined
    class="ml-sm-4 text-none"
    to="/procedures"
  >
    Cancelar</v-btn
  >
</template>

<script>
export default {}
</script>

<style scoped>
.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #0275b490 !important;
  color: #fff !important;
}
.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}
</style>
