<template>
  <v-btn
    type="submit"
    width="160px"
    height="32px"
    small
    color="#0275B4"
    :disabled="disabled"
    class="white--text mr-sm-4 text-none"
    :loading="loading"
  >
    Enviar
  </v-btn>
</template>

<script>
export default {
  props: {
    disabled: {
      type: Boolean,
      required: true,
    },
    loading: {
      type: Boolean,
      required: true,
    },
  },
}
</script>

<style scoped>
.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #0275b490 !important;
  color: #fff !important;
}
.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}
</style>
