<template>
  <v-row align="center" justify="center">
    <v-col cols="12">
      <v-data-table
        v-model="selected"
        :headers="
          deleteActivate
            ? headersDeleteActivate
            : archiveActivate
            ? headersCertified
            : revalidateActivate
            ? headersRevoke
            : headers
        "
        :items="items"
        :tab="tab"
        :single-select="false"
        item-key="ref"
        show-select
        class="elevation-1"
        :search="search"
      >
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.delete="{ item }">
          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-icon
                id="deleteDialog"
                medium
                v-bind="attrs"
                color="primary"
                class="mr-2"
                v-on="on"
                @click="deleteDialog(item)"
              >
                mdi-delete
              </v-icon>
            </template>
            <span>{{ $t('delete') }}</span>
          </v-tooltip>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.revoke="{ item }">
          <v-tooltip bottom>
            <template #activator="{ on, attrs }">
              <v-icon
                id="activeDialog"
                medium
                color="primary"
                class="mr-2"
                v-bind="attrs"
                v-on="on"
                @click="activeDialog(item)"
              >
                mdi-archive
              </v-icon>
            </template>
            <span>{{ $t('revoke') }}</span>
          </v-tooltip>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.estado_origen="{ item }">
          <div
            class="circle"
            :class="{
              standby: item.estado_origen === 'En espera',
              certified_status: item.estado_origen === 'Certificado',
            }"
          ></div>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.qr="{ item }">
          <vue-qrcode
            v-if="item.link"
            :value="item.link"
            :width="20"
            :margin="2"
            :scale="2"
          ></vue-qrcode>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.link="{ item }">
          <a v-if="item.link" :href="item.link" target="_blank">
            {{ item.link }}
          </a>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.domicilios="{ item }">
          <v-row v-if="item.domicilios" align-center justify-space-between>
            <v-btn id="showAddress" small outlined @click="showAddress(item)">
              Ver domicilios
            </v-btn>
          </v-row>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.actividades_secundarias="{ item }">
          <v-row
            v-if="
              item.actividades_secundarias &&
              item.actividades_secundarias.length > 0
            "
            align-center
            justify-space-between
          >
            <v-btn
              id="showSecondaryActivities"
              small
              outlined
              @click="showSecondaryActivities(item)"
            >
              Ver Actividades
            </v-btn>
          </v-row>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.comprobante="{ item }">
          <v-row v-if="item.comprobante" align-center justify-space-between>
            <v-btn id="showFile" small outlined @click="showFile(item)">
              Ver archivo
            </v-btn>
          </v-row>
        </template>
        <!-- eslint-disable-next-line vue/valid-v-slot -->
        <template #item.send="{ item }">
          <v-icon
            id="sendIndividualEmail"
            color="blue darken-2"
            :disabled="
              item.authorized === 'Authorized' || isSending || isSendingEmails
            "
            @click="
              sendIndividualEmail(item)
              selectedParticipant = item.email
            "
            >mdi-email-send</v-icon
          >
        </template>
        <template #no-results>
          <v-alert text type="error" class="text-left mt-4">
            {{ $t('your-search') }} "{{ search }}" {{ $t('no-results') }}
          </v-alert>
        </template>
      </v-data-table>
    </v-col>
    <v-dialog v-model="dialogSendLoading" persistent max-width="290">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-progress-circular indeterminate color="blue"></v-progress-circular>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text class="text-center text-h5 primary--text">
          {{ $t('email-loading') }}
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogSend" persistent max-width="290">
      <v-card>
        <v-card-title>
          <v-spacer></v-spacer>
          <v-icon color="primary" large>mdi-email-send</v-icon>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-card-text class="text-center text-h5 primary--text">
          Email sent to <br />
          <strong class="grey--text text--darken-2">
            {{ selectedParticipant }}
          </strong>
          <br />
          for authorization
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" small @click="dialogSend = false">
            Close
          </v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import _ from 'lodash'
import VueQrcode from 'vue-qrcode'
import swal from 'sweetalert'
import SendEmailVerificationMixin from '@/mixins/SendEmailVerificationMixin'

export default SendEmailVerificationMixin.extend({
  name: 'DataTableCertificates',
  components: { VueQrcode },
  props: {
    headers: {
      type: Array,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
    search: {
      type: String,
      default: '',
    },
    tab: {
      type: String,
      default: '',
    },
    archiveActivate: {
      type: Boolean,
      default: false,
    },
    deleteActivate: {
      type: Boolean,
      default: false,
    },
    revalidateActivate: {
      type: Boolean,
      default: false,
    },
    isSendingEmails: {
      type: Boolean,
      default: false,
    },
    withAuthorized: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    isFCMisiones:
      process.env.FIREBASE_PROJECT_ID === 'misiones-fondo-de-credito',
    selected: [] as any,
    selectedParticipant: '' as any,
    headersDeleteActivate: [] as any,
    headersCertified: [] as any,
    headersRevoke: [] as any,
    item: {},
    dialogSend: false,
    isSending: false,
    dialogSendLoading: false,
  }),
  watch: {
    selected(val): any {
      this.$emit('change', val)
    },
    headers: {
      handler() {
        this.headersDeleteActivate = _.cloneDeep(this.headers)
        this.headersCertified = _.cloneDeep(this.headers)
        this.headersRevoke = _.cloneDeep(this.headers)
        const existCertified = this.headersRevoke.find(
          (e: any) => e.value === 'revoke'
        )

        if (this.archiveActivate && !existCertified) {
          // eslint-disable-next-line vue/no-mutating-props

          // Remover ciertos headers para FCMisiones
          if (this.isFCMisiones) {
            const headerValues = ['dni', 'firstName', 'lastName']
            this.headersCertified = _.cloneDeep(this.headers).filter(
              (item: any) => headerValues.includes(item.value)
            )
          }
          this.headersCertified.unshift(
            {
              text: '',
              sortable: false,
              value: 'revoke',
              align: 'center',
              width: 80,
            },
            {
              text: this.$t('status'),
              sortable: true,
              value: 'estado_origen',
              align: 'center',
              width: 150,
            },
            {
              text: 'URL',
              sortable: true,
              value: 'link',
              align: 'center',
              width: 170,
            },
            {
              text: 'QR',
              sortable: true,
              value: 'qr',
              align: 'center',
              width: 150,
            }
          )
        }
        const existDelete = this.headers.find((e: any) => e.value === 'delete')
        if (this.deleteActivate && !existDelete) {
          // eslint-disable-next-line vue/no-mutating-props
          this.headersDeleteActivate.push({
            text: '',
            sortable: false,
            value: 'delete',
            align: 'center',
            width: 50,
          })
          if (this.withAuthorized) {
            // eslint-disable-next-line vue/no-mutating-props
            this.headersDeleteActivate.push({
              text: 'Send',
              sortable: false,
              value: 'send',
              align: 'center',
              width: 50,
            })
          }
        }
        const existRevoke = this.headers.find((e: any) => e.value === 'delete')
        if (this.revalidateActivate && !existRevoke) {
          // eslint-disable-next-line vue/no-mutating-props
          this.headersRevoke.unshift(
            {
              text: 'URL',
              sortable: true,
              value: 'link',
              align: 'center',
              width: 170,
            },
            {
              text: 'QR',
              sortable: true,
              value: 'qr',
              align: 'center',
              width: 150,
            }
          )
        }
      },
      immediate: true,
      deep: true,
    },
  },

  methods: {
    async sendIndividualEmail(item: any): Promise<void> {
      this.isSending = true
      this.dialogSendLoading = true
      try {
        const tokenURL = await this.createTokenAuthorization(item.email)
        if (tokenURL.length > 0) {
          try {
            await this.sendEmail(
              item.email,
              'Verification Email - UNICEF',
              `To receive your certificate on Blockchain, it must be authorized `,
              tokenURL,
              `Visit this link to complete the process`
            )
            this.dialogSendLoading = false
            this.dialogSend = true
          } catch (error) {
            this.dialogSendLoading = false
            swal({
              title: `Sorry, the e-mail couldn't be sent`,
              text: 'Please try again',
              icon: 'error',
              buttons: 'Close',
            })
          }
        }
      } catch (error) {
        this.dialogSendLoading = false
        swal({
          title: `Sorry, the e-mail couldn't be sent`,
          text: '' + error,
          icon: 'error',
          buttons: 'Close',
        })
      }
      this.isSending = false
    },
    toggleAll() {
      if (this.selected.length) {
        this.selected = []
      } else if (this.items.length > 0) {
        this.selected = this.items.filter((cert: any) => {
          return cert.is_certified || cert.confirmed
        })
        this.selected = this.selected.slice()
      } else {
        this.selected = this.items.slice()
      }
    },
    activeDialog(item: any) {
      this.item = item
      this.dialogConfirm()
    },
    archiveItem() {
      this.$emit('archiveItem', this.item)
      swal.close()
    },
    dialogConfirm() {
      swal({
        title: this.$t('certificates.are_you_sure'),
        icon: 'warning',
        buttons: [this.$t('cancel'), this.$t('revoke')],
        dangerMode: true,
      }).then((willDelete: boolean) => {
        if (willDelete) {
          this.archiveItem()
        } else {
          swal.close()
        }
      })
    },
    deleteDialog(item: any) {
      this.item = item
      this.dialogConfirmDelete()
    },
    deleteItem() {
      this.$emit('deleteItem', this.item)
      swal.close()
    },
    showAddress(item: any) {
      this.$emit('showAddress', item.domicilios)
    },
    showSecondaryActivities(item: any) {
      this.$emit('showSecondaryActivities', item.actividades_secundarias)
    },
    showFile(item: any) {
      this.$emit('showFile', item)
    },
    dialogConfirmDelete() {
      swal({
        title: this.$t('certificates.are_you_sure'),
        text: this.$t('certificates.you_cant_recover_it'),
        icon: 'warning',
        buttons: [this.$t('cancel'), this.$t('revoke')],
        dangerMode: true,
      }).then((willDelete: boolean) => {
        if (willDelete) {
          this.deleteItem()
        } else {
          swal.close()
        }
      })
    },
  },
})
</script>

<style scoped>
.standby {
  background: #fece00;
}
.certified_status {
  background: #06aa01;
}
.circle {
  max-width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 auto;
}
</style>
