<template>
  <v-form ref="formDervinsa" v-model="valid">
    <v-card>
      <v-card-title class="headline pl-5 primary white--text" primary-title>
        {{ $t('titleuploadata') }}
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="my-3 px-5">
        <v-row>
          <v-col cols="12" xs="12">
            <p>Archivo para Calcium Tartrate</p>
            <client-only>
              <FilePond
                ref="filepondCalcium"
                max-files="1"
                allow-multiple="false"
                accepted-file-types="application/pdf"
                :label-idle="$t('uploadfile')"
                @updatefiles="updateCalcium"
              />
            </client-only>
          </v-col>
          <v-col cols="12" xs="12">
            <p>Archivo para Purchasing</p>
            <client-only>
              <FilePond
                ref="filepondPurchasing"
                max-files="1"
                allow-multiple="false"
                accepted-file-types="application/pdf"
                :label-idle="$t('uploadfile')"
                @updatefiles="updatePurchasing"
              />
            </client-only>
          </v-col>
          <v-col cols="12" xs="12">
            <p>Archivo para Tartaric Acid</p>
            <client-only>
              <FilePond
                ref="filepondTartaric"
                max-files="1"
                allow-multiple="false"
                accepted-file-types="application/pdf"
                :label-idle="$t('uploadfile')"
                @updatefiles="updateTartaric"
              />
            </client-only>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="px-5 my-3">
        <v-row justify="end" align="center">
          <v-btn id="cancelBtn" color="secondary" text @click="closeDialog()">
            {{ $t('cancel') }}
          </v-btn>
          <v-btn
            id="saveBtn"
            color="primary"
            text
            :disabled="
              filesCalcium.length === 0 ||
              filesPurchasing.length === 0 ||
              filesTartaric.length === 0
            "
            @click="save()"
          >
            {{ $t('send') }}
          </v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'

import { saveFile } from '~/services/Firebase'
import { setCertificate, CompleteCertificate } from '~/services/Certificates'

export default Vue.extend({
  name: 'Dervinsa6a138',
  components: {},
  props: {},
  data: () => ({
    certificado: {
      acid: '',
      purchasing: '',
      calcium: '',
    },
    loading: false,
    modalSelectDate: false,
    filesCalcium: [] as any,
    filesPurchasing: [] as any,
    filesTartaric: [] as any,
    valid: true,
  }),
  watch: {},
  methods: {
    updateCalcium(files: any[]): any {
      this.filesCalcium = files
      this.certificado.calcium = files.length > 0 ? files[0].file.name : ''
    },
    updatePurchasing(files: any[]): any {
      this.filesPurchasing = files
      this.certificado.purchasing = files.length > 0 ? files[0].file.name : ''
    },
    updateTartaric(files: any[]): any {
      this.filesTartaric = files
      this.certificado.acid = files.length > 0 ? files[0].file.name : ''
    },
    closeDialog(): any {
      this.$emit('closeDialog')
    },
    async save() {
      this.loading = true
      try {
        const finalCertficate = CompleteCertificate(
          this.certificado,
          this.$store
        )
        await setCertificate(this.$fire, finalCertficate, 'certificates')
        saveFile(
          this.$fireModule,
          this.filesCalcium[0].file,
          'pdf_certificates_acid'
        )
        saveFile(
          this.$fireModule,
          this.filesPurchasing[0].file,
          'pdf_certificates_acid'
        )
        saveFile(
          this.$fireModule,
          this.filesTartaric[0].file,
          'pdf_certificates_acid'
        )
        this.$emit('save')
        this.$emit('messages', {
          error: false,
          message: 'Los datos fueron guardados.',
        })
      } catch {
        this.$emit('messages', {
          error: true,
          message:
            'Los datos no pudieron ser guardados. Por favor intenta nuevamente.',
        })
      }
      this.loading = false
      this.$emit('closeDialog')
    },
  },
})
</script>
