<template>
  <v-form ref="formMisiones" v-model="valid">
    <v-card>
      <v-card-title class="headline pl-5 primary white--text" primary-title>
        {{ $t('titleuploadata') }}
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text class="my-3 px-5">
        <v-row>
          <v-col cols="12" class="pb-1">
            <h2 class="pa-0 font-poppins font-weight-bold">
              Información general
            </h2>
          </v-col>
          <v-col cols="12" class="pt-0">
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12" xs="12" sm="6" md="6">
            <v-text-field
              v-model="certificado.firstName"
              hide-details
              label="Nombre *"
              outlined
              required
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="6" md="6">
            <v-text-field
              v-model="certificado.lastName"
              label="Apellido *"
              hide-details
              outlined
              required
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="4" md="4">
            <v-text-field
              v-model="certificado.dni"
              label="DNI *"
              hide-details
              outlined
              required
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="4" md="4">
            <v-text-field
              v-model="certificado.cuit"
              label="CUIT *"
              hide-details
              outlined
              required
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="4" md="4">
            <v-dialog
              ref="dialogDate"
              v-model="modalSelectDate"
              :return-value.sync="certificado.date"
              :rules="[rules.required]"
              persistent
              width="290px"
            >
              <template #activator="{ on }">
                <v-text-field
                  v-model="certificado.date"
                  :rules="[rules.required]"
                  label="Fecha *"
                  hide-details
                  readonly
                  required
                  outlined
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="certificado.date"
                :locale="$i18n.locale"
                scrollable
                required
              >
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="modalSelectDate = false">
                  Cancelar
                </v-btn>
                <v-btn
                  color="primary"
                  @click="$refs.dialogDate.save(certificado.date)"
                >
                  Aceptar
                </v-btn>
              </v-date-picker>
            </v-dialog>
          </v-col>
          <v-col cols="12" xs="12">
            <v-text-field
              v-model="certificado.email"
              label="Correo electrónico *"
              hide-details
              outlined
              required
              :rules="[rules.email]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" xs="12">
            <v-text-field
              v-model="certificado.address"
              label="Domicilio *"
              hide-details
              outlined
              required
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" xs="12">
            <v-text-field
              v-model="certificado.locality"
              label="Localidad *"
              hide-details
              outlined
              required
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pb-1">
            <h2 class="pa-0 font-poppins font-weight-bold">
              Configuración de notificaciones
            </h2>
          </v-col>
          <v-col cols="12" class="pt-0">
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12" xs="12" sm="4" md="4">
            <v-text-field
              v-model="plazo_total"
              type="number"
              label="Plazo total (meses) *"
              hide-details
              outlined
              required
              :rules="rules.number"
            ></v-text-field>
          </v-col>
          <v-col cols="12" xs="12" sm="4" md="4">
            <v-dialog
              ref="dialogDateFinPG"
              v-model="modalSelectDateFinPG"
              :return-value.sync="dateFinPG"
              :rules="[rules.required]"
              persistent
              width="290px"
            >
              <template #activator="{ on }">
                <v-text-field
                  v-model="dateFinPG"
                  :rules="[rules.required]"
                  label="Fin Perodio de Gracia *"
                  hide-details
                  readonly
                  required
                  outlined
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="dateFinPG"
                :locale="$i18n.locale"
                scrollable
                required
                @change="getFechaPrimeraCuota"
              >
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="modalSelectDateFinPG = false">
                  Cancelar
                </v-btn>
                <v-btn
                  color="primary"
                  @click="$refs.dialogDateFinPG.save(dateFinPG)"
                >
                  Aceptar
                </v-btn>
              </v-date-picker>
            </v-dialog>
          </v-col>
          <v-col cols="12" xs="12" sm="4" md="4">
            <v-text-field
              v-model="pagoPrimeraCuota"
              label="Fecha Pago Primera Cuota *"
              hide-details
              disabled
              outlined
              required
              :rules="[rules.required]"
            ></v-text-field>
          </v-col>
          <v-col cols="12" class="pb-1">
            <h2 class="pa-0 font-poppins font-weight-bold">Archivos</h2>
          </v-col>
          <v-col cols="12" class="pt-0">
            <v-divider></v-divider>
          </v-col>
          <v-col cols="12" xs="12">
            <strong>El tamaño máximo es de 10 MB</strong>
            <client-only>
              <FilePond
                ref="filepondPDF"
                max-files="1"
                max-file-size="10MB"
                label-max-total-file-size-exceeded="El tamaño máximo es de 10 MB"
                allow-multiple="false"
                accepted-file-types="application/pdf"
                :label-idle="$t('uploadfile')"
                @updatefiles="updateFiles"
                @error="errorUpdateFiles"
              />
            </client-only>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions class="px-5 my-3">
        <v-row justify="center">
          <v-btn id="cancelBtn" color="secondary" text @click="closeDialog()">{{
            $t('cancel')
          }}</v-btn>
          <v-btn
            id="saveBtn"
            color="primary"
            text
            :disabled="files.length === 0"
            @click="save()"
          >
            {{ $t('send') }}
          </v-btn>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import moment from 'moment'
import _ from 'lodash'
import * as FilePond from 'filepond'
import FilePondPluginFileValidateSize from 'filepond-plugin-file-validate-size'

import { saveFile } from '~/services/Firebase'
import { setCertificate, CompleteCertificate } from '~/services/Certificates'

FilePond.registerPlugin(FilePondPluginFileValidateSize)

export default Vue.extend({
  name: 'MisionesFondoDeCredito',
  components: {},
  props: {},
  data: () => ({
    certificado: {
      firstName: '',
      lastName: '',
      dni: '',
      cuit: '',
      date: '',
      address: '',
      locality: '',
      pdf: '',
      email: '',
    },
    plazo_total: '',
    dateFinPG: '',
    pagoPrimeraCuota: '',
    loading: false,
    modalSelectDate: false,
    modalSelectDateFinPG: false,
    files: [] as any,
    valid: true,
    rules: {
      required: (value: any) =>
        !!value || value === 0 || 'Este campo es requerido.',
      email: (value: any) => {
        const pattern =
          /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'E-mail inválido.'
      },
      number: [
        (v: any) => !!v || 'El campo es requerido',
        (v: any) => !(v < 1) || 'El numero no puede ser menor que 1',
        (v: any) => typeof v !== 'number' || 'El campo debe ser numero',
      ],
    },
    conditions: ['aprobado', 'desaprobado'],
  }),
  watch: {},
  methods: {
    errorUpdateFiles() {
      this.valid = false
    },
    async createNotifications() {
      const noti2Email1Date = {
        performAt: new Date(
          moment(this.certificado.date, 'YYYY-MM-DD')
            .add(15, 'day')
            .startOf('day')
            .format()
        ),
        status: 'scheduled',
        options: {
          template_id: 'd-21ca173b97a9403396e2bd18b3ed4211',
          email: this.certificado.email,
          subject: 'Rendiciones - 15 dias',
          name: this.certificado.firstName + ' ' + this.certificado.lastName,
        },
      }
      const noti2Email2Date = {
        performAt: new Date(
          moment(this.certificado.date, 'YYYY-MM-DD')
            .add(60, 'day')
            .startOf('day')
            .format()
        ),
        status: 'scheduled',
        options: {
          template_id: 'd-21ca173b97a9403396e2bd18b3ed4211',
          email: this.certificado.email,
          subject: 'Rendiciones - 60 dias',
          name: this.certificado.firstName + ' ' + this.certificado.lastName,
        },
      }
      const noti3EmailDate = {
        performAt: new Date(
          moment(this.dateFinPG, 'YYYY-MM-DD')
            .subtract(1, 'month')
            .startOf('day')
            .format()
        ),
        status: 'scheduled',
        options: {
          template_id: 'd-2953c1a9716c4b169feb9eacb4ef46b2',
          email: this.certificado.email,
          month: _.capitalize(
            moment(this.pagoPrimeraCuota, 'YYYY-MM-DD')
              .locale('es')
              .startOf('day')
              .format('MMMM')
          ),
          subject: 'Finaliza Periodo de Gracia',
          name: this.certificado.firstName + ' ' + this.certificado.lastName,
        },
      }

      const arrayDates = [noti2Email1Date, noti2Email2Date, noti3EmailDate]

      for (const notif of arrayDates) {
        await this.$fire.firestore
          .collection('notification2&3Emails')
          .add(notif)
      }

      // const dates4Noti = this.getMonths4Notification()
      // const emails4Noti = [] as any

      // dates4Noti.forEach((date) => {
      //   const email = {
      //     performAt: moment(date).startOf('day').toDate(),
      //     status: 'scheduled',
      //     options: {
      //       template_id: 'd-21ca173b97a9403396e2bd18b3ed4211',
      //       email: this.certificado.email,
      //       subject: '4ta notificacion',
      //       name: this.certificado.firstName + ' ' + this.certificado.lastName,
      //     },
      //   }
      //   emails4Noti.push(email)
      // })

      // const noti4Email = {
      //   status: 'scheduled',
      //   emails: emails4Noti,
      // }

      // await this.$fire.firestore
      //   .collection('notification4Emails')
      //   .add(noti4Email)
    },

    // getMonths4Notification() {
    //   const dateStart = moment(this.pagoPrimeraCuota, 'YYYY-MM-DD')
    //   const dateEnd = moment(this.pagoPrimeraCuota, 'YYYY-MM-DD').add(
    //     this.plazo_total,
    //     'month'
    //   )

    //   const interim = dateStart.clone()
    //   const timeValues = []

    //   // eslint-disable-next-line no-unmodified-loop-condition
    //   while (dateEnd > interim || interim.format('M') === dateEnd.format('M')) {
    //     timeValues.push(interim.startOf('month').format('YYYY-MM-DD'))
    //     interim.add(1, 'month')
    //   }

    //   return timeValues
    // },

    getFechaPrimeraCuota() {
      this.pagoPrimeraCuota = moment(this.dateFinPG, 'YYYY-MM-DD')
        .add(1, 'month')
        .format('YYYY-MM-DD')
        .toString()
    },
    updateFiles(files: any[]): any {
      this.files = files
      this.certificado.pdf = files.length > 0 ? files[0].file.name : ''
    },
    closeDialog(): any {
      this.clearData()
      this.$emit('closeDialog')
    },
    clearData(): any {
      this.certificado = {
        firstName: '',
        lastName: '',
        dni: '',
        cuit: '',
        date: '',
        address: '',
        locality: '',
        pdf: '',
        email: '',
      }
      ;(
        this.$refs.filepondPDF as Vue & { removeFiles: () => boolean }
      ).removeFiles()
    },
    async save() {
      this.loading = true
      try {
        const finalCertficate = CompleteCertificate(
          this.certificado,
          this.$store
        )
        await setCertificate(this.$fire, finalCertficate, 'certificates')
        saveFile(this.$fireModule, this.files[0].file, 'pdf_certificates')
        this.$emit('save')
        this.$emit('messages', {
          error: false,
          message: 'Los datos fueron guardados.',
        })
        await this.createNotifications()
      } catch {
        this.$emit('messages', {
          error: true,
          message:
            'Los datos no pudieron ser guardados. Por favor intenta nuevamente.',
        })
      }
      this.loading = false
      this.$emit('closeDialog')
    },
  },
})
</script>
