<template>
  <v-container fill-height>
    <v-card color="white" height="100%" width="100%">
      <v-card-title>
        <h2 class="font-weight-bold card-title">
          {{ procedure.title }}
        </h2>
      </v-card-title>
      <v-card-text class="pa-4">
        <h2 class="font-poppins font-weight-bold card-subtitle mb-4">
          Requerimientos
        </h2>
        <p
          class="font-poppins card-content font-weight-light mb-8 card-content"
        >
          {{ procedure.short_description }}
        </p>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: {
    procedure: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
.v-card::v-deep .card-title {
  font-size: 1.8em !important;
  color: #2a3042;
}

.v-card::v-deep .card-subtitle {
  color: #2a3042;
  font-size: 1.5rem;
}

.v-card::v-deep .card-content {
  color: #a4a4a4;
  font-size: 1.1rem;
}
</style>
