<template>
  <v-container fill-height>
    <FormFill :form-id="procedure.form_id" :disabled="!$store.state.loggedIn" />
  </v-container>
</template>

<script>
import FormFill from '~/components/forms/FormFill'

export default {
  components: {
    FormFill,
  },
  props: {
    procedure: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style scoped>
.v-card::v-deep .card-title {
  font-size: 1.8em !important;
  color: #2a3042;
}

.v-card::v-deep .card-subtitle {
  color: #2a3042;
  font-size: 1.5rem;
}

.v-card::v-deep .card-content {
  color: #a4a4a4;
  font-size: 1.1rem;
}
</style>
