<template>
  <v-app v-if="dataReady">
    <Header />
    <v-main justify="center" class="main-container">
      <nuxt id="scrolling-techniques-7" class="align-center" />
    </v-main>
    <Footer />
    <Notification />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import Footer from '@/components/public/Footer'
import Header from '@/components/public/Header'
import Notification from '@/components/public/Notification.vue'

export default {
  components: {
    Footer,
    Header,
    Notification,
  },
  middleware: ['authenticated'],
  loading: true,

  data() {
    return {
      fixed: false,
      project_id: process.env.FIREBASE_PROJECT_ID,
      brandReady: false,
      landingTextReady: false,
    }
  },
  head() {
    return {
      title: this.$store.state.brand.brand.app_name,
      link: [
        {
          rel: 'icon',
          type: 'image/x-icon',
          href: this.$store.state.brand.brand.favicon,
        },
      ],
    }
  },
  computed: {
    ...mapGetters({
      brand: 'brand/brand',
      landingtext: 'landingtext/landingtext',
    }),
    dataReady() {
      return this.brandReady && this.landingTextReady
    },
  },
  watch: {
    brand(value) {
      if (value.loaded) this.brandReady = true
    },
    landingtext(value) {
      if (value.loaded) this.landingTextReady = true
    },
  },
  async mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 500)
    })
    if (process.env.FIREBASE_PROJECT_ID === 'unicef-certs') {
      await this.$i18n.setLocale('en')
      this.$vuetify.lang.current = 'en'
    } else {
      await this.$i18n.setLocale('es-AR')
      this.$vuetify.lang.current = 'es-AR'
    }
  },
}
</script>
<style>
html,
body {
  overflow-x: hidden;
}

.index-continer {
  position: relative;
}

.fixed-bar {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 6em;
  z-index: 2;
}

.main-container {
  background-color: var(--v-main-base);
}
</style>
