<template>
  <v-main class="__nuxt-error-page fill-height">
    <v-row justify="center" align="center">
      <v-col md="3" xs="12" sm="6" class="text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="90"
          height="90"
          fill="#B71C1C"
          viewBox="0 0 48 48"
        >
          <path
            d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"
          />
        </svg>
        <div class="title">Página no encontrada</div>
        <nuxt-link class="error-link" to="/"> Volver al futuro </nuxt-link>
      </v-col>
    </v-row>
  </v-main>
</template>

<script>
export default {
  data() {
    return {}
  },
  async mounted() {
    if (process.env.FIREBASE_PROJECT_ID === 'unicef-certs') {
      await this.$i18n.setLocale('en')
      this.$vuetify.lang.current = 'en'
    } else {
      await this.$i18n.setLocale('es-AR')
      this.$vuetify.lang.current = 'es-AR'
    }
  },
  methods: {},
}
</script>
