<template>
  <v-row justify="center" align="center">
    <v-row class="ma-3 ml-0">
      <v-col cols="12" align="center" class="justify-space-between d-flex pl-0">
        <h1 class="info-porta_title text-left">{{ $t('chooseRegister') }}</h1>
      </v-col>
    </v-row>
    <v-row align="center" class="justify-flex-start">
      <v-col cols="12" class="py-0 mb-3 mt-1">
        <h4 mb-3>AFIP</h4>
        <span class="realm-info"
          >Registrate con tu clave <strong>AFIP</strong> para acceder a más
          servicios</span
        >
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
      class="container_wallet autenticar ma-3"
      @click.prevent="autenticar('afip')"
    >
      <v-col cols="2" md="2" sm="2" class="py-0 text-center">
        <v-icon left>$vuetify.icons.oscity_autenticar_afip</v-icon>
      </v-col>
      <v-col
        cols="10"
        md="10"
        sm="10"
        class="text-center text-wallet text-autenticar"
      >
        <span>AFIP</span>
      </v-col>
    </v-row>
    <hr class="divider" />
    <v-row align="center" class="justify-flex-start">
      <v-col cols="12" class="py-0 mb-3 mt-1">
        <h4 mb-3>{{ $t('otherRealms') }}</h4>
        <span class="realm-info">{{ $t('otherRealmsInfo') }}</span>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
      class="container_wallet autenticar ma-3"
      @click.prevent="autenticar('renaper')"
    >
      <v-col cols="2" md="2" sm="2" class="py-0 text-center">
        <v-icon left>$vuetify.icons.oscity_autenticar_dni</v-icon>
      </v-col>
      <v-col
        cols="10"
        md="10"
        sm="10"
        class="text-center text-wallet text-autenticar"
      >
        <span>DNI</span>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
      class="container_wallet autenticar ma-3"
      @click.prevent="autenticar('anses')"
    >
      <v-col cols="2" md="2" sm="2" class="py-0 text-center">
        <v-icon left>$vuetify.icons.oscity_autenticar_anses</v-icon>
      </v-col>
      <v-col
        cols="10"
        md="10"
        sm="10"
        class="text-center text-wallet text-autenticar"
      >
        <span>ANSES</span>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="center"
      class="container_wallet autenticar ma-3"
      @click.prevent="autenticar('mi-argentina')"
    >
      <v-col cols="2" md="2" sm="2" class="py-0 text-center">
        <v-icon left>$vuetify.icons.oscity_autenticar_mia</v-icon>
      </v-col>
      <v-col
        cols="10"
        md="10"
        sm="10"
        class="text-center text-wallet text-autenticar"
      >
        <span>MI ARGENTINA</span>
      </v-col>
    </v-row>
  </v-row>
</template>
<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'AutenticarRegister',
  props: {},
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    autenticar(reino: string) {
      this.$autenticar.init(reino)
    },
  },
})
</script>

<style scoped>
.wallet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_wallet {
  width: 100%;
  color: white;
  border-radius: 24px;
  cursor: pointer;
}
.autenticar {
  background: #003b71;
}
.text-autenticar {
  background: #0073ba;
}
.realm-info {
  color: #a6a9b7;
  margin-bottom: 3%;
  /* line-height: 5px; */
}
.divider {
  width: 100%;
  border-top: 2px solid #e0e0e0;
  margin: 5% 0;
}
.text-wallet {
  border-radius: 0px 24px 24px 0px;
}
.coinbase_wallet {
  padding: 2% 8%;
  width: 100%;
  border-radius: 15px;
  border: 2.2px solid #235bef;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.uport_wallet {
  padding: 2% 8%;
  width: 100%;
  border-radius: 15px;
  border: 2.2px solid #5952ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.detach_link {
  cursor: pointer;
  color: var(--v-primary-base);
}
</style>
