<template>
  <v-row class="mb-7" justify="center">
    <v-col
      cols="12"
      sm="6"
      md="5"
      lg="4"
      xl="3"
      class="d-flex flex-column align-end"
    >
      <v-timeline :style="cssProps" align-center dense reverse>
        <v-timeline-item
          key="1"
          :color="$store.getters['brand/getSecondaryColor']"
          fill-dot
          small
        >
          <v-row justify="end" align="center">
            <v-col cols="8" sm="6" class="text-right">
              <p class="font-poppins font-weight-bold">Descarga Soberana</p>
            </v-col>
            <v-col cols="4">
              <v-img
                :src="$store.getters['brand/getFirstImageStepThree']"
                alt="metamask_wallet"
                max-width="100px"
              />
            </v-col>
          </v-row>
        </v-timeline-item>
        <v-timeline-item
          key="2"
          :color="$store.getters['brand/getSecondaryColor']"
          fill-dot
          small
        >
          <v-row justify="end" align="center">
            <v-col cols="8" sm="6" class="text-right">
              <p class="font-poppins font-weight-bold">
                Crea o importa tu wallet
              </p>
            </v-col>
            <v-col cols="4">
              <v-img
                :src="$store.getters['brand/getSecondImageStepThree']"
                alt="metamask_wallet"
                max-width="100px"
              />
            </v-col>
          </v-row>
        </v-timeline-item>
        <v-timeline-item
          key="3"
          :color="$store.getters['brand/getSecondaryColor']"
          fill-dot
          small
        >
          <v-row justify="end" align="center">
            <v-col cols="8" sm="6" class="text-right">
              <p class="font-poppins font-weight-bold">
                ¡Listo! ya tienes tu identidad digital
              </p>
            </v-col>
            <v-col cols="4">
              <v-img
                :src="$store.getters['brand/getThirdImageStepThree']"
                alt="metamask_wallet"
                max-width="100px"
              />
            </v-col>
          </v-row>
        </v-timeline-item>
      </v-timeline>
    </v-col>
    <v-col cols="12" sm="6" md="5" lg="4" xl="3">
      <v-row align="center">
        <v-col cols="4" sm="4" md="3">
          <v-img
            max-height="100px"
            contain
            src="https://firebasestorage.googleapis.com/v0/b/mar-de-plata.appspot.com/o/brand%2Fapp-logo.png?alt=media&token=ad60e1f8-3abc-4486-8dd1-cceb70163711"
          >
          </v-img>
        </v-col>
        <v-col cols="8" sm="6">
          <p
            v-if="!$vuetify.breakpoint.xsOnly"
            class="font-poppins font-weight-bold text-left"
          >
            Escanea este código para descargar la app Soberana
          </p>
          <p v-else class="font-poppins font-weight-bold text-left">
            Descarga Soberana en tu dispositivo móvil.
          </p>
        </v-col>
      </v-row>
      <v-row v-if="!$vuetify.breakpoint.xsOnly" class="pa-0 ma-0 d-none">
        <v-col cols="12" sm="10" md="9">
          <v-row justify="center" align="center">
            <v-col>
              <p class="font-poppins font-weight-bold mb-0 d-inline">Android</p>
              <v-switch
                v-model="downloadiOS"
                class="mt-0 pt-0 d-inline"
                hide-details
              >
              </v-switch>
              <p class="font-poppins font-weight-bold mb-0 d-inline">iOS</p>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row v-if="!$vuetify.breakpoint.xsOnly" class="pa-0 ma-0">
        <v-col cols="12" sm="10" md="9" class="pa-0 ma-0">
          <v-row justify="center" class="pa-0 ma-0">
            <v-col class="pa-0 mt-2">
              <a
                v-if="!downloadiOS"
                :href="brand.playstoreLink"
                target="_blank"
              >
                <vue-qrcode
                  class="mt-5"
                  :value="brand.playstoreLink"
                  :width="20"
                  :margin="4"
                  :scale="4"
                ></vue-qrcode>
              </a>
              <a v-else :href="brand.appStoreLink" target="_blank">
                <vue-qrcode
                  class="mt-5"
                  :value="brand.appStoreLink"
                  :width="20"
                  :margin="4"
                  :scale="4"
                ></vue-qrcode>
              </a>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="10" md="9">
          <v-row justify="center">
            <v-col
              v-if="$vuetify.breakpoint.xsOnly || !downloadiOS"
              cols="6"
              class="d-flex flex-column justify-center"
            >
              <a :href="brand.playstoreLink"
                ><v-img
                  contain
                  max-height="70px"
                  alt="Disponible en Google Play"
                  src="https://play.google.com/intl/es-419/badges/static/images/badges/es-419_badge_web_generic.png"
              /></a>
            </v-col>
            <v-col
              v-if="$vuetify.breakpoint.xsOnly || downloadiOS"
              cols="6"
              class="d-flex flex-column justify-center"
            >
              <a
                ><v-img
                  style="opacity: 0.5"
                  contain
                  max-height="44px"
                  alt="Disponible en App Store"
                  :src="brand.appStoreDowload"
              /></a>
            </v-col>
          </v-row>
        </v-col>
      </v-row>

      <v-row justify="center" class="justify-sm-start">
        <v-col cols="10" md="9">
          <v-btn
            id="save-user"
            dark
            :disabled="loading"
            block
            type="submit"
            :color="$store.getters['brand/getSecondaryColor']"
            class="font-poppins text-none"
            @click="onSubmit"
          >
            {{ $t('next') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
import VueQrcode from 'vue-qrcode'

export default Vue.extend({
  name: 'DownloadWallet',
  components: { VueQrcode },
  props: {},
  data() {
    return {
      secondaryColor: this.$store.getters['brand/getSecondaryColor'],
      loading: false,
      refCertContributor: true,
      idReference: { empty: Boolean },
      downloadiOS: false,
    }
  },
  computed: {
    cssProps() {
      return {
        '--secondary-color': this.$store.getters['brand/getSecondaryColor'],
      }
    },
    ...mapGetters({
      brand: 'brand/brand',
    }),
  },
  methods: {
    onSubmit() {
      this.$emit('step', 4)
    },
  },
})
</script>

<style scoped>
.info-porta_title {
  letter-spacing: 0.34px;
  font-weight: 800;
  font-size: 1.4em;
  line-height: 25px;
}
.download-wallet_title {
  margin: 0 20%;
}
.on-rem_wallet {
  shape-image-threshold: 0.5;
  shape-margin: 20px;
  float: right;
  margin-left: 7%;
}
.download-wallet_text {
  font-size: 12px;
  letter-spacing: 0.34px;
}
a.metamask_link {
  color: #ffa500 !important;
  text-decoration: none !important;
}
.logo_metamask_playstore {
  background-image: url('https://ecocarsnorthampton.com/wp-content/uploads/2018/07/app-store-android-download.png');
  width: 100px;
  height: 60px;
  background-size: contain;
}
.logo_metamask_ios {
  background-image: url('https://static-my.zacdn.com/cms/2020/FOOTER/Download-zalora-app-Apple-Itunes-iPhone.png');
  width: 100px;
  height: 60px;
  background-size: contain;
}
.theme--light.v-timeline::before {
  background: var(--secondary-color);
}
.v-timeline {
  padding-top: 0px;
}
.v-timeline::before {
  top: 55px;
  height: calc(100% - 130px);
}

::v-deep .v-input__control,
::v-deep .v-input__slot {
  display: inline !important;
}
</style>
