<template>
  <v-row justify="center" align="center">
    <v-col cols="12">
      <h2 v-if="!isRegister" class="mb-3 info-porta_title text-left">
        {{ $t('digitaldoc') }}
      </h2>
      <img
        :src="require('@/assets/images/monito.svg')"
        alt="metamask_wallet"
        class="monito-shape"
        :width="
          $vuetify.breakpoint.lgAndUp
            ? '110px'
            : $vuetify.breakpoint.md
            ? '80px'
            : '60px'
        "
      />
      <p class="info-porta_text text-left mt-sm-15 mt-xs-0">
        {{ infodocholder }}
      </p>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'InfoPortadocumento',
  props: {
    infodocholder: {
      type: String,
      default: '',
    },
    title: {
      type: Boolean,
      default: false,
    },
    isRegister: {
      type: Boolean,
      default: false,
    },
  },
})
</script>

<style scoped>
.info-porta_title {
  letter-spacing: 0.34px;
  text-align: left;
}
.info-porta_text {
  font-size: 15px;
  color: #74788d;
  line-height: 24px;
}
.monito-shape {
  shape-image-threshold: 0.5;
  shape-margin: 20px;
  float: right;
}
.link-notion_text {
  line-height: 18px;
  font-size: 15px;
  cursor: pointer;
}
</style>
