<template>
  <v-container>
    <template v-if="!address">
      <v-row class="mb-7" justify="center">
        <v-col
          cols="10"
          xs="10"
          sm="5"
          md="4"
          lg="3"
          xl="2"
          align="center"
          class="order-last order-sm-first"
        >
          <v-img
            :src="require('@/assets/images/SoberanaTutorial.gif')"
            alt="soberana_wallet"
            max-width="250px"
          />
        </v-col>
        <v-col cols="10" sm="6" md="6" lg="4" justify="center" align="center">
          <h1 class="font-weight-regular">
            Escanea este código QR con la app <b> Soberana </b>
          </h1>
          <vue-qrcode
            v-if="connector.uri"
            class="mt-5"
            :value="connector.uri"
            :width="20"
            :margin="8"
            :scale="4"
          ></vue-qrcode>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-row class="mb-7" justify="center">
        <v-col v-if="address" cols="10">
          <v-icon size="75" color="#00A861">mdi-check-circle-outline</v-icon>
          <h1 class="font-montserrat font-weight-bold">
            <b>¡Felicidades, ya tenés tu identidad digital vinculada! </b>
          </h1>
        </v-col>
      </v-row>
      <v-row class="mb-7" justify="center" align="center">
        <v-col
          cols="12"
          md="4"
          class="d-flex flex-column align-center align-md-end"
        >
          <v-img contain max-width="200" :src="$store.getters['brand/logo']">
          </v-img>
        </v-col>
        <v-col class="px-0" cols="12" md="1" align="center">
          <v-img
            :class="$vuetify.breakpoint.smAndDown && 'rotate90'"
            contain
            :src="require('@/assets/images/arrows.svg')"
            width="50px"
            color="black"
          ></v-img>
        </v-col>
        <v-col
          cols="12"
          md="4"
          class="d-flex flex-column align-center align-md-start"
        >
          <v-img
            contain
            max-width="200"
            src="https://firebasestorage.googleapis.com/v0/b/mar-de-plata.appspot.com/o/brand%2FLogo%20Soberana.png?alt=media&token=611d4cf6-1f5a-4ba3-9bb7-d029db76ea6f"
          >
          </v-img>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col v-if="address" cols="10">
          <h2 class="font-montserrat font-weight-bold">
            Identidad Digital (Llave Pública)
          </h2>
          <p class="qr-text font-montserrat font-weight-semibold mb-0">
            {{ address.slice(0, 4) }} ... {{ address.slice(-4) }}
          </p>
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col v-if="address" cols="10">
          <p class="font-montserrat text-h6 font-weight-regular">
            Te redireccionaremos en <b> {{ timerCount }} segundos. </b>
          </p>
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="10"
          class="
            offset-1
            col-lg-4
            offset-lg-4
            col-md-6
            offset-md-3
            col-sm-6
            offset-sm-3
          "
        >
          <v-row class="justify-center">
            <v-col class="pt-0">
              <v-btn
                class="text-none"
                :color="$store.getters['brand/getSecondaryColor']"
                medium
                dark
                :disabled="!address"
                @click="$emit('continuarCert', address)"
              >
                Finalizar Registro
              </v-btn>
            </v-col>
            <v-col class="pt-0 order-xl-first">
              <v-btn
                class="text-none"
                medium
                plain
                color="#34485E"
                @click="killSession()"
              >
                Desconectar Wallet
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </template>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import WalletConnect from '@walletconnect/client'
import VueQrcode from 'vue-qrcode'
import { mapGetters } from 'vuex'
import _ from 'lodash'

export default Vue.extend({
  name: 'QrRegister',
  components: { VueQrcode },
  props: {},
  data() {
    return {
      playstore_link: '',
      fullUser: {},
      connector: Object as any,
      address: '',
      functionsURL: process.env.OSCITY_ENDPOINTS_URL,
      cityName: process.env.CITY_NAME,
      timerEnabled: false,
      timerCount: 10,
    }
  },
  computed: {
    widthGooglePlay(): string {
      switch (this.$vuetify.breakpoint.name) {
        case 'xl':
          return '60%'
        case 'lg':
          return '80%'
        default:
          return '100%'
      }
    },
    ...mapGetters({
      user: 'users/user',
    }),
  },
  watch: {
    address(newValue) {
      if (newValue !== '') {
        this.$emit('showSteps', false)
      } else {
        this.$emit('showSteps', true)
      }
    },
    timerEnabled(value) {
      if (value) {
        setTimeout(() => {
          this.timerCount--
        }, 1000)
      }
    },

    timerCount: {
      handler(value) {
        if (value > 0 && this.timerEnabled) {
          setTimeout(() => {
            this.timerCount--
          }, 1000)
        }
      },
      immediate: true,
    },
  },
  async mounted() {
    await this.walletConnectInit()
    await this.killSession()
  },
  methods: {
    async walletConnectInit() {
      const clientMeta: any = {
        name: this.cityName,
        description:
          'La Municipalidad de General Pueyrredon trabaja de forma constante para mejorar la relación con sus vecinos, brindar mejores servicios y hacer más fácil el acceso a la información.',
        url: `${this.functionsURL}/api`,
        icons:
          'https://firebasestorage.googleapis.com/v0/b/mar-de-plata.appspot.com/o/brand%2Fmgp-logo-color.png?alt=media&token=1fd8f18d-75b2-4539-9017-0598ddddf1ea',
      }
      this.connector = await new WalletConnect({
        bridge: 'https://bridge.walletconnect.org', // Required
      })
      this.connector._clientMeta = await _.cloneDeep(clientMeta)
      if (!this.connector.connected) {
        await this.connector.createSession()
      }
      await this.subscribeToEvents()
    },
    subscribeToEvents() {
      this.connector.on('connect', (error: any, payload: any) => {
        if (error) {
          throw error
        }
        this.onConnect(payload)
      })
      this.connector.on('disconnect', (error: any) => {
        if (error) {
          throw error
        }
        this.onDisconnect()
      })
    },
    onConnect(payload: any) {
      const { accounts } = payload.params[0]
      this.address = accounts[0]
      this.fullUser = {
        ...this.user,
        public_address: this.address,
      }
      this.$emit('certificateData', this.address)
      this.timerEnabled = true
    },
    onDisconnect() {
      this.resetApp()
    },
    resetApp() {
      this.address = ''
      this.walletConnectInit()
    },
    async killSession() {
      if (this.connector.connected) {
        await this.connector.killSession()
        this.resetApp()
        this.$emit('disconnectWallet')
        this.timerEnabled = false
        this.timerCount = 10
      }
    },
  },
})
</script>

<style scoped>
.qr-text {
  font-size: 25px;
  word-break: break-all;
  color: #797c86;
}
.info-porta_title {
  letter-spacing: 0.34px;
  font-weight: 800;
  font-size: 1.4em;
  line-height: 25px;
}
.download-wallet_title {
  margin: 0 20%;
}
.on-rem_wallet {
  shape-image-threshold: 0.5;
  shape-margin: 20px;
  float: right;
  margin-left: 7%;
}
.download-wallet_text {
  font-size: 12px;
  letter-spacing: 0.34px;
}
a.metamask_link {
  color: #ffa500 !important;
  text-decoration: none !important;
}
.logo_metamask_playstore {
  background-image: url('https://ecocarsnorthampton.com/wp-content/uploads/2018/07/app-store-android-download.png');
  width: 100px;
  height: 60px;
  background-size: contain;
}
.logo_metamask_ios {
  background-image: url('https://static-my.zacdn.com/cms/2020/FOOTER/Download-zalora-app-Apple-Itunes-iPhone.png');
  width: 100px;
  height: 60px;
  background-size: contain;
}
.theme--light.v-timeline::before {
  background: var(--v-primary-base);
}
.v-timeline {
  padding: 0px;
}
.v-timeline:before {
  height: 72%;
}
.font-weight-semibold {
  font-weight: 600;
}
.rotate90 {
  transform: rotateZ(90deg);
}
</style>
