<template>
  <v-main
    :class="step === 4 && 'bg-white'"
    align-center
    justify-center
    class="py-5 height-full"
  >
    <v-row v-if="showSteps" class="mt-10">
      <v-col cols="12">
        <p id="textSteps" class="text-center mb-0 title-complete_register">
          Estás a {{ stepTransformed }}
          {{ stepTransformed === 1 ? 'paso' : 'pasos' }} de tu
          <strong>identidad digital</strong>
        </p>
      </v-col>
    </v-row>
    <v-row class="justify-center">
      <v-col cols="12" class="background-stepper">
        <v-stepper v-model="step" alt-labels class="text-center" non-linear>
          <v-row class="justify-center">
            <v-col v-if="showSteps" cols="10" xl="4" md="6" sm="8">
              <v-stepper-header>
                <v-stepper-step
                  :color="$store.getters['brand/getSecondaryColor']"
                  complete
                  step="1"
                  ><p class="font-weight-light subtitle-2">
                    Eligí un ingreso
                  </p></v-stepper-step
                >
                <v-divider></v-divider>
                <v-stepper-step
                  :color="$store.getters['brand/getSecondaryColor']"
                  :complete="step > 2"
                  step="2"
                  @click="changeStep(2)"
                >
                  <p class="font-weight-light subtitle-2 text-center">
                    Colocá correo y contraseña
                  </p></v-stepper-step
                >
                <v-divider></v-divider>
                <v-stepper-step
                  :color="$store.getters['brand/getSecondaryColor']"
                  :complete="step > 3"
                  step="3"
                  @click="changeStep(3)"
                  ><p class="font-weight-light subtitle-2 text-center">
                    Descargá la aplicación
                  </p></v-stepper-step
                >
                <v-divider></v-divider>
                <v-stepper-step
                  :color="$store.getters['brand/getSecondaryColor']"
                  :complete="step === 4"
                  step="4"
                  @click="changeStep(4)"
                  ><p class="font-weight-light subtitle-2 text-center">
                    Escanea el código QR
                  </p></v-stepper-step
                >
              </v-stepper-header>
            </v-col>
          </v-row>
          <v-stepper-items>
            <v-stepper-content step="1"></v-stepper-content>
            <v-stepper-content step="2">
              <v-row class="justify-center justify-md-start">
                <v-col
                  cols="10"
                  sm="7"
                  md="5"
                  lg="5"
                  class="offset-sm-0 offset-md-1 offset-lg-2 pt-0"
                >
                  <v-row
                    justify="center"
                    align="center"
                    class="pt-6 height-full"
                  >
                    <v-col cols="12" xs="11" sm="10" md="12" lg="9">
                      <ArgRegister
                        :captcha="'recaptcha-complete'"
                        :loading="loading"
                        :is-register="false"
                        @valid="isValid = $event"
                        @data="onSubmit($event)"
                      />
                    </v-col>
                  </v-row>
                </v-col>
                <v-col
                  cols="10"
                  xs="10"
                  sm="4"
                  md="3"
                  lg="2"
                  class="
                    offset-1 offset-sm-0
                    mt-8
                    offset-md-1 offset-lg-0
                    d-none d-md-flex
                  "
                >
                  <InfoPortadocumento
                    :title="true"
                    :infodocholder="$t('infoComplete')"
                  />
                </v-col>
              </v-row>
            </v-stepper-content>
            <v-stepper-content step="3">
              <v-row>
                <v-col cols="12">
                  <DownloadWallet @step="step = $event" />
                </v-col>
              </v-row>
            </v-stepper-content>
            <v-stepper-content step="4">
              <v-row>
                <v-col cols="12">
                  <QrRegister
                    @certificateData="certificateWithTimeout($event)"
                    @showSteps="updateSteps($event)"
                    @disconnectWallet="disconnectWallet()"
                    @continuarCert="
                      disconnectWallet()
                      certificateChangeUser($event)
                    "
                  />
                </v-col>
              </v-row>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-main>
</template>

<script lang="ts">
import axios from 'axios'
import moment from 'moment'
import * as Papa from 'papaparse'
import _ from 'lodash'
import swal from 'sweetalert'
import { mapGetters } from 'vuex'

import SendEmailVerificationMixin from '@/mixins/SendEmailVerificationMixin'
import InfoPortadocumento from '@/components/Register/InfoPortadocumento.vue'
import DownloadWallet from '@/components/Register/DownloadWallet.vue'
import ArgRegister from '@/components/Register/ArgRegister.vue'
import QrRegister from '@/components/Register/QrRegister.vue'

import {
  BlockcertsCertificate,
  Certificate,
  setCertificate,
  updateCertificate,
  CertificateToBlockcerts,
} from '@/services/Certificates'
import { setUserDoc } from '~/services/User'
import {
  updateUserAuth,
  updatePasswordAuth,
  updateEmailAuth,
  signInCustomToken,
  saveFile,
} from '~/services/Firebase'

export default SendEmailVerificationMixin.extend({
  name: 'Complete',
  components: {
    InfoPortadocumento,
    DownloadWallet,
    ArgRegister,
    QrRegister,
  },
  middleware: ['authenticated', 'hasallinfo'],
  data() {
    return {
      certificateTimeout: setTimeout(() => {}, 0),
      showSteps: true,
      step: this.$route?.query?.step ? this.$route.query.step : 2,
      certificate: {} as Certificate,
      blockcertsCertificate: {} as BlockcertsCertificate,
      data: Object(),
      dataContributor: Object(),
      // stepTranformed: 2,
      isValid: false,
      valid: false,
      wallet: '',
      walletType: '',
      walletLink: Object(),
      loading: false,
      rentaxData: Object(),
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 600000,
        text: '',
        right: '',
        top: '',
      },
      refCertContributor: true,
      refCert: true,
      email_name: process.env.EMAIL_NAME,
      urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
      registerComplete: false,
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
      certsConfig: 'certsConfig/certsConfig',
    }),
    public_address(): string {
      return this.wallet
    },
    dni(): string {
      return this.$store.state.users.user.dni.slice(2, -1)
    },
    stepTransformed(): number {
      if (this.step === 2) return 3
      if (this.step === 3) return 2
      if (this.step === 4) return 1
      return this.$route?.query?.step ? 5 - Number(this.$route.query.step) : 2
    },
  },
  beforeRouteLeave(to, from, next) {
    if (!this.registerComplete && this.user?.uid) {
      swal({
        title: 'No has completado tu registro',
        text: '¿Estas seguro que quieres abandonar sin terminar tu registro?.',
        icon: 'warning',
        buttons: ['Cancelar', 'Si, terminaré después'],
      }).then((willDelete: boolean) => {
        if (willDelete) {
          this.$root.$emit('logout', willDelete)
          next()
        } else {
          next(false)
          swal.close()
        }
      })
    } else {
      next()
    }
  },
  mounted() {
    this.isValid = !!this.user.email
  },
  methods: {
    disconnectWallet() {
      clearTimeout(this.certificateTimeout)
    },
    updateSteps(showSteps: boolean) {
      this.showSteps = showSteps
    },
    changeStep(step: number) {
      if (this.isValid) this.step = step
    },
    async createCustomToken() {
      // Validate current password
      try {
        return await axios.post(
          `${process.env.OSCITY_ENDPOINTS_URL}/createCustomToken`,
          {
            uid: this.data.dni,
          }
        )
      } catch (error) {
        console.error(error)
        throw error
      }
    },
    createCsv(element: any): any {
      const fullData: BlockcertsCertificate[] = []
      // Remove ref and estado_origen from original certificate
      const finalCertficate = CertificateToBlockcerts(element)
      fullData.push(finalCertficate)
      const i = Papa.unparse(fullData)
      const file = new Blob(['\uFEFF', i], {
        type: 'data:text/csv;charset=utf-8',
      }) as any
      const date = moment().format('YYYY_MM_DD_HH_mm')
      file.name = `certificates_${date}.csv`
      saveFile(this.$fireModule, file, 'certificates')
    },
    async certificateData(): Promise<void> {
      this.data.identity = this.certsConfig.identity
      this.data.name = `${this.data.first_name} ${this.data.last_name}`
      this.data.name_citizen = `${this.data.first_name} ${this.data.last_name}`
      this.data.pubkey = this.data.public_address
        ? `ecdsa-koblitz-pubkey:${this.data.public_address}`
        : `ecdsa-koblitz-pubkey:${this.certsConfig.pubkey}`
      this.data.estado_origen = 'En espera'
      this.data.type = 'digital-identity'
      this.data.title = 'Ciudadano Digital'
      this.data.created = moment().format()
      this.data.id_user = this.data.uid
      delete this.data.password
      delete this.data.tipoPersona
      delete this.data.autenticated
      delete this.data.activated
      delete this.data.uid
      delete this.data.first_name
      delete this.data.last_name
      delete this.data.levelUp
      delete this.data.keyCopyConfirmed
      const idCert = await setCertificate(this.$fire, this.data, 'certificates')
      this.data.id_reference = idCert.id
      await updateCertificate(this.$fire, idCert.id, this.data, 'certificates')
      this.refCert = false
      this.createCsv(this.data)
    },
    certificateWithTimeout(publicAddress: string): any {
      this.certificateTimeout = setTimeout(async () => {
        await this.certificateChangeUser(publicAddress)
      }, 10000)
    },
    async certificateChangeUser(publicAddress: string): Promise<void> {
      this.registerComplete = true
      this.data = { ...this.user, public_address: publicAddress }
      setUserDoc(this.$fire, this.user.uid, this.data)
      this.$store.commit('users/SET_USER', this.data)
      if (this.refCert) {
        // await this.getContribuyente()
        await this.certificateData()
      }
      // this.sendEmail(
      //   this.data.email,
      //   `${this.email_name} - Registro completado`,
      //   `¡Felicidades ${this.data.first_name}!`,
      //   this.$store.state.currentUrl,
      //   `Tu registro en ${this.email_name} se ha completado`
      // )
      // swal.close()
      this.$router.push({ path: '/citizen/certificates/' })
    },
    async onSubmit(dataUser: Object): Promise<void> {
      this.data = _.merge(this.data, dataUser)
      this.data.public_address = ''
      if (this.data?.password === '') delete this.data.password
      this.loading = true
      try {
        const customToken = await this.createCustomToken()
        if (customToken) {
          await signInCustomToken(this.$fire, {
            credential: customToken.data.customToken,
          })
        }
        await updateUserAuth(this.$fire, {
          displayName: `${this.data.first_name} ${this.data.last_name}`,
        })
        const password = this.data.password
        this.data.password = null
        await setUserDoc(this.$fire, this.data.dni, this.data)
        if (password) {
          await updatePasswordAuth(this.$fire, password)
        }
        if (this.data.email) {
          await updateEmailAuth(this.$fire, this.data.email)
        }
        this.step = 3
        this.loading = false
        this.$store.commit('users/SET_USER', this.data)
        this.sendEmailVerificationSengrid(
          'verifyEmail',
          undefined,
          this.data.dni
        )
      } catch (error: any) {
        this.loading = false
        let message = error.message
        if (error.code === 'auth/weak-password') {
          message = 'La contraseña debe tener al menos 6 caracteres.'
        } else if (error.code === 'auth/email-already-in-use') {
          message = 'El correo ya está en uso por otra cuenta.'
        }
        swal({
          title: message,
          icon: 'warning',
          button: 'Reintentar',
        })
      }
    },
  },
})
</script>

<style scoped>
.height-full {
  height: 100%;
}
.title-complete_register {
  font-size: 1.34em;
  letter-spacing: 0.8px;
}
.background-stepper {
  padding: 0 !important;
}
.v-stepper__header {
  box-shadow: none !important;
}
.v-stepper {
  box-shadow: none !important;
  background: transparent;
}
.v-stepper__step__step {
  height: 20px;
  width: 20px;
}
.step-text {
  font-size: 0.7em;
}
.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 42px !important;
  max-height: 42px !important;
}
.link-span {
  cursor: pointer;
  color: var(--v-primary-base);
}
.bg-white {
  background-color: white !important;
}
</style>
