<template>
  <section class="my-16">
    <v-row justify="center" class="mt-15">
      <v-col cols="12" md="10" lg="8">
        <v-row class="mx-lg-15 mx-5">
          <h2 class="citizen-title font-montserrat font-weight-bold">
            {{ editedTexts.digitalCitizen.title }}
          </h2>
          <p class="citizen-description font-lato font-weight-light mb-10">
            {{ editedTexts.digitalCitizen.subtitle }}
          </p></v-row
        >
        <v-card class="pa-5 pa-md-10 mx-lg-15 mx-5">
          <v-row
            no-gutters
            justify="center"
            class="mt-10 justify-md-space-between"
          >
            <v-col cols="12" md="7">
              <div class="step-number font-poppins" :style="cssVars">1</div>
              <p
                class="
                  citizen-description-title
                  font-poppins font-weight-bold
                  mt-3
                "
              >
                {{ editedTexts.digitalCitizen.step_1.title }}
              </p>
              <p class="citizen-description font-lato font-weight-light mt-3">
                {{ editedTexts.digitalCitizen.step_1.description }}
              </p>
            </v-col>
            <v-col cols="10" sm="6" md="4">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fdigital-citizen-1.png?alt=media&token=4df82f19-01b3-4ef9-9152-6777a2ab103c"
              ></v-img>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="pa-5 pa-md-10 mx-lg-15 mx-5 mt-10">
          <v-row
            no-gutters
            justify="center"
            class="mt-10 justify-md-space-between"
          >
            <v-col cols="12" md="7">
              <div class="step-number font-poppins" :style="cssVars">2</div>
              <p
                class="
                  citizen-description-title
                  font-poppins font-weight-bold
                  mt-3
                "
              >
                {{ editedTexts.digitalCitizen.step_2.title }}
              </p>
              <p class="citizen-description font-lato font-weight-light mt-3">
                {{ editedTexts.digitalCitizen.step_2.description }}
              </p>
            </v-col>
            <v-col cols="10" sm="6" md="4">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fdigital-citizen-2.png?alt=media&token=65720de4-971f-42ef-ba04-89a3c72862ca"
              ></v-img>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="pa-5 pa-md-10 mx-lg-15 mx-5 mt-10">
          <v-row
            no-gutters
            justify="center"
            class="mt-10 justify-md-space-between"
          >
            <v-col cols="12" md="7">
              <div class="step-number font-poppins" :style="cssVars">3</div>
              <p
                class="
                  citizen-description-title
                  font-poppins font-weight-bold
                  mt-3
                "
              >
                {{ editedTexts.digitalCitizen.step_3.title }}
              </p>
              <p class="citizen-description font-lato font-weight-light mt-3">
                {{ editedTexts.digitalCitizen.step_3.description }}
              </p>
            </v-col>
            <v-col cols="10" sm="6" md="4">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fdigital-citizen-3.png?alt=media&token=88656386-7c88-40f5-b219-8d05e581fe8c"
              ></v-img>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="pa-5 pa-md-10 mx-lg-15 mx-5 mt-10">
          <v-row
            no-gutters
            justify="center"
            class="mt-10 justify-md-space-between"
          >
            <v-col cols="12" md="7">
              <div class="step-number font-poppins" :style="cssVars">4</div>
              <p
                class="
                  citizen-description-title
                  font-poppins font-weight-bold
                  mt-3
                "
              >
                {{ editedTexts.digitalCitizen.step_4.title }}
              </p>
              <p class="citizen-description font-lato font-weight-light mt-3">
                {{ editedTexts.digitalCitizen.step_4.description }}
              </p>
            </v-col>
            <v-col cols="10" sm="6" md="4">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fdigital-citizen-4.png?alt=media&token=c7a56008-edca-41bd-bc58-8ed2aae2fd9e"
              ></v-img>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="pa-5 pa-md-10 mx-lg-15 mx-5 mt-10">
          <v-row
            no-gutters
            justify="center"
            align="center"
            class="mt-10 justify-md-space-between"
          >
            <v-col cols="12" md="7">
              <h2 class="text-heading-6 font-poppins font-weight-bold mt-3">
                {{ editedTexts.digitalCitizen.step_5.description }}
              </h2>
            </v-col>
            <v-col cols="10" sm="6" md="4">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fdigital-citizen-5.png?alt=media&token=2b144f19-3285-462e-b96f-bd66cf56dc30"
              ></v-img>
            </v-col>
          </v-row>
        </v-card>

        <v-row class="mt-10 mx-lg-15 mx-5">
          <h2 class="citizen-title font-montserrat font-weight-bold mt-5">
            BIENVENIDO a {{ brand.app_name }}!
          </h2>
          <p class="citizen-description font-lato font-weight-light mt-3">
            {{ editedTexts.digitalCitizen.levels_description }}
          </p>
          <p class="citizen-description font-lato font-weight-light d-block">
            Conocé más sobre los niveles de acceso
          </p>
        </v-row>
        <v-row class="mt-5 mx-lg-15 mx-5">
          <v-btn
            large
            class="hero-button font-poppins"
            color="#0088CC"
            d-block
            dark
            style="text-transform: none"
            to="/digital-citizen-levels"
            >Ver niveles de acceso</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  data: () => ({}),
  computed: {
    cssVars() {
      return {
        '--bg-step-number': this.editedTexts.digitalCitizen.step_number_color,
      }
    },
    ...mapGetters({
      editedTexts: 'landingtext/landingtext',
      brand: 'brand/brand',
    }),
  },
})
</script>

<style scoped>
.citizen-title {
  color: #2a3042;
  font-size: 3.4375rem;
}

@media only screen and (max-width: 600px) {
  .citizen-title {
    font-size: 2.8rem;
  }
}

.citizen-description {
  color: #25272c;
  font-size: 1.375rem;
}
.citizen-description-title {
  color: #25272c;
  font-size: 1.8rem;
}

.step-number {
  font-size: 1.25rem;
  color: #ffffff;
  background-color: var(--bg-step-number);
  width: 41px;
  line-height: 41px;
  border-radius: 50%;
  text-align: center;
}
</style>
