<template>
  <section class="my-16">
    <v-row justify="center">
      <v-col cols="10" md="9" lg="7">
        <h2 class="citizen-levels-title font-montserrat font-weight-bold">
          Niveles de Acceso
        </h2>
        <p class="citizen-levels-description font-lato font-weight-light mb-10">
          {{ brand.app_name }} es de registro voluntario y posee 2 diferentes
          niveles de seguridad, dependiendo del grado de acceso a la plataforma
          que cada persona desee.
        </p>
        <v-card class="pa-5 pa-md-10 mt-10">
          <v-row>
            <v-col cols="2">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fdigital-citizen-level1.png?alt=media&token=181dec30-ce3f-4f08-babb-7387c0385059"
              ></v-img>
            </v-col>
            <v-col cols="10">
              <h2 class="level-title font-montserrat font-weight-bold">
                NIVEL 1
              </h2>
              <p
                class="
                  level-description
                  font-lato font-weight-light
                  mt-5
                  text-justify
                "
              >
                Este registro te proporciona la posibilidad de utilizar
                determinados servicios y acceder a información sobre trámites de
                la Municipalidad de General Pueyrredón.<br /><br />
                Para acceder a este nivel de seguridad, deberás ingresar a
                {{ brand.app_name }} y completar las instrucciones al momento de
                registrarte. Además de completar los datos personales, deberás
                validar tu identidad mediante tu DNI, o bien, ingresando con tu
                clave de ANSES, AFIP o Mi Argentina.<br /><br />
                Una vez ingresados dichos datos, deberás aceptar los “Términos y
                Condiciones de Uso y Políticas de Privacidad”.
                <br /><br />Una vez aceptado, el ciudadano descarga la
                aplicación Soberana en su celular e ingresa con la cuenta de
                correo y contraseña que acaba de crear. <br /><br />Escanea el
                código QR ¡Y listo! Ya puede acceder a su ciudadanía digital.
              </p>
            </v-col>
          </v-row>
        </v-card>
        <v-card class="pa-5 pa-md-10 mt-10">
          <v-row>
            <v-col cols="2">
              <v-img
                src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fdigital-citizen-level2.png?alt=media&token=22e13898-b688-4379-b2f9-20e7d0dec1cc"
              ></v-img>
            </v-col>
            <v-col cols="10">
              <h2 class="level-title font-montserrat font-weight-bold">
                NIVEL 2
              </h2>
              <p
                class="
                  level-description
                  font-lato font-weight-light
                  mt-5
                  text-justify
                "
              >
                Este tipo de acceso te brinda la comodidad de acceder a una
                mayor cantidad de servicios online, información que consta en
                organismos públicos, documentos verificables y comunicarte con
                el gobierno municipal. Todos los usuarios Nivel 2 recibirán una
                credencial digital, la cual podrá ser verificada por terceros de
                manera simple y segura. <br /><br />Para acceder a NIVEL 2,
                tenés dos alternativas:
              </p>
              <ul
                class="
                  level-description
                  font-lato font-weight-light
                  mt-5
                  text-justify
                "
              >
                <li>
                  Si accedés personalmente a uno de los Centros de Atención de
                  {{ brand.app_name }} con tu DNI.
                </li>
                <li>
                  Con “Clave Fiscal Nivel 3” otorgada por la Administración
                  Federal de Ingresos Públicos(AFIP): Tendrás que acceder a
                  {{ brand.city_url }} y registrarte con la opción AFIP.
                </li>
              </ul>
              <p
                class="
                  level-description
                  font-lato font-weight-light
                  mt-5
                  text-justify
                "
              >
                El sistema lo redireccionará para identificarse a través de la
                página web de la Administración Federal de Ingresos Públicos
                debiendo para ello contar previamente con “Clave Fiscal Nivel 3”
                de AFIP. Si los datos ingresados en AFIP son correctos, podrás
                realizar la obtención del “Nivel 2” de {{ brand.app_name }}.
                <br />
                <br />
                Como requisito deberás cumplir con los pasos que informa la
                Plataforma y recibirás tu credencial digital en tu
                Portadocumentos. <br />
              </p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  data: () => ({}),
  computed: {
    ...mapGetters({
      brand: 'brand/brand',
    }),
  },
})
</script>

<style scoped>
.citizen-levels-title {
  color: #2a3042;
  font-size: 3.4375rem;
}

@media only screen and (max-width: 600px) {
  .citizen-levels-title {
    font-size: 2.8rem;
  }
}

.citizen-levels-description {
  color: #25272c;
  font-size: 1.375rem;
}
.level-title {
  color: #2a3042;
  font-size: 2.1875rem;
}
.level-description {
  font-size: 1.0625rem;
  color: #25272c;
}
</style>
