<template>
  <v-container class="full-height">
    <v-row align="center" justify="center" text-center class="full-height">
      <v-col v-if="verifyEmail || resetPassword || recoverEmail" cols="12">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-col>
      <v-col v-else cols="12" sm="8" md="8" lg="5">
        <v-card
          v-if="mode === 'verifyEmail'"
          text-center
          :color="error ? 'error' : undefined"
        >
          <v-container py-4>
            <v-card-text class="text-center">
              <template v-if="title && message">
                <h1 class="text-center pb-5">{{ title }}</h1>
                <h3 class="text-center py-2">
                  {{ message }}
                </h3>
              </template>
              <v-progress-circular
                v-if="!title || !message"
                indeterminate
                color="primary"
              ></v-progress-circular>
            </v-card-text>
            <v-card-actions>
              <v-col cols="12" xs="8" class="ma-auto">
                <v-btn
                  :loading="loading"
                  block
                  color="primary"
                  :to="linkToRedirect"
                >
                  Continuar
                </v-btn>
              </v-col>
            </v-card-actions>
          </v-container>
        </v-card>
        <v-row v-else-if="mode === 'resetPassword'" color="white">
          <ChangePassword
            :only-emit="true"
            :title="$t('cambia-tu-contrasena')"
            @update="handleResetPassword(oobCode, $event)"
          />
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import swal from 'sweetalert'

import ChangePassword from '@/components/Profile/ChangePassword.vue'
import { getUser } from '~/services/User'

export default Vue.extend({
  components: {
    ChangePassword,
  },
  data() {
    return {
      mode: this.$route.query.mode,
      oobCode: this.$route.query.oobCode,
      error: false,
      email: null,
      newPassword: '',
      confirmedPassword: '',
      loading: false,
      verifyEmail: false,
      resetPassword: false,
      recoverEmail: false,
      message: '',
      title: '',
      urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
      linkToRedirect: '/',
    }
  },
  mounted() {
    switch (this.$route.query.mode) {
      case 'resetPassword':
        this.handleResetPassword(this.$route.query.oobCode)
        break
      case 'verifyEmail':
        this.handleVerifyEmail(this.$route.query.oobCode)
        break
      default:
        this.$router.push({ path: '/' })
    }
  },
  methods: {
    async handleVerifyEmail(actionCode: any): Promise<void> {
      try {
        const uidUser = await axios.post(`${this.urlEndpoints}/validateToken`, {
          paramEncode: actionCode,
        })
        await axios.post(`${this.urlEndpoints}/saveCollectionData`, {
          collection: 'users',
          data: { activated: true },
          uid: uidUser.data.param,
        })
        await axios.post(`${this.urlEndpoints}/updateUser`, {
          data: {
            emailVerified: true,
          },
          uid: uidUser.data.param,
        })
        this.title = '¡Gracias!'
        this.message = 'Tu cuenta ha sido validada.'
        try {
          const user = (await getUser(this.$fire, uidUser.data.param)).data()
          if (!user?.public_address) {
            this.linkToRedirect = '/complete-data?step=3'
          }
        } catch (error) {
          console.error(error)
        }
      } catch (error) {
        this.title = 'Ocurrió un error'
        if (error.response?.data?.name === 'TokenExpiredError') {
          this.message =
            'El código de acción ya ha caducado. Por favor regresa a tu perfil para reenviarlo.'
        } else {
          this.message =
            error ||
            'El código de acción no es válido. Esto puede suceder si el código tiene un formato incorrecto, caducó o ya se ha utilizado.'
        }
      }
    },
    async handleResetPassword(actionCode: any, message?: any): Promise<void> {
      this.loading = true
      try {
        const uidUser = await axios.post(`${this.urlEndpoints}/validateToken`, {
          paramEncode: actionCode,
        })
        if (message && message.update) {
          await axios.post(`${this.urlEndpoints}/updateUser`, {
            data: {
              password: message.data.newPassword,
            },
            uid: uidUser.data.param,
          })
          swal({
            title: '¡Contraseña actualizada!',
            icon: 'success',
            button: 'Iniciar sesión',
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          })
        } else if (message && !message.update) {
          swal({
            title: 'Ocurrió un error',
            text: message.message,
            icon: 'error',
            buttons: 'Cerrar',
          })
        }
        this.loading = false
      } catch (error) {
        this.loading = false
        swal({
          title: 'Ocurrió un error',
          text: error?.message
            ? error.response?.status === 404
              ? 'Lo sentimos, no pudimos realizar el cambio de contraseña. Por favor, intenta nuevamente'
              : error.message
            : 'El código de acción no es válido. Esto puede suceder si el código tiene un formato incorrecto, caducó o ya se ha utilizado.',
          icon: 'error',
          buttons: 'Cerrar',
        })
      }
    },
  },
})
</script>

<style scoped>
.full-height {
  height: 100%;
}
</style>
