<template>
  <v-main align-center justify-center class="py-5 height-full">
    <v-row
      v-load="loading"
      load-background="white"
      load-type="folding-cube"
    ></v-row>
    <template v-if="!loading">
      <template v-if="mode === 'success'">
        <v-row justify="center" align="center" class="mt-10">
          <v-col cols="12" md="8" sm="8" lg="6" class="text-center">
            <h1 class="font-weight-light mb-5 primary--text">
              ¡Listo! ya subiste a Nivel 2
            </h1>
            <p class="font-weight-light mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </v-col>
        </v-row>
        <v-row justify="center" align="center" class="mt-10">
          <v-col
            cols="12"
            md="8"
            sm="8"
            lg="6"
            class="d-flex flex-column justify-space-between align-center"
          >
            <v-img
              max-width="300"
              :src="$store.getters['brand/getLevelUpImage']"
            ></v-img>
          </v-col>
          <v-col
            cols="12"
            class="d-flex flex-column justify-space-between align-center"
          >
            <v-col
              cols="4"
              md="2"
              sm="3"
              lg="2"
              align="center"
              justify="center"
            >
              <v-btn small color="primary" width="100%" to="/">
                Ir a inicio
              </v-btn>
            </v-col>
          </v-col>
        </v-row>
      </template>
      <template v-else>
        <v-row justify="center" align="center" class="mt-10">
          <v-col cols="12" md="8" sm="8" lg="6" class="text-center">
            <h1 class="font-weight-light mb-5 primary--text">
              Lo sentimos no podemos subirte a Nivel 2
            </h1>
            <p class="font-weight-light mb-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </v-col>
        </v-row>
        <v-row justify="center" align="center" class="mt-10">
          <v-col
            cols="12"
            md="8"
            sm="8"
            lg="6"
            class="d-flex flex-column justify-space-between align-center"
          >
            <v-img
              max-width="300"
              :src="$store.getters['brand/getErrorImage']"
            ></v-img>
          </v-col>
          <v-col
            cols="12"
            class="d-flex flex-column justify-space-between align-center"
          >
            <v-col
              cols="4"
              md="2"
              sm="3"
              lg="2"
              align="center"
              justify="center"
            >
              <v-btn color="primary" width="100%" to="/"> Ir a inicio </v-btn>
            </v-col>
          </v-col>
        </v-row>
      </template>
    </template>
  </v-main>
</template>

<script lang="ts">
import { mapGetters } from 'vuex'
import mixins from 'vue-typed-mixins'

import RevokeCertificatesMixin from '@/mixins/RevokeCertificatesMixin'
import CertificateMixin from '@/mixins/CertificateMixin'

import { setUserDoc } from '@/services/User'

export default mixins(RevokeCertificatesMixin, CertificateMixin).extend({
  name: 'Level2Upgraded',
  mixins: [RevokeCertificatesMixin, CertificateMixin],
  data() {
    return {
      mode: this.$route.query.mode,
      levelUpdated: localStorage.getItem('levelUpdated'),
    }
  },
  computed: {
    ...mapGetters({
      certsConfig: 'certsConfig/certsConfig',
      user: 'users/user',
    }),
    loading: {
      get(): boolean {
        return (
          !this.levelUpdated ||
          this.$store.getters['authconfig/databaseLoad'] === null
        )
      },
      set(newValue: boolean) {
        return newValue
      },
    },
  },
  mounted() {
    this.toRevokeCertificates()
  },
  methods: {
    async toRevokeCertificates() {
      if (!this.user.levelUp) {
        const nameCollections = this.certsConfig.certsCollectionsToRevoke
        const promises = [] as any
        if (this.mode === 'success') {
          nameCollections.forEach((collectionName: string) => {
            promises.push(this.revokeCertificates(collectionName))
          })
          await Promise.all(promises).then(async (response: any) => {
            await response.reduce(
              async (
                memo: any,
                element: { collection: string; item: Object }
              ) => {
                await memo
                await this.certificateData(element.collection, element.item)
                this.user.levelUp = true
                await setUserDoc(this.$fire, this.user.uid, {
                  ...this.user,
                })
                await this.$store.commit('users/SET_USER', this.user)
              },
              undefined
            )
          })
        } else {
          localStorage.removeItem('levelUpdated')
          localStorage.removeItem('reino')
        }
      }
    },
  },
})
</script>

<style>
.height-full {
  height: 100%;
}
</style>
