<template class="align-center">
  <v-main align-center justify-center class="py-5 height-full">
    <v-row
      v-load="loading"
      load-background="white"
      load-type="folding-cube"
    ></v-row>
    <v-row v-if="!loading" justify="center" align="center" class="pt-6">
      <v-col cols="10" xs="12" sm="7" md="8" lg="4">
        <v-col cols="12" align="center" class="justify-space-between d-flex">
          <h2 v-if="!loading && !loadingChild">{{ $t('btnsignin') }}</h2>
          <span
            v-if="wallet && !loading && !loadingChild"
            id="backBtn"
            class="pt-2 link-span"
            @click="clearData()"
            >{{ $t('back') }}</span
          >
        </v-col>
        <Login
          :provider="web3"
          :wallet="wallet"
          :wallet-type="walletType"
          captcha="recaptcha-login-header"
          auth-type="login"
          @wait="loadingChild = $event"
        />
        <template v-if="$store.getters['authconfig/email']">
          <v-col cols="12" class="mb-10">
            <v-row align="center" class="justify-space-between">
              <a
                v-if="
                  $store.getters['authconfig/register'] &&
                  !loading &&
                  !loadingChild
                "
                class="text-left pl-3"
                href="/register"
              >
                {{ $t('noaccount') }}
              </a>
              <a
                v-if="!loading && !loadingChild"
                class="text-rigth pr-3 recover-pass"
                :class="{
                  'pl-3': $vuetify.breakpoint.xsOnly,
                }"
                href="/reset-password"
              >
                {{ $t('notpass') }}
              </a>
            </v-row>
          </v-col>
        </template>
        <template v-if="$store.getters['authconfig/wallet']">
          <v-divider></v-divider>
          <v-col cols="12" class="my-6">
            <Wallets
              :wallet="wallet"
              :typew="walletType"
              @change="wallet = $event"
              @typew="walletType = $event"
              @walletLink="walletLink = $event"
              @web3="web3 = $event"
            />
          </v-col>
        </template>
      </v-col>
    </v-row>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'

import Login from '~/components/Login/Login.vue'
import Wallets from '~/components/Register/Wallets.vue'

export default Vue.extend({
  components: {
    Login,
    Wallets,
  },
  middleware: ['unauthenticated'],
  data() {
    return {
      tab: 0,
      wallet: '',
      walletType: '',
      walletLink: Object(),
      web3: null as any,
      cuit: localStorage.getItem('cuit'),
      loadingChild: false,
    }
  },
  computed: {
    loading: {
      get(): boolean {
        return (
          !!this.cuit || this.$store.getters['authconfig/databaseLoad'] === null
        )
      },
      set(newValue: boolean) {
        return newValue
      },
    },
  },
  mounted() {
    this.closeAutenticar()
  },
  methods: {
    async closeAutenticar() {
      await this.$autenticar.logout()
      localStorage.removeItem('reino')
      localStorage.removeItem('backToReino')
      localStorage.removeItem('cuit')
    },
    clearData() {
      if (this.walletType === 'Coinbase') {
        this.walletLink.disconnect()
      }
      this.wallet = ''
      this.walletType = ''
    },
  },
})
</script>

<style scoped>
.height-full {
  height: 100%;
}
.min-height {
  min-height: 380px;
}
.link-span {
  cursor: pointer;
  color: var(--v-primary-base);
}
@media (min-width: 615px) and (max-width: 881px) {
  .text-wallet {
    font-size: 13px;
  }
  .recover-pass {
    padding-left: 12px;
  }
}
</style>
