<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div class="text-center my-5">
        Editor de página descriptiva del trámite
      </div>
      <v-card>
        <v-card-text>
          <editor-builder />
        </v-card-text>
        <!-- <v-card-actions>
          <v-spacer />
          <div>{{ (totalCount, square) }}</div>
          <v-btn color="primary" nuxt to="/inspire"> Continue </v-btn>
        </v-card-actions> -->
      </v-card>
    </v-col>
  </v-row>
</template>

<!--<i18n>
{
  "en": {
    "email": "Email *",
    "mobile": "Mobile *",
    "account": "Already have an account?",
    "privacy": "Notice of Privacy",
  },
  "es": {
    "email": "Correo *",
    "mobile": "Celular *",
    "privacy": "Aviso de privacidad",
    "account": "¿Ya tienes cuenta?",
  }
}
</i18n>-->
<script>
import { ref, onMounted, computed } from '@nuxtjs/composition-api'
import EditorBuilder from '@/components/public/EditorBuilder'

export default {
  components: {
    EditorBuilder,
  },
  props: {
    count: {
      type: Number,
      default: 0,
    },
  },
  setup(props) {
    // devolvemos la propiedad totalCount
    onMounted(() => {})
    const num = ref(2)
    const square = computed(() => num.value * 2)
    return {
      totalCount: `Total Count: ${props.count}!`,
      square,
    }
  },
  data() {
    return {
      tab: 0,
    }
  },
}
</script>

<style scoped>
.fill-brand__image {
  height: 100% !important;
  background-image: url('https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
<style lang="scss" scoped>
>>> .v-sheet.v-card {
  border-radius: 5% !important;
}
</style>
