<template>
  <v-container class="mb-5">
    <v-row justify="center" align="center">
      <v-col cols="12">
        <h1 class="display-2 text-center primary--text mb-4">
          {{ $t('titleProfile') }}
        </h1>
      </v-col>
      <v-col cols="12">
        <v-card>
          <v-img
            :src="require('@/assets/images/user-profile-bg.jpg')"
            height="200px"
          ></v-img>
          <v-card-text>
            <v-row align="center">
              <v-col cols="12" xs="12" md="2" sm="2">
                <client-only>
                  <ImageFilePond
                    :files="
                      userStore && userStore.picture
                        ? [userStore.picture]
                        : null
                    "
                    :folder="'photos'"
                    @change="uploadPhoto($event)"
                  />
                </client-only>
              </v-col>
              <v-col
                cols="12"
                xs="12"
                md="8"
                sm="8"
                class="text-left fill-height"
              >
                <h3 class="headline mb-0">
                  {{ userStore.first_name }}
                </h3>
                <span class="">{{
                  userStore && userStore.role ? userStore.role.name : ''
                }}</span>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col v-if="!$store.getters['user/isVerified']" cols="12">
        <v-alert
          v-if="!$store.getters['user/isVerified'] && userStore.email"
          :value="true"
          color="warning"
          icon="mdi-alert-circle-outline"
        >
          Para poder navegar primero tienes que validar tu dirección de correo
          electrónico. Da clic
          <a
            class="white--text"
            @click="
              sendEmailVerificationSengrid(
                'verifyEmail',
                undefined,
                userStore.uid
              )
            "
            >aquí</a
          >
          para volver a enviar el correo de verificación. Si ya verificaste tu
          cuenta solo vuelve a cargar esta pagina.
        </v-alert>
      </v-col>
      <v-col cols="12" class="mb-3">
        <v-tabs slot="extension" v-model="tab" grow dark show-arrows>
          <v-tabs-slider></v-tabs-slider>
          <v-tab>{{ $t('profile') }}</v-tab>
          <v-tab v-if="userStore.email"
            >{{ $t('change') }} {{ $t('password') }}</v-tab
          >
          <v-tab v-if="userStore.email"
            >{{ $t('change') }} {{ $t('email') }}</v-tab
          >
          <v-tab>{{ $t('deactivateAccount') }}</v-tab>
        </v-tabs>
        <v-tabs-items v-model="tab">
          <v-tab-item>
            <UserData :user-info="userStore" @update="showMessages($event)" />
          </v-tab-item>
          <v-tab-item v-if="userStore.email">
            <ChangePassword @update="showMessages($event)" />
          </v-tab-item>
          <v-tab-item v-if="userStore.email">
            <ChangeEmail
              :user-info="userStore"
              @update="showMessages($event)"
            />
          </v-tab-item>
          <v-tab-item v-if="userStore.email">
            <DeactivateUser
              :user-info="userStore"
              @update="showMessages($event)"
            />
          </v-tab-item>
        </v-tabs-items>
      </v-col>
    </v-row>
    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'

import { mapGetters } from 'vuex'
import UserData from '@/components/Profile/UserData.vue'
import ChangePassword from '@/components/Profile/ChangePassword.vue'
import ChangeEmail from '@/components/Profile/ChangeEmail.vue'
import DeactivateUser from '@/components/Profile/DeactivateUser.vue'
import ImageFilePond from '@/components/public/ImageFilePond.vue'
import SendEmailVerificationMixin from '@/mixins/SendEmailVerificationMixin'

import { setUserDoc } from '~/services/User'
import { logOut } from '~/services/Firebase'

export default Vue.extend({
  name: 'Profile',
  components: {
    UserData,
    ChangePassword,
    ChangeEmail,
    DeactivateUser,
    ImageFilePond,
  },
  mixins: [SendEmailVerificationMixin],
  middleware: ['authenticated'],
  props: {},
  data: () => ({
    hasName: false,
    tab: null,
    snackbar: {
      show: false,
      color: '',
      mode: '',
      timeout: 6000,
      text: '',
      right: '',
      top: '',
    },
    loading: false,
  }),
  computed: {
    ...mapGetters({
      userStore: 'users/user',
    }),
  },
  methods: {
    showMessages(message: any): void {
      if (message && message.update) {
        this.snackbar.show = true
        this.snackbar.color = 'success'
      } else {
        this.snackbar.show = true
        this.snackbar.color = 'error'
      }
      this.snackbar.text = message.message
      if (message.disabled) {
        this.logout()
      }
    },
    async logout() {
      this.$router.push({ path: '/' })
      await logOut(this.$fire)
      if (this.$autenticar) {
        await this.$autenticar.logout()
        localStorage.removeItem('reino')
        localStorage.removeItem('backToReino')
        localStorage.removeItem('cuit')
        localStorage.removeItem('levelUpdated')
      }
      this.$store.dispatch('users/fetchUser')
    },
    async uploadPhoto(url: string) {
      this.loading = false
      try {
        // Update picture in collection
        const userUid = this.$fire.auth.currentUser.uid
        await setUserDoc(this.$fire, userUid, {
          ...this.userStore.user,
          picture: url || '',
        })
        // Update picture in auth
        await this.$fire.auth.currentUser.updateProfile({
          photoURL: url,
        })
        // Set user in store
        this.userStore = url
        this.snackbar.show = true
        this.snackbar.text = 'Foto de perfil actualizada con éxito.'
        this.snackbar.color = 'success'
      } catch {
        this.snackbar.show = true
        this.snackbar.text = 'Ocurrió un error al actualizar tu foto de perfil.'
        this.snackbar.color = 'error'
      }
      this.loading = false
    },
  },
})
</script>
