<template class="align-center">
  <v-main align-center justify-center class="py-5 height-full">
    <v-row
      v-load="loading"
      load-background="white"
      load-type="folding-cube"
    ></v-row>
    <template v-if="!loading">
      <v-row
        v-if="$store.getters['authconfig/autenticar']"
        class="mt-10 justify-center"
      >
        <v-col cols="12">
          <h2 class="font-weight-light text-center mb-0">
            Estás a 4 pasos de
            <strong class="font-weight-bold">completar tu registro</strong>
          </h2>
        </v-col>
        <v-col cols="10" xl="4" md="6" sm="8">
          <v-stepper alt-labels>
            <v-stepper-header>
              <v-stepper-step
                :color="$store.getters['brand/getSecondaryColor']"
                step="1"
                ><p class="font-weight-light subtitle-2">
                  Elegí un ingreso
                </p></v-stepper-step
              >
              <v-divider></v-divider>
              <v-stepper-step
                :color="$store.getters['brand/getSecondaryColor']"
                step="2"
              >
                <p class="font-weight-light subtitle-2 text-center">
                  Colocá correo y contraseña
                </p></v-stepper-step
              >
              <v-divider></v-divider>
              <v-stepper-step
                :color="$store.getters['brand/getSecondaryColor']"
                step="3"
                ><p class="font-weight-light subtitle-2 text-center">
                  Descargá la aplicación
                </p></v-stepper-step
              >
              <v-divider></v-divider>
              <v-stepper-step
                :color="$store.getters['brand/getSecondaryColor']"
                step="4"
                ><p class="font-weight-light subtitle-2 text-center">
                  Escanea el QR
                </p></v-stepper-step
              >
            </v-stepper-header>
          </v-stepper>
        </v-col>
      </v-row>
      <v-row class="justify-center justify-md-start">
        <v-col
          cols="10"
          sm="6"
          md="5"
          lg="4"
          class="offset-sm-0 offset-md-1 offset-lg-2 pt-0"
        >
          <v-row justify="center" align="center" class="py-6 height-full">
            <v-col cols="12" xs="11" sm="10" md="12" lg="9">
              <span
                v-if="wallet"
                id="backBtn"
                class="pt-2 link-span"
                @click="clearData()"
                >{{ $t('back') }}</span
              >
              <ArgRegister
                v-if="!$store.getters['authconfig/autenticar']"
                :is-register="true"
                :captcha="'recaptcha-register-email'"
                @valid="isValid = $event"
                @data="data = $event"
              />
              <AutenticarRegister
                v-if="
                  $store.getters['authconfig/autenticar'] &&
                  $store.getters['authconfig/register']
                "
              />
              <template v-if="!$store.getters['authconfig/autenticar']">
                <v-divider v-if="wallet" class="mt-5 mb-2"></v-divider>
                <v-form v-model="valid" @submit.prevent="onSubmit">
                  <v-row v-if="wallet">
                    <v-row justify="center">
                      <v-col cols="12" class="py-0 mt-5">
                        <v-text-field
                          v-if="wallet && wallet.startsWith('0x')"
                          v-model="public_address"
                          disabled
                          outlined
                          label="Identidad digital (Llave pública)"
                          prepend-inner-icon="mdi-fingerprint"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row
                      v-if="wallet && wallet.startsWith('0x')"
                      justify="center"
                      class="mb-10"
                    >
                      <v-col cols="12" class="py-0">
                        <v-btn
                          color="primary"
                          width="100%"
                          :disabled="!isValid || !public_address"
                          type="submit"
                        >
                          Registrar
                        </v-btn>
                      </v-col>
                    </v-row>
                    <v-row justify="center" class="mb-10 d-flex">
                      <v-col
                        cols="12"
                        xl="10"
                        class="my-3 align-center justify-center"
                      >
                        <Wallets
                          :wallet="wallet"
                          :typew="walletType"
                          @change="wallet = $event"
                          @typew="walletType = $event"
                          @walletLink="walletLink = $event"
                        />
                      </v-col>
                    </v-row>
                  </v-row>
                  <v-row v-else justify="center" class="mb-10">
                    <v-col cols="12" class="py-0">
                      <v-btn
                        color="primary"
                        width="100%"
                        :disabled="!isValid || loading"
                        type="submit"
                      >
                        Registrar
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-form>
                <v-col v-if="!wallet" cols="12" class="mb-10">
                  <v-row align="center" class="justify-space-between">
                    <a class="text-left pl-3" href="/login">
                      {{ $t('account') }}
                    </a>
                  </v-row>
                </v-col>
              </template>
              <template v-if="$store.getters['authconfig/mobile']">
                <Mobile-Auth
                  captcha="recaptcha-register-sms-page"
                  auth-type="register"
                />
              </template>
            </v-col>
          </v-row>
        </v-col>
        <v-col
          cols="10"
          xs="10"
          sm="6"
          md="4"
          lg="3"
          class="
            offset-1 offset-sm-0
            mt-15
            offset-md-1 offset-lg-0
            d-none d-md-flex
          "
        >
          <InfoPortadocumento
            :is-register="true"
            :infodocholder="$t('infodocholder')"
          />
        </v-col>
      </v-row>
    </template>
    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'
import swal from 'sweetalert'

import InfoPortadocumento from '@/components/Register/InfoPortadocumento.vue'
import ArgRegister from '@/components/Register/ArgRegister.vue'
import AutenticarRegister from '@/components/Register/AutenticarRegister.vue'
import MobileAuth from '@/components/public/MobileAuth.vue'
import Wallets from '~/components/Register/Wallets.vue'
import { setUserDoc, getUserByPublicAddress, getUser } from '~/services/User'
import { signUp } from '~/services/Firebase'

export default Vue.extend({
  components: {
    Wallets,
    MobileAuth,
    ArgRegister,
    AutenticarRegister,
    InfoPortadocumento,
  },
  middleware: ['unauthenticated'],
  data() {
    return {
      data: Object(),
      isValid: false,
      valid: false,
      wallet: '',
      walletType: '',
      walletLink: Object(),
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 600000,
        text: '',
        right: '',
        top: '',
      },
      reino: localStorage.getItem('reino'),
      cuit: localStorage.getItem('cuit'),
    }
  },
  computed: {
    public_address(): string {
      return this.wallet
    },
    loading: {
      get(): boolean {
        return (
          (!!this.reino && !this.cuit) ||
          this.$store.getters['authconfig/databaseLoad'] === null
        )
      },
      set(newValue: boolean) {
        return newValue
      },
    },
  },
  mounted() {
    this.validateSession()
  },
  methods: {
    validateSession() {
      const interval = setInterval(async () => {
        this.cuit = localStorage.getItem('cuit')
        if (this.cuit) {
          const user = (await getUser(this.$fire, this.cuit)).data()
          if (user && !this.$store.getters.loggedIn && this.reino) {
            swal({
              title: '¡Tu usuario ya existe!',
              text: 'Ya tienes un usuario registrado con nostros. Por favor ingresa con email y contraseña.',
              icon: 'warning',
              button: 'Iniciar sesión',
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            })
          }
          clearInterval(interval)
        }
      }, 1000)
    },
    clearData() {
      if (this.walletType === 'Coinbase') {
        this.walletLink.disconnect()
      }
      this.wallet = ''
      this.walletType = ''
    },
    async onSubmit(): Promise<void> {
      try {
        this.loading = true
        // Validate if public address exist
        let exist = null
        if (this.wallet) {
          exist = await getUserByPublicAddress(this.$fire, {
            publicAddress: this.public_address,
          })
        }
        if (exist?.docs.length <= 0 || !this.wallet) {
          // Create user Auth
          const { user } = await signUp(this.$fire, {
            email: this.data.email,
            password: this.data.password,
          })
          // Create user collection
          await setUserDoc(this.$fire, user.uid, {
            email: this.data.email,
            first_name: this.data.first_name,
            last_name: this.data.last_name,
            public_address: this.public_address ? this.public_address : '',
            activated: true,
          })
          this.loading = false
          this.snackbar.show = true
          this.snackbar.text = 'Se registró el usuario exitosamente'
          this.snackbar.color = 'success'
          setTimeout(() => {
            this.$router.push({ path: '/' })
          }, 2000)
        } else {
          this.loading = false
          this.snackbar.show = true
          this.snackbar.text =
            'La llave pública ya está en uso por otra cuenta.'
          this.snackbar.color = 'error'
        }
      } catch (error) {
        this.loading = false
        this.snackbar.show = true
        this.snackbar.text =
          error.message ||
          'La dirección de correo electrónico ya está en uso por otra cuenta.'
        this.snackbar.color = 'error'
      }
    },
  },
})
</script>

<style scoped>
.height-full {
  height: 100%;
}
.min-height {
  min-height: 380px;
}
.link-span {
  cursor: pointer;
  color: var(--v-primary-base);
}
.theme--light.v-stepper {
  background: none !important;
}
.v-stepper {
  box-shadow: none !important;
}
@media (min-width: 615px) and (max-width: 881px) {
  .text-wallet {
    font-size: 13px;
  }
  .recover-pass {
    padding-left: 12px;
  }
}
</style>
