<template>
  <v-row class="d-flex total-height">
    <template v-if="loading">
      <v-col cols="12" justify="center" align="center">
        <h2 class="mb-10">{{ $t('loading') }}</h2>
        <v-progress-circular
          :size="50"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </v-col>
    </template>
    <v-col v-else cols="12" justify="center" align="center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="90"
        height="90"
        fill="#B71C1C"
        viewBox="0 0 48 48"
      >
        <path
          d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"
        />
      </svg>
      <h1 class="title">Error en el servidor.</h1>
      <p class="description">Por favor intenta nuevamente.</p>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

import { logOut } from '~/services/Firebase'

export default Vue.extend({
  data() {
    return {
      loading: false,
    }
  },
  mounted() {
    this.logout()
  },
  methods: {
    async logout() {
      this.loading = true
      try {
        const self = this
        await logOut(this.$fire)
        const reino = localStorage.getItem('reino')
        if (reino) {
          self.$autenticar.logout(reino)
          localStorage.removeItem('reino')
          localStorage.removeItem('cuit')
          localStorage.removeItem('backToReino')
          localStorage.removeItem('levelUpdated')
        }
        this.$emit('close-drawer', false)
        this.$store.dispatch('users/fetchUser')
        this.$store.dispatch('setloggedIn', false)
        this.loading = false
      } catch (error) {
        console.error(error)
        this.loading = false
      }
    },
  },
})
</script>

<style scoped>
.total-height {
  height: 100%;
}
</style>
