<template>
  <section class="my-16">
    <v-row justify="center">
      <v-col cols="10">
        <v-card class="mx-lg-15 mx-5">
          <v-row justify="center" class="align-stretch py-7">
            <v-col cols="10" class="pt-10">
              <h3 class="terms-title font-montserrat font-weight-bold">
                {{ $t('terms') }}
              </h3>
              <p
                class="
                  terms-description
                  font-lato font-weight-light
                  mt-5
                  text-justify
                "
              >
                {{ brand.termsAndConditions }}
              </p>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  data: () => ({}),
  computed: {
    ...mapGetters({
      brand: 'brand/brand',
    }),
  },
})
</script>

<style scoped>
.terms-title {
  font-size: 2.5625em;
  color: #2a3042;
}

.terms-description {
  font-size: 1.375em;
  color: #25272c;
}

@media only screen and (max-width: 1264px) {
  .terms-title {
    font-size: 2.5em;
  }
  .terms-description {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 600px) {
  .terms-title {
    font-size: 2.1em;
  }
  .terms-description {
    font-size: 1.1em;
  }
}
</style>
