<template>
  <v-main class="py-5 height-full">
    <v-row
      v-load="loading"
      load-background="white"
      load-type="folding-cube"
    ></v-row>
    <v-row
      v-if="!loading"
      justify="center"
      align="center"
      class="mt-10 font-poppins"
    >
      <v-col cols="11" lg="6" md="8" sm="10">
        <v-row>
          <v-col cols="12">
            <h1 class="font-weight-light mb-5">Subir de Nivel</h1>
            <p class="font-weight-light mb-0">
              Para poder subir de nivel debes registrarte por medio de
              <span class="font-weight-black">AFIP</span> pero debes saber una
              cosa antes:
            </p>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            lg="6"
            md="6"
            sm="6"
            class="text-justify container-level-up"
          >
            <p class="font-weight-light mb-7">
              Al cambiar de nivel los certificados que hayas generado
              previamente seran
              <span class="font-weight-black">revocados</span> pero todo estará
              bien, nosotros nos encargaremos de generarlos nuevamente, solo
              debes enviarlos nuevamente a las instituciones que ya se lo hayas
              proporcionado.
            </p>
            <p class="mb-7">
              Al subir de nivel podrás realizar más trámites, para más
              información consulta <a>link</a>
            </p>
            <v-row
              align="center"
              justify="center"
              class="container_wallet autenticar my-7"
              @click.prevent="autenticar('afip')"
            >
              <v-col cols="2" md="2" sm="2" class="py-0 text-center">
                <v-icon left>$vuetify.icons.oscity_autenticar_afip</v-icon>
              </v-col>
              <v-col
                cols="10"
                md="10"
                sm="10"
                lg="10"
                class="text-center text-wallet text-autenticar"
              >
                <span>Inicia con AFIP</span>
              </v-col>
            </v-row>
            <!-- <p class="subtitle-1">
              Si no eres nivel 3 o 4 o no cuentas con AFIP solicita una cita en
              este link <a>www.link.com</a>
            </p> -->
          </v-col>
          <v-col
            cols="12"
            lg="6"
            md="6"
            sm="6"
            justify="center"
            align="center"
            class="container-level-up"
          >
            <v-img
              max-width="400"
              width="400"
              max-height="364"
              height="364"
              :src="$store.getters['brand/getValidateLevelImage']"
            ></v-img>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-main>
</template>

<script lang="ts">
import Vue from 'vue'

import { getUser } from '~/services/User'

export default Vue.extend({
  name: 'ValidateCiDiLevel',
  data() {
    return {
      levelUpdated: localStorage.getItem('levelUpdated') as any,
      cuit: localStorage.getItem('cuit'),
      reino: localStorage.getItem('reino'),
    }
  },
  computed: {
    loading: {
      get(): boolean {
        return (
          this.levelUpdated ||
          this.$store.getters['authconfig/databaseLoad'] === null
        )
      },
      set(newValue: boolean) {
        return newValue
      },
    },
  },
  mounted() {
    this.validateSession()
  },
  methods: {
    async autenticar(reino: string) {
      this.loading = true
      await this.$autenticar.init(reino)
      localStorage.setItem('levelUpdated', 'init')
    },
    validateSession() {
      const interval = setInterval(async () => {
        this.cuit = localStorage.getItem('cuit')
        this.levelUpdated = localStorage.getItem('levelUpdated')
        if (this.cuit) {
          this.loading = true
          const user = (await getUser(this.$fire, this.cuit)).data()
          if (user && this.$store.getters.loggedIn && this.reino) {
            if (this.levelUpdated !== 'init') {
              this.$router.push({
                path: '/level2Upgraded?mode=success',
              })
            } else {
              this.$router.push({
                path: '/level2Upgraded?mode=error',
              })
            }
          }
          clearInterval(interval)
        }
      }, 1000)
    },
  },
})
</script>

<style>
.height-full {
  height: 100%;
}
.container_wallet {
  width: 100%;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  margin: auto;
}
.autenticar {
  background: #003b71;
}
.text-wallet {
  border-radius: 0px 24px 24px 0px;
}
.text-autenticar {
  background: #0073ba;
}
@media screen and (min-width: 600px) and (max-width: 749px) {
  .container-level-up {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>
