<template>
  <section class="my-16">
    <v-row justify="center">
      <v-col cols="10" md="9">
        <v-card class="mx-lg-15 mx-5">
          <v-row justify="center" class="align-stretch py-10">
            <v-col
              cols="10"
              md="6"
              lg="5"
              class="order-md-2 px-5 px-lg-15 pt-10"
            >
              <h3 class="cidi-title font-montserrat font-weight-bold">
                {{ editedTexts.whatIsCidi.section_1.title }}
              </h3>
              <p class="cidi-description font-lato font-weight-light mt-5">
                {{ editedTexts.whatIsCidi.section_1.description }}
              </p>
            </v-col>

            <v-col
              cols="10"
              md="6"
              lg="5"
              class="order-md-1 px-5"
              justify="center"
            >
              <v-container fill-height fluid>
                <v-row align="center">
                  <v-img
                    src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fwhat-is-cidi-1.png?alt=media&token=73af1e47-ba88-47b8-a2e0-12ba9b926092"
                  ></v-img>
                </v-row>
              </v-container>
            </v-col>
          </v-row>
        </v-card>
        <v-card class="mx-lg-15 mx-5">
          <v-row justify="center" class="align-stretch py-10 mt-16">
            <v-col cols="10" md="6" lg="5" class="px-5 px-lg-15 pt-10">
              <h3 class="cidi-title font-montserrat font-weight-bold">
                {{ editedTexts.whatIsCidi.section_2.title }}
              </h3>
              <p class="cidi-description font-lato font-weight-light mt-5">
                {{ editedTexts.whatIsCidi.section_2.description }}
              </p>
            </v-col>

            <v-col cols="10" md="6" lg="5" class="px-5" justify="center">
              <v-container fill-height fluid>
                <v-row align="center">
                  <v-img
                    src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fwhat-is-cidi-2.png?alt=media&token=3e94818f-d64e-4827-b476-b171dbe76ec8"
                  ></v-img>
                </v-row>
              </v-container>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="mx-lg-15 mx-5">
          <v-row justify="center" class="align-stretch py-10 mt-16">
            <v-col
              cols="10"
              md="6"
              lg="5"
              class="order-md-2 px-5 px-lg-15 pt-10"
            >
              <h3 class="cidi-title font-montserrat font-weight-bold">
                {{ editedTexts.whatIsCidi.section_3.title }}
              </h3>
              <p class="cidi-description font-lato font-weight-light mt-5">
                {{ editedTexts.whatIsCidi.section_3.description }}
              </p>
            </v-col>

            <v-col
              cols="10"
              md="6"
              lg="5"
              class="order-md-1 px-5"
              justify="center"
            >
              <v-container fill-height fluid>
                <v-row align="center">
                  <v-img
                    src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fwhat-is-cidi-3.png?alt=media&token=ff54bb79-5650-4b78-9bc3-a920d6009175"
                  ></v-img>
                </v-row>
              </v-container>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="mx-lg-15 mx-5">
          <v-row justify="center" class="align-stretch py-10 mt-16">
            <v-col cols="10" md="6" lg="5" class="px-5 px-lg-15 pt-10">
              <h3 class="cidi-title font-montserrat font-weight-bold">
                {{ editedTexts.whatIsCidi.section_4.title }}
              </h3>
              <p class="cidi-description font-lato font-weight-light mt-5">
                {{ editedTexts.whatIsCidi.section_4.description }}
              </p>
            </v-col>

            <v-col cols="10" md="6" lg="5" class="px-5" justify="center">
              <v-container fill-height fluid>
                <v-row align="center">
                  <v-img
                    src="https://firebasestorage.googleapis.com/v0/b/demosburg-dev.appspot.com/o/brand%2Fimages%2Fwhat-is-cidi-4.png?alt=media&token=f310ea47-38c5-43b3-8f26-4484f01436c4"
                  ></v-img>
                </v-row>
              </v-container>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
import Vue from 'vue'
import { mapGetters } from 'vuex'

export default Vue.extend({
  data: () => ({}),
  computed: {
    ...mapGetters({
      editedTexts: 'landingtext/landingtext',
    }),
  },
})
</script>

<style scoped>
.cidi-title {
  font-size: 2.5625em;
  color: #2a3042;
}

.cidi-description {
  font-size: 1.375em;
  color: #25272c;
}

@media only screen and (max-width: 1989px) {
  .cidi-title {
    font-size: 1.9em;
  }
}

@media only screen and (max-width: 1627px) {
  .cidi-title {
    font-size: 1.7em;
  }
  .cidi-description {
    font-size: 1.25em;
  }
}

@media only screen and (max-width: 1518px) {
  .cidi-title {
    font-size: 1.5em;
  }
  .cidi-description {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 1407px) {
  .cidi-title {
    font-size: 1.3em;
  }
  .cidi-description {
    font-size: 1em;
  }
}

@media only screen and (max-width: 1299px) {
  .cidi-title {
    font-size: 1.2em;
  }
  .cidi-description {
    font-size: 1em;
  }
}

@media only screen and (max-width: 959px) {
  .cidi-title {
    font-size: 1.5em;
  }
  .cidi-description {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 465px) {
  .cidi-title {
    font-size: 1.6em;
  }
  .cidi-description {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 432px) {
  .cidi-title {
    font-size: 1.3em;
  }
  .cidi-description {
    font-size: 1.05em;
  }
}
@media only screen and (max-width: 366px) {
  .cidi-title {
    font-size: 1.2em;
  }
  .cidi-description {
    font-size: 1.1em;
  }
}
</style>
