<template>
  <v-container class="pt-15">
    <v-row wrap align="start" justify="start">
      <v-col sm="12">
        <h1 class="display-2 primary--text mb-4">Portadocumentos</h1>
      </v-col>
      <v-col v-if="myCertificates.length === 0" sm="12" md="12">
        <h2>No se encontraron documentos</h2>
      </v-col>
      <v-col sm="12" md="12">
        <v-row wrap align="start" justify="start">
          <v-col
            v-for="cert in myCertificates"
            :key="cert.id_reference"
            cols="12"
            sm="6"
            md="4"
            lg="3"
          >
            <v-card outlined class="pa-1">
              <v-card-title class="word-break card-title-cert">{{
                cert.title
              }}</v-card-title>
              <v-card-text>
                <v-row justify="space-between">
                  <v-col sm="6">
                    <div class="grey--text text--darken-2 mt-1">
                      {{ cert.created.split('T')[0] }}
                    </div>
                  </v-col>
                  <v-chip
                    :color="color_cert(cert)"
                    text-color="white"
                    class="mr-1"
                    >{{ status_cert(cert) }}</v-chip
                  >
                </v-row>
                <v-row>
                  <v-col cols="12" class="word-break">
                    <h3>{{ cert.name }}</h3>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  :disabled="!cert.link"
                  text
                  color="primary"
                  :to="
                    cert.link
                      ? `/citizen/certificates/${cert.type}/${cert.link
                          .split('/')
                          .slice(-1)}`
                      : ''
                  "
                  >Ver certificado
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'

import { Certificate } from '~/services/Certificates'

export default Vue.extend({
  middleware: ['completedata'],
  data() {
    return {
      firebaseCollection: [
        'digital_id',
        'certificates',
        'certificatesContributor',
        'certificatesIibb',
      ],
      myCertificates: [] as Certificate[],
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
    }),
  },
  mounted() {
    this.firebaseCollection.forEach((collection) => {
      this.getCerts(collection)
    })
  },
  methods: {
    /**
     * Get data for collection in firebase
     */
    getCerts(collection: string): any {
      this.$fire.firestore
        .collection(collection)
        .where('id_user', '==', this.user.uid)
        .onSnapshot({ includeMetadataChanges: true }, (snapshot: any) => {
          snapshot.docChanges().forEach((change: any) => {
            if (change.type === 'added') {
              if (
                !this.myCertificates.find(
                  (d: any) => d.id_reference === change.doc.data().id_reference
                )
              )
                this.myCertificates.push(change.doc.data())
            }
            if (change.type === 'modified') {
              if (change.doc.data().link) {
                const indexModified = this.myCertificates.findIndex(
                  (d: any) => d.id_reference === change.doc.data().id_reference
                )
                this.myCertificates.splice(indexModified, 1, change.doc.data())
              }
            }
            if (change.type === 'removed') {
              const indexModified = this.myCertificates.findIndex(
                (d: any) => d.id_reference === change.doc.data().id_reference
              )
              this.myCertificates.splice(indexModified, 1)
            }
          })
        })
    },
    /**
     * Map certificate status to a citizen readable way
     */
    status_cert(cert: Certificate) {
      if (cert.confirmed && cert.estado_origen === 'Sin certificar') {
        return 'Solicitado'
      } else if (cert.estado_origen === 'En espera') {
        return 'En proceso'
      } else {
        // Denegado, Certificado o Revocado
        return cert.estado_origen
      }
    },
    color_cert(cert: any) {
      if (cert.confirmed && cert.estado_origen === 'Sin certificar')
        return 'light-blue darken-1'
      if (cert.estado_origen === 'En espera') return 'yellow darken-2'
      if (cert.estado_origen === 'Certificado') return 'green darken-1'
      if (cert.estado_origen === 'Denegado') return 'red darken-4'
      if (cert.estado_origen === 'Revocado') return 'amber darken-4'
    },
  },
})
</script>

<style lang="scss" scoped>
.word-break {
  word-break: break-word;
}
.card-title-cert {
  min-height: 96px;
}
</style>
