<template>
  <section class="d-md-flex" style="height: 100%">
    <ProcedureSidebar
      v-show="$vuetify.breakpoint.mdAndUp"
      title="Certificado de Clave Fiscal"
      procedure="clave-fiscal"
    />
    <ProcedureHeadbar
      v-show="$vuetify.breakpoint.mdAndDown"
      class="d-md-none"
      title="Certificado de Clave Fiscal"
      procedure="clave-fiscal"
    />
    <v-container fluid>
      <v-row>
        <v-col
          v-if="loading"
          cols="10"
          class="offset-1 height-full text-center"
        >
          <v-row
            v-load="loading"
            load-background="white"
            load-type="folding-cube"
            class="mt-15"
          ></v-row>
        </v-col>
      </v-row>
      <template v-if="!loading">
        <v-row>
          <v-col>
            <p class="mb-0">
              <strong>Trámites/</strong>Certificado de Clave Fiscal
            </p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card color="white" width="100%" min-height="420px">
              <v-col>
                <v-form v-model="form.valid" @submit.prevent="submitForm">
                  <v-container>
                    <v-row>
                      <v-col>
                        <h2 class="font-weight-bold form-title">
                          Certificado de Clave Fiscal
                        </h2>
                        <p
                          class="
                            font-lato
                            form-subtitle
                            font-weight-light
                            mb-8
                            d-none
                          "
                        ></p>
                      </v-col>
                    </v-row>
                    <template v-if="existIdentityCert">
                      <v-row>
                        <v-col cols="12" class="pb-1">
                          <h2
                            class="pa-0 font-poppins font-weight-bold d-blocks"
                          >
                            Contribuyente (persona física)
                          </h2>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            CUIT del contribuyente
                          </p>
                          <v-text-field
                            v-model="form.fields.n_cuit"
                            outlined
                            disabled
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-spacer></v-spacer>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Nombres y Apellidos
                          </p>
                          <v-text-field
                            v-model="form.fields.denominacion"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Correo electrónico del contribuyente
                          </p>
                          <v-text-field
                            v-model="form.fields.email"
                            outlined
                            :rules="[form.rules.required, form.rules.email]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="12"
                          class="d-flex flex-column py-0"
                        >
                          <p class="mb-2 font-weight-bold">
                            Código ID (Llave pública)
                          </p>
                          <v-text-field
                            v-model="form.fields.blockchain"
                            outlined
                            disabled
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col cols="12" class="pb-1">
                          <h2
                            class="py-0 font-poppins font-weight-bold d-blocks"
                          >
                            Domicilio
                          </h2>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Provincia</p>
                          <v-select
                            v-model="form.fields.dom_c_provincia"
                            placeholder="Selecciona una Provincia"
                            :items="form.provinces_options"
                            item-text="provincia"
                            item-value="code_provincia"
                            outlined
                            return-object
                            :rules="[form.rules.required]"
                            class="align-end"
                            @change="getDepartmentsByProvince"
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Departamento</p>
                          <v-select
                            v-model="form.fields.dom_c_departamento"
                            placeholder="Selecciona un Departamento"
                            :items="form.departments_options"
                            item-text="departamento"
                            item-value="code_departamento"
                            outlined
                            return-object
                            :rules="[form.rules.required]"
                            class="align-end"
                            @change="getLocalitiesByDepartment"
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Localidad</p>
                          <v-select
                            v-model="form.fields.dom_c_localidad"
                            placeholder="Selecciona una Localidad"
                            :items="form.localities_options"
                            item-text="localidad"
                            item-value="code_localidad"
                            outlined
                            return-object
                            :rules="[form.rules.required]"
                            class="align-end"
                            @change="getZipCode"
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Código Postal*</p>
                          <v-text-field
                            v-model="form.fields.dom_c_postal"
                            disabled
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="9"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Calle del domicilio*
                          </p>
                          <v-text-field
                            v-model="form.fields.dom_calle"
                            outlined
                            hide-details
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="3"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Altura de la calle
                          </p>
                          <v-text-field
                            v-model="form.fields.dom_nro"
                            outlined
                            hide-details
                            type="number"
                            required
                            :rules="rulesNumber"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4 mb-3"
                        >
                          <v-checkbox
                            v-model="form.fields.conforma_dfe"
                            label="Acepto constituir domicilio fiscal electrónico"
                            required
                            :rules="[form.rules.required]"
                          ></v-checkbox>
                        </v-col>
                      </v-row>
                      <v-row justify="center">
                        <SubmitButton
                          :disabled="!form.valid"
                          :loading="loadingBasic"
                        ></SubmitButton>
                        <!-- <v-btn
                    width="160px"
                    height="32px"
                    small
                    color="#0275B4"
                    outlined
                    class="ml-sm-4 mr-sm-4 text-none"
                    >Guardar borrador</v-btn
                  > -->
                        <CancelButton></CancelButton>
                      </v-row>
                    </template>
                    <template v-else>
                      <v-divider></v-divider>
                      <v-row wrap align="center" justify="center">
                        <v-col
                          cols="12"
                          lg="6"
                          md="6"
                          sm="6"
                          justify="center"
                          align="center"
                        >
                          <h1 class="font-weight-light mb-3 mt-15">
                            Para obtener tu certificado de Clave Fiscal es
                            necesario que primero generes tu
                            <span class="font-weight-bold"
                              >Certificado de Identidad Digital.</span
                            >
                          </h1>
                          <h1 class="font-weight-light">
                            Para generarlo por favor ingresa a este
                            <span class="font-weight-bold"
                              ><nuxt-link to="/citizen/certificates/misiones_id"
                                >link</nuxt-link
                              ></span
                            >
                          </h1>
                        </v-col>
                        <v-col
                          cols="12"
                          lg="6"
                          md="6"
                          sm="6"
                          justify="center"
                          align="center"
                        >
                          <v-img
                            max-width="400"
                            :width="width"
                            max-height="364"
                            :height="height"
                            :src="$store.getters['brand/getValidateLevelImage']"
                          ></v-img>
                        </v-col>
                      </v-row>
                    </template>
                  </v-container>
                </v-form>
              </v-col>
            </v-card>
          </v-col>
        </v-row>
      </template>
    </v-container>
  </section>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
import moment from 'moment'
import * as Papa from 'papaparse'
import { mapGetters } from 'vuex'
import {
  getProvinces,
  getDepartmentsByProvince,
  getLocalitiesByDepartment,
} from '../../services/Catalogs'
import ProcedureHeadbar from '@/components/Procedures/ProcedureHeadbar.vue'
import ProcedureSidebar from '@/components/Procedures/ProcedureSidebar.vue'

import {
  setContributorCertificate,
  updateCertificateContributor,
} from '@/services/Certificates'
import { saveFile } from '~/services/Firebase'
import SubmitButton from '@/components/Procedures/Form/SubmitButton.vue'
import CancelButton from '@/components/Procedures/Form/CancelButton.vue'
export default {
  components: {
    ProcedureHeadbar,
    ProcedureSidebar,
    SubmitButton,
    CancelButton,
  },
  middleware: ['completedata'],
  data() {
    return {
      loading: false,
      loadingBasic: false,
      form: {
        valid: false,
        fields: {
          n_cuit: this.$store.state.users.user.dni,
          denominacion: `${this.$store.state.users.user.first_name} ${this.$store.state.users.user.last_name}`,
          c_tipo_documento: 6,
          n_documento: this.dni,
          dom_c_provincia: '',
          dom_c_departamento: '',
          dom_c_localidad: '',
          dom_c_postal: '',
          dom_calle: '',
          dom_nro: '',
          email: this.$store.state.users.user.email,
          conforma_dfe: '',
          blockchain: this.$store.state.users.user.public_address,
        },
        rules: {
          required: (value) => !!value || value === 0 || 'Campo requerido.',
          counter: (value) => value.length <= 20 || 'Max 20 characters',
          email: (value) => {
            const pattern =
              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'E-mail inválido.'
          },
          number: (value) =>
            !!value ||
            !(value < 0) ||
            typeof value !== 'number' ||
            'El campo es requerido y no puede ser menor que 0',
        },
        tipo_documento_options: [{ id: 6, label: 'D.N.I.' }],
        provinces_options: [],
        localities_options: [],
        departments_options: [],
      },
      rulesNumber: [
        (v) => !!v || 'El campo es requerido',
        (v) => !(v < 0) || 'El numero no puede ser menor que 0',
        (v) => typeof v !== 'number' || 'El campo debe ser numero',
      ],
      data: {},
      existIdentityCert: true,
    }
  },
  computed: {
    dni() {
      return this.$store.state.users.user.dni.slice(2, -1)
    },
    height() {
      switch (this.$vuetify.breakpoint.name) {
        case 'md':
          return 200
        case 'sm':
          return 200
        default:
          return 400
      }
    },
    width() {
      switch (this.$vuetify.breakpoint.name) {
        case 'md':
          return 250
        case 'sm':
          return 250
        default:
          return 416
      }
    },
    ...mapGetters({
      user: 'users/user',
    }),
  },
  mounted() {
    this.loading = true
    this.getCertificates('certificates').then((result) => {
      if (!result.empty) {
        this.verifyCertificate()
        this.getProvinces()
      } else {
        this.existIdentityCert = false
      }
      this.loading = false
    })
  },
  methods: {
    getCertificates(collection) {
      return this.$fire.firestore
        .collection(collection)
        .where('id_user', '==', this.user.uid)
        .get()
    },
    async verifyCertificate() {
      this.loading = true
      await this.$fire.firestore
        .collection('certificatesContributor')
        .where('id_user', '==', this.user.uid)
        .get()
        .then((querySnapshot) => {
          if (querySnapshot.size > 0) {
            this.$router.push({
              path: `/citizen/certificates/contributor/${
                querySnapshot.docs[0].data().id_reference
              }`,
            })
          } else {
            this.loading = false
          }
        })
    },
    async getProvinces() {
      const provinces = await getProvinces(this.$fire)
      const data = provinces.docs.map((doc) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.provinces_options = data.sort((a, b) =>
        a.provincia > b.provincia ? 1 : -1
      )
    },
    async certificateContributorData() {
      this.data.identity = 'info@os.city'
      this.data.name = `${this.user.first_name} ${this.user.last_name}`
      this.data.pubkey = this.user.public_address
        ? `ecdsa-koblitz-pubkey:${this.user.public_address}`
        : 'ecdsa-koblitz-pubkey:0xCc386B6f1ca0cffAe3819cEb74622d8308f7258c'
      this.data.denominacion = this.form.fields.denominacion
      this.data.email = this.user.email
      this.data.n_cuit = this.user.dni
      this.data.dni = this.dni
      this.data.levelCidi = this.user.levelCidi
      this.data.domicilio = `${this.form.fields.dom_calle} ${this.form.fields.dom_nro} CP: ${this.form.fields.dom_c_postal}, ${this.form.fields.dom_c_provincia.provincia}, ${this.form.fields.dom_c_departamento.departamento}, ${this.form.fields.dom_c_localidad.localidad}, Argentina`
      this.data.public_address = this.user.public_address
      this.data.title = 'Certificado de Clave Fiscal'
      this.data.type = 'contributor'
      this.data.estado_origen = 'En espera'
      this.data.created = moment().format()
      this.data.is_certified = false
      this.data.id_user = this.user.dni
      const idCert = await setContributorCertificate(this.$fire, this.data)
      this.data.id_reference = idCert.id
      await updateCertificateContributor(this.$fire, idCert.id, this.data)
      this.createContributorCsv(this.data)
    },
    createContributorCsv(element) {
      const fullData = []
      // Remove ref and estado_origen from original certificate
      delete element.is_certified
      delete element.estado_origen
      delete element.id_user
      fullData.push(element)
      const i = Papa.unparse(fullData)
      const file = new Blob(['\uFEFF', i], {
        type: 'data:text/csv;charset=utf-8',
      })
      const date = moment().format('YYYY_MM_DD_HH_mm')
      file.name = `certificates_${date}.csv`
      saveFile(this.$fireModule, file, 'certificates_contributor')
    },
    async getDepartmentsByProvince() {
      const departments = await getDepartmentsByProvince(
        this.$fire,
        this.form.fields.dom_c_provincia.code_provincia
      )
      const data = departments.docs.map((doc) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.departments_options = data.sort((a, b) =>
        a.departamento > b.departamento ? 1 : -1
      )
    },

    async getLocalitiesByDepartment() {
      const localities = await getLocalitiesByDepartment(
        this.$fire,
        this.form.fields.dom_c_departamento.code_departamento,
        this.form.fields.dom_c_provincia.code_provincia
      )
      const data = localities.docs.map((doc) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.localities_options = data.sort((a, b) =>
        a.localidad > b.localidad ? 1 : -1
      )
    },

    getZipCode() {
      const zipCode = this.form.localities_options.filter(
        (localitie) =>
          localitie.code_localidad ===
          this.form.fields.dom_c_localidad.code_localidad
      )
      this.form.fields.dom_c_postal = zipCode[0].zipcode
    },

    submitForm() {
      this.loadingBasic = true
      axios
        .post(`${process.env.OSCITY_ENDPOINTS_URL}/rentax/altaContribuyente`, {
          data: {
            ...this.form.fields,
            dom_c_provincia: this.form.fields.dom_c_provincia.code_provincia,
            dom_c_departamento:
              this.form.fields.dom_c_departamento.code_departamento,
            dom_c_localidad: this.form.fields.dom_c_localidad.code_localidad,
            n_documento: this.dni,
            conforma_dfe: this.form.fields.conforma_dfe ? 'S' : 'N',
            blockchain: this.$store.state.users.user.public_address,
            nivel: this.user.levelCidi,
            dom_nro: this.form.fields.dom_nro ? this.form.fields.dom_nro : 0,
          },
        })
        .then(async (res) => {
          this.loading = true
          // let parsed = res.data.replace('\uFEFF', '')
          // parsed = JSON.parse(`${parsed}`)
          // if (parsed.estado === 'OK') {
          if (res.data.estado === 'OK') {
            await this.certificateContributorData()
            await this.$router.push({ path: '/citizen/certificates' })
          } else if (
            // parsed.estado === 'NO_OK' &&
            // parsed.msj === 'Contribuyente Existente'
            res.data.estado === 'NO_OK' &&
            res.data.msj === 'Contribuyente Existente'
          ) {
            swal({
              title: '¡Ya te encontrás registrado en Rentax!',
              text: `Mandamos a actualizar tus datos con los llenados en el formulario exceptuando el domicilio y te creamos tu certificado`,
              icon: 'success',
              buttons: [false],
            }).then(async () => {
              await this.certificateContributorData()
              await this.$router.push({ path: '/citizen/certificates' })
            })
            await axios.post(
              `${process.env.OSCITY_ENDPOINTS_URL}/rentax/altaCiudadano`,
              {
                data: {
                  n_cuit: this.form.fields.n_cuit,
                  email: this.form.fields.email,
                  conforma_dfe: this.form.fields.conforma_dfe ? 'S' : 'N',
                  blockchain: this.form.fields.blockchain,
                  nivel: this.user.levelCidi,
                  dom_nro: this.form.fields.dom_nro
                    ? this.form.fields.dom_nro
                    : 0,
                },
              }
            )
          } else {
            swal({
              title: '¡No pudimos registrar tus datos ante Rentax!',
              // text: `Esta puede ser la razón: ${parsed.msj}`,
              text: `Esta puede ser la razón: ${res.data.msj}`,
              icon: 'error',
              buttons: [false],
            })
            this.loading = false
            this.loadingBasic = false
          }
        })
        .catch((error) => {
          if (
            error.response.data.estado === 'NO_OK' &&
            error.response.data.msj === 'Contribuyente Existente'
          ) {
            swal({
              title: '¡Ya te encuentras registrado en Rentax!',
              text: `Mandamos a actualizar tus datos con los llenados en el formulario exceptuando el domicilio y te creamos tu certificado`,
              icon: 'success',
              buttons: [false],
            }).then(async () => {
              await this.certificateContributorData()
              await this.$router.push({ path: '/citizen/certificates' })
            })
          } else {
            swal({
              title: '¡No pudimos registrar tus datos ante Rentax!',
              text: `Revisa tus datos y vuelve a intentarlo`,
              icon: 'error',
              buttons: [false],
            })
            this.loading = false
            this.loadingBasic = false
          }
        })
    },
  },
}
</script>

<style>
.form-title {
  font-size: 1.8em;
  color: #2a3042;
}
.form-subtitle {
  color: #a4a4a4;
  font-size: 1.1em;
}

.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #0275b490 !important;
  color: #fff !important;
}
.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}
</style>
