<template>
  <section class="my-5">
    <v-container>
      <v-row>
        <v-col class="pa-0">
          <p><strong>Trámites/</strong>Exclusión o retención bancaria</p>
        </v-col>
      </v-row>
      <v-row>
        <v-card color="white" width="100%" class="pa-10">
          <h2 class="font-weight-bold form-title mb-4">
            Exclusión o retención bancaria
          </h2>
          <p class="font-lato form-subtitle font-weight-light mb-8">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni
            recusandae deserunt, necessitatibus nesciunt fuga assumenda fugit
            dolor. Distinctio, quia libero fuga nesciunt id velit voluptas
            quisquam. Esse autem molestiae tempore.
          </p>
          <v-form v-model="form.valid" @submit.prevent="submitForm">
            <v-container>
              <v-row>
                <v-col cols="12" class="px-0 pb-1">
                  <h2 class="pa-0 font-poppins font-weight-bold d-blocks">
                    Contribuyente (persona física)
                  </h2>
                </v-col>
                <v-col cols="12" class="px-0 pt-0">
                  <v-divider></v-divider>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pr-sm-4">
                  <p class="mb-2 font-weight-bold">CUIT del contribuyente</p>
                  <v-text-field
                    v-model="form.fields.N_CUIT"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                  ></v-text-field>
                </v-col>
                <v-spacer></v-spacer>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pr-sm-4">
                  <p class="mb-2 font-weight-bold">Nombres y Apellidos</p>
                  <v-text-field
                    v-model="form.fields.DENOMINACION"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pl-sm-4">
                  <p class="mb-2 font-weight-bold">
                    Correo electrónico del contribuyente
                  </p>
                  <v-text-field
                    v-model="form.fields.EMAIL"
                    outlined
                    :rules="[form.rules.required, form.rules.email]"
                    class="align-end"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pr-sm-4">
                  <p class="mb-2 font-weight-bold">Tipo de Documento</p>
                  <v-select
                    v-model="form.fields.C_TIPO_DOCUMENTO"
                    placeholder="Selecciona un tipo de Documento"
                    :items="form.tipo_documento_options"
                    item-text="label"
                    item-value="id"
                    outlined
                    class="align-end"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pl-sm-4">
                  <p class="mb-2 font-weight-bold">Número de documento</p>
                  <v-text-field
                    v-model="form.fields.N_DOCUMENTO"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" class="px-0 pb-1">
                  <h2 class="pa-0 font-poppins font-weight-bold d-blocks">
                    Domicilio
                  </h2>
                </v-col>
                <v-col cols="12" class="px-0 pt-0">
                  <v-divider></v-divider>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pr-sm-4">
                  <p class="mb-2 font-weight-bold">Provincia</p>
                  <v-select
                    v-model="form.fields.DOM_C_PROVINCIA"
                    placeholder="Selecciona una Provincia"
                    :items="form.provinces_options"
                    item-text="descripcion"
                    item-value="codigo"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                    @change="getDepartmentsByProvince"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pl-sm-4">
                  <p class="mb-2 font-weight-bold">Departamento</p>
                  <v-select
                    v-model="form.fields.DOM_C_DEPARTAMENTO"
                    placeholder="Selecciona un Departamento"
                    :items="form.departments_options"
                    item-text="departamento"
                    item-value="codigo"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                    @change="getLocalitiesByDepartment"
                  ></v-select>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pr-sm-4">
                  <p class="mb-2 font-weight-bold">Localidad</p>
                  <v-select
                    v-model="form.fields.DOM_C_LOCALIDAD"
                    placeholder="Selecciona una Localidad"
                    :items="form.localities_options"
                    item-text="localidad"
                    item-value="codigo"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                    @change="getZipCode"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pl-sm-4">
                  <p class="mb-2 font-weight-bold">Código Postal*</p>
                  <v-text-field
                    v-model="form.fields.DOM_C_POSTAL"
                    disabled
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="9" class="d-flex flex-column pa-0 pr-sm-4">
                  <p class="mb-2 font-weight-bold">Calle del domicilio*</p>
                  <v-text-field
                    v-model="form.fields.DOM_CALLE"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="3" class="d-flex flex-column pa-0 pl-sm-4">
                  <p class="mb-2 font-weight-bold">Altura de la calle</p>
                  <v-text-field
                    v-model="form.fields.DOM_NRO"
                    outlined
                    :rules="[form.rules.required]"
                    class="align-end"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col cols="12" sm="6" class="d-flex flex-column pa-0 pr-sm-4">
                  <p class="mb-0 font-weight-bold">
                    Confirmo mi correo electrónico (domicilio fiscal):
                  </p>

                  <v-radio-group
                    v-model="form.fields.CONFORMA_DFE"
                    row
                    :rules="[form.rules.required]"
                  >
                    <v-radio label="Sí" value="S"></v-radio>
                    <v-radio label="No" value="N"></v-radio>
                  </v-radio-group>
                </v-col>
              </v-row>
              <v-row justify="center">
                <v-btn
                  type="submit"
                  :disabled="!form.valid"
                  width="160px"
                  height="32px"
                  small
                  color="#0275B4"
                  class="white--text mr-sm-4 text-none"
                  >Enviar</v-btn
                >
                <v-btn
                  width="160px"
                  height="32px"
                  small
                  color="#0275B4"
                  outlined
                  class="ml-sm-4 mr-sm-4 text-none"
                  >Guardar borrador</v-btn
                ><v-btn
                  width="160px"
                  height="32px"
                  small
                  color="#0275B4"
                  outlined
                  class="ml-sm-4 text-none"
                  to="/procedures"
                  >Cancelar</v-btn
                >
              </v-row>
            </v-container>
          </v-form>
        </v-card>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import axios from 'axios'
import {
  getProvinces,
  getDepartmentsByProvince,
  getLocalitiesByDepartment,
} from '../../services/Catalogs'

export default {
  middleware: ['completedata'],
  data() {
    return {
      form: {
        valid: false,
        fields: {
          N_CUIT: '',
          DENOMINACION: '',
          C_TIPO_DOCUMENTO: '',
          N_DOCUMENTO: '',
          DOM_C_PROVINCIA: '',
          DOM_C_DEPARTAMENTO: '',
          DOM_C_LOCALIDAD: '',
          DOM_C_POSTAL: '',
          DOM_CALLE: '',
          DOM_NRO: '',
          EMAIL: '',
          CONFORMA_DFE: '',
          BLOCKCHAIN: '',
        },
        rules: {
          required: (value) => !!value || value === 0 || 'Campo requerido.',
          counter: (value) => value.length <= 20 || 'Max 20 characters',
          email: (value) => {
            const pattern =
              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'E-mail inválido.'
          },
        },
        tipo_documento_options: [
          { id: 0, label: 'CUIT' },
          { id: 1, label: 'CEDULA DE IDENTIDAD DE PCIA BS.AS.' },
          { id: 2, label: 'CEDULA DE IDENTIDAD DE POLICIA FEDERAL' },
          { id: 3, label: 'LIBRETA DE ENROLAMIENTO' },
          { id: 4, label: 'LIBRETA CIVICA' },
          { id: 5, label: 'PASAPORTE' },
          { id: 6, label: 'D.N.I.' },
          { id: 7, label: 'NUMERO DE INSCRIPCION D.N.R.P' },
          { id: 8, label: 'CEDULA DE IDENTIDAD' },
          { id: 9, label: 'REGISTRO NOTARIAL' },
          { id: 10, label: 'MATRICULA' },
          { id: 11, label: 'PASAPORTE EXTRANJERO' },
          { id: 12, label: 'NO DECLARA' },
          { id: 13, label: 'CUIT/CUIL/CDI' },
          { id: 98, label: 'D.N.I. Duplicado' },
          { id: 99, label: 'OTROS' },
        ],
        provinces_options: [],
        localities_options: [],
        departments_options: [],
      },
    }
  },
  mounted() {
    // this.getContribuyente()
    this.getProvinces()
  },
  methods: {
    async getProvinces() {
      const provinces = await getProvinces(this.$fire)
      const data = provinces.docs.map((doc) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.provinces_options = data
    },

    async getDepartmentsByProvince() {
      const departments = await getDepartmentsByProvince(
        this.$fire,
        this.form.fields.DOM_C_PROVINCIA
      )
      const data = departments.docs.map((doc) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.departments_options = data
    },

    async getLocalitiesByDepartment() {
      const localities = await getLocalitiesByDepartment(
        this.$fire,
        this.form.fields.DOM_C_DEPARTAMENTO
      )
      const data = localities.docs.map((doc) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.localities_options = data
    },

    getZipCode() {
      const zipCode = this.form.localities_options.filter(
        (localitie) => localitie.codigo === this.form.fields.DOM_C_LOCALIDAD
      )
      this.form.fields.DOM_C_POSTAL = zipCode[0].codigo_postal
    },

    submitForm() {
      const headers = {
        'X-Api-Key': 'bl1ndgu4rd14nHM',
      }
      axios.post(
        'https://wssandbox.atm.misiones.gob.ar/api/cidi-alta-contribuyente',
        this.form.fields,
        { headers }
      )
      // .then((res) => {})
      // .catch((error) => {})
    },
    getContribuyente() {
      const idToken = 'bl1ndgu4rd14nHM'
      // const headers = {
      //   Accept: 'application/json',
      //   'Content-Type': 'application/x-www-form-urlencoded',
      //   'X-Api-Key': idToken,
      //   'Access-Control-Allow-Origin': '*',
      // }
      axios({
        method: 'get',
        url: 'https://wssandbox.atm.misiones.gob.ar/api/cidi-consulta-contribuyente',
        headers: {
          Accept: 'application/json',
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-Api-Key': idToken,
          'Access-Control-Allow-Origin': '*',
        },
        data: {
          n_cuit: 27339186699,
        },
      })

      // axios
      //   .get(
      //     'https://wssandbox.atm.misiones.gob.ar/api/cidi-consulta-contribuyente',
      //     { data: { n_cuit: 27339186699 } },
      //     { headers }
      //   )
      //   .then((res) => {
      //     console.log(res)
      //   })
      //   .catch((error) => {
      //     console.log(error)
      //   })
    },
  },
}
</script>

<style>
.form-title {
  font-size: 1.8em;
  color: #2a3042;
}
.form-subtitle {
  color: #a4a4a4;
  font-size: 1.1em;
}

.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #0275b490 !important;
  color: #fff !important;
}
.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}
</style>
