<template>
  <section>
    <v-container
      fluid
      :style="`background-image: url('https://firebasestorage.googleapis.com/v0/b/misiones-id.appspot.com/o/brand%2Fimages%2Fhero_bg_image?alt=media&token=4a71b4fa-7da5-4abd-b327-526564ab3e83'); background-size: cover`"
      class="pt-15"
    >
      <v-row justify="center" align="center" dense>
        <v-col cols="10">
          <!-- Hero: Edición de Título -->
          <v-row fill-height fluid justify="center">
            <v-col cols="6">
              <v-row justify="end" align="center">
                <v-col class="pb-0">
                  <v-img
                    absolute
                    max-height="400"
                    max-width="400"
                    contain
                    src="https://firebasestorage.googleapis.com/v0/b/misiones-id.appspot.com/o/brand%2Fprocedures-landing.png?alt=media&token=e26bffd3-905f-4859-910e-57f886404922"
                  ></v-img>
                </v-col>
              </v-row>
            </v-col>
            <v-col
              md="5"
              cols="12"
              class="
                d-flex
                align-content-center
                flex-wrap
                order-first order-md-last
                pb-0
              "
            >
              <h2 class="font-weight-bold white--text font-poppins hero-title">
                Inscripción en Punto Digital
              </h2>
              <!-- Hero: Edición de Subtitulo-->
              <v-col cols="12" class="pl-0 pb-0">
                <h3
                  class="
                    hero-subtitle
                    font-poppins font-weight-regular
                    white--text
                    my-5
                  "
                >
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea
                  vel quas nisi ullam sunt dolor unde id nostrum animi corporis
                  at facere, aliquid assumenda vero, accusantium esse autem
                  laborum vitae?
                </h3>
              </v-col>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
    <v-container class="my-14">
      <v-row justify="center">
        <v-col cols="11" sm="12">
          <h2
            class="
              pl-5
              procedures-title
              font-montserrat font-weight-bold
              section-title
              mb-1
            "
          >
            Lista de trámites
          </h2>
        </v-col>
      </v-row>
      <v-row justify="center">
        <template v-for="procedure in activeProcedures">
          <v-col
            :key="procedure.id"
            :class="{ 'mt-4': $vuetify.breakpoint.smAndDown }"
            cols="11"
            xl="4"
            sm="8"
            md="6"
            lg="5"
          >
            <ProcedureCard
              :id="procedure.id"
              :title="procedure.title"
              :link="procedure.id"
              :short-description="procedure.short_description"
              :icon="procedure.icon"
            ></ProcedureCard>
          </v-col>
        </template>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'

import ProcedureCard from '../../components/Procedures/ProcedureCard.vue'

export default {
  components: {
    ProcedureCard,
  },
  middleware: ['completedata'],
  props: {},
  data() {
    return {
      procedures: [],
      isEditing: false,
      loading: false,
      editTitle: false,
      editSubtitle: false,
      editSecondSubtitle: false,

      urlEndpoints: process.env.OSCITY_ENDPOINTS_URL,
      isDervinsa: process.env.FIREBASE_PROJECT_ID === 'dervinsa-6a138',
      isLoading: false,
      error: {
        hero_bg_image: false,
      },
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
      editedTexts: 'landingtext/landingtext',
      activeProcedures: 'procedures/getActiveProcedures',
    }),
  },
  async mounted() {},

  methods: {},
}
</script>

<style scoped>
.hero-title {
  font-size: 3.4375rem;
  line-height: 1;
}

.hero-subtitle {
  font-size: 1.3rem;
}

.hero-second-subtitle {
  font-size: 1.4rem;
}

.hero-button {
  font-weight: 600;
  font-size: 0.875rem;
}

.procedures-title {
  letter-spacing: 0px;
}

@media only screen and (max-width: 400px) {
  .hero-title {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .hero-title {
    font-size: 11vw;
  }
}
</style>
