<template>
  <section class="d-md-flex" style="height: 100%">
    <ProcedureSidebar
      v-show="$vuetify.breakpoint.mdAndUp"
      title="Certificado de inscripción a ingresos brutos directos"
      procedure="inscripcion-ingresos-brutos-directos"
    />
    <ProcedureHeadbar
      v-show="$vuetify.breakpoint.mdAndDown"
      class="d-md-none"
      title="Certificado de inscripción a ingresos brutos directos"
      procedure="inscripcion-ingresos-brutos-directos"
    />
    <v-container fluid>
      <v-row>
        <v-col
          v-if="loading"
          cols="10"
          class="offset-1 height-full text-center"
        >
          <v-row
            v-load="loading"
            load-background="white"
            load-type="folding-cube"
            class="mt-15"
          ></v-row>
        </v-col>
      </v-row>
      <template v-if="!loading">
        <v-row>
          <v-col>
            <p class="mb-0">
              <strong>Trámites/</strong>Certificado de inscripción a ingresos
              brutos directos
            </p>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-card color="white" width="100%" min-height="420px">
              <v-col>
                <v-form
                  ref="form"
                  v-model="form.validForm"
                  @submit.prevent="submitForm"
                >
                  <v-container>
                    <v-row>
                      <v-col>
                        <h2 class="font-weight-bold form-title">
                          Certificado de inscripción a ingresos brutos directos
                        </h2>
                        <p
                          class="
                            font-lato
                            form-subtitle
                            font-weight-light
                            mb-8
                            d-none
                          "
                        ></p>
                      </v-col>
                    </v-row>
                    <template v-if="existIdentityCert">
                      <v-row>
                        <v-col cols="12" class="pb-1">
                          <h2 class="pa-0 font-poppins font-weight-bold">
                            Contribuyente (persona física)
                          </h2>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            CUIT del contribuyente *
                          </p>
                          <v-text-field
                            v-model="form.fields.n_cuit"
                            outlined
                            disabled
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-spacer></v-spacer>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Nombres y apellidos *
                          </p>
                          <v-text-field
                            v-model="form.fields.denominacion"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-spacer></v-spacer>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Correo electrónico del contribuyente *
                          </p>
                          <v-text-field
                            v-model="form.fields.email"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Número de teléfono *
                          </p>
                          <client-only>
                            <vue-tel-input
                              v-model="form.fields.telefono"
                              outlined
                              name="userPhone"
                              :placeholder="$t('phonenumber')"
                              :valid-characters-only="true"
                              :rules="[form.rules.required]"
                              class="phone-input"
                              mode="international"
                              @validate="phoneIsValid"
                            ></vue-tel-input>
                          </client-only>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Nacionalidad *</p>
                          <v-select
                            v-model="form.fields.c_nacionalidad"
                            placeholder="Selecciona una Nacionalidad"
                            :items="form.nacionalities_options"
                            item-text="descripcion"
                            item-value="code_nacionalidad"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Estado civil *</p>
                          <v-select
                            v-model="form.fields.c_estado_civil"
                            placeholder="Selecciona un Estado Civil"
                            :items="form.civilStatus_options"
                            item-text="descripcion"
                            item-value="code_estado_civil"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Fecha de nacimiento *
                          </p>
                          <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            transition="scale-transition"
                            offset-y
                            min-width="auto"
                          >
                            <template #activator="{ on, attrs }">
                              <v-text-field
                                v-model="form.fields.f_nacimiento"
                                label="Selecciona fecha de nacimiento"
                                prepend-icon="mdi-calendar"
                                readonly
                                v-bind="attrs"
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="form.fields.f_nacimiento"
                              :active-picker.sync="activePicker"
                              :max="
                                new Date(
                                  Date.now() -
                                    new Date().getTimezoneOffset() * 60000
                                )
                                  .toISOString()
                                  .substr(0, 10)
                              "
                              min="1900-01-01"
                              @change="$refs.menu.save(date)"
                            ></v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Sexo *</p>
                          <v-select
                            v-model="form.fields.c_sexo"
                            placeholder="Selecciona un sexo"
                            :items="form.sex_options"
                            item-text="sexo"
                            item-value="code_sexo"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Situación IVA *</p>
                          <v-select
                            v-model="form.fields.c_situacion_iva"
                            placeholder="Selecciona una situación IVA"
                            :items="form.ivaSituation_options"
                            item-text="descripcion"
                            item-value="code_situacion_iva"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Tipo de exento (Unicamente si tu Situación IVA es es
                            exento)
                          </p>
                          <v-select
                            v-model="form.fields.tipo_exento"
                            placeholder="Selecciona un tipo de exento"
                            :items="form.exemptTypes_options"
                            item-text="descripcion"
                            item-value="code_tipo_exento"
                            outlined
                            :disabled="form.fields.c_situacion_iva !== 'E'"
                            class="align-end"
                          ></v-select>
                        </v-col>
                      </v-row>
                      <!-- Domicilio Fiscal -->
                      <v-row>
                        <v-col cols="12" class="pb-1">
                          <h2 class="pa-0 font-poppins font-weight-bold">
                            Domicilio Fiscal
                          </h2>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Provincia *</p>
                          <v-select
                            v-model="domicilio_fiscal.dom_c_provincia"
                            placeholder="Misiones"
                            item-text="provincia"
                            return-object
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                            disabled
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Departamento *</p>
                          <v-select
                            v-model="domicilio_fiscal.dom_c_departamento"
                            placeholder="Selecciona un departamento"
                            :items="departments_misiones"
                            item-text="departamento"
                            return-object
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                            @change="
                              getLocalitiesByDepartmentMisionesOnly(
                                domicilio_fiscal.dom_c_departamento
                              )
                            "
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Localidad *</p>
                          <v-select
                            v-model="domicilio_fiscal.dom_c_localidad"
                            placeholder="Selecciona una localidad"
                            :items="localities_misiones"
                            item-text="localidad"
                            return-object
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                            @change="getZipCodeMisiones(domicilio_fiscal)"
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Código postal *</p>
                          <v-text-field
                            v-model="domicilio_fiscal.dom_c_postal"
                            disabled
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="9"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Calle del domicilio *
                          </p>
                          <v-text-field
                            v-model="domicilio_fiscal.dom_calle"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="3"
                          class="d-flex flex-column py-0 pl-sm-2"
                        >
                          <p class="mb-2 font-weight-bold">
                            Altura de la calle *
                          </p>
                          <v-text-field
                            v-model="domicilio_fiscal.dom_nro"
                            outlined
                            type="number"
                            required
                            :rules="rulesNumber"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <!-- Domicilio Act Principal -->
                      <v-row>
                        <v-col cols="12" class="pb-1">
                          <h2 class="pa-0 font-poppins font-weight-bold">
                            Domicilio Actividad Principal
                          </h2>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Provincia *</p>
                          <v-select
                            v-model="
                              domicilio_actividad_principal.dom_c_provincia
                            "
                            placeholder="Misiones"
                            item-text="provincia"
                            return-object
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                            disabled
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Departamento *</p>
                          <v-select
                            v-model="
                              domicilio_actividad_principal.dom_c_departamento
                            "
                            placeholder="Selecciona un departamento"
                            :items="departments_misiones"
                            item-text="departamento"
                            return-object
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                            @change="
                              getLocalitiesByDepartmentMisionesOnly(
                                domicilio_actividad_principal.dom_c_departamento
                              )
                            "
                          ></v-select>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Localidad *</p>
                          <v-select
                            v-model="
                              domicilio_actividad_principal.dom_c_localidad
                            "
                            placeholder="Selecciona una localidad"
                            :items="localities_misiones"
                            item-text="localidad"
                            return-object
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                            @change="
                              getZipCodeMisiones(domicilio_actividad_principal)
                            "
                          ></v-select>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="6"
                          class="d-flex flex-column py-0 pl-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">Código postal *</p>
                          <v-text-field
                            v-model="domicilio_actividad_principal.dom_c_postal"
                            disabled
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col
                          cols="12"
                          sm="9"
                          class="d-flex flex-column py-0 pr-sm-4"
                        >
                          <p class="mb-2 font-weight-bold">
                            Calle del domicilio *
                          </p>
                          <v-text-field
                            v-model="domicilio_actividad_principal.dom_calle"
                            outlined
                            :rules="[form.rules.required]"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                        <v-col
                          cols="12"
                          sm="3"
                          class="d-flex flex-column py-0 pl-sm-2"
                        >
                          <p class="mb-2 font-weight-bold">
                            Altura de la calle *
                          </p>
                          <v-text-field
                            v-model="domicilio_actividad_principal.dom_nro"
                            outlined
                            type="number"
                            required
                            :rules="rulesNumber"
                            class="align-end"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <!-- Cierre Act principal -->
                      <v-row>
                        <v-col cols="6" class="pb-1">
                          <h2
                            class="pa-0 font-poppins font-weight-bold d-blocks"
                          >
                            Domicilios adicionales (Opcional)
                          </h2>
                        </v-col>
                        <v-col class="pb-sm-1 text-center text-sm-right">
                          <v-dialog
                            v-model="addressDialog"
                            scrollable
                            persistent
                            max-width="700"
                          >
                            <template #activator="{ on, attrs }">
                              <AddButton
                                text="Agregar domicilio"
                                icon="mdi-view-grid-plus"
                                v-bind="attrs"
                                @click.prevent="addressDialog = true"
                                v-on="on"
                              ></AddButton>
                            </template>
                            <template #default>
                              <v-card v-if="loadingEdit" color="primary" dark>
                                <v-card-text>
                                  Cargando...
                                  <br />
                                  <v-progress-linear
                                    indeterminate
                                    color="white"
                                    class="mb-0"
                                  ></v-progress-linear>
                                </v-card-text>
                              </v-card>
                              <v-form
                                v-else
                                ref="addressForm"
                                v-model="form.validAddressForm"
                                lazy-validation
                                @submit.prevent="submitDirection"
                              >
                                <v-card>
                                  <v-toolbar dark text color="primary">
                                    <v-toolbar-title>
                                      {{
                                        editedIndex === null
                                          ? 'Agrega un nuevo'
                                          : 'Edita el'
                                      }}
                                      domicilio llenando el siguiente formulario
                                    </v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      icon
                                      dark
                                      @click="
                                        addressDialog = false
                                        cleanDepAndLoc()
                                      "
                                    >
                                      <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                  </v-toolbar>
                                  <v-divider></v-divider>
                                  <v-card-text class="mt-3">
                                    <v-row>
                                      <v-col
                                        cols="12"
                                        sm="6"
                                        class="d-flex flex-column py-0 pr-sm-4"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Tipo de domicilio
                                        </p>
                                        <v-select
                                          v-model="
                                            form.domicilioData.c_tipo_domicilio
                                          "
                                          placeholder="Selecciona un tipo de domicilio"
                                          :items="form.addressTypes_options"
                                          item-text="descripcion"
                                          return-object
                                          outlined
                                          :rules="[form.rules.required]"
                                          class="align-end"
                                        ></v-select>
                                      </v-col>
                                      <v-spacer></v-spacer>
                                    </v-row>
                                    <v-row>
                                      <v-col
                                        cols="12"
                                        sm="6"
                                        class="d-flex flex-column py-0 pr-sm-2"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Provincia
                                        </p>
                                        <v-select
                                          v-model="
                                            form.domicilioData.dom_c_provincia
                                          "
                                          placeholder="Selecciona una provincia"
                                          :items="form.provinces_options"
                                          item-text="provincia"
                                          return-object
                                          outlined
                                          :rules="[form.rules.required]"
                                          class="align-end"
                                          @change="getDepartmentsByProvince"
                                        ></v-select>
                                      </v-col>
                                      <v-col
                                        cols="12"
                                        sm="6"
                                        class="d-flex flex-column py-0 pl-sm-2"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Departamento
                                        </p>
                                        <v-select
                                          v-model="
                                            form.domicilioData
                                              .dom_c_departamento
                                          "
                                          placeholder="Selecciona un departamento"
                                          :items="form.departments_options"
                                          item-text="departamento"
                                          return-object
                                          outlined
                                          :rules="[form.rules.required]"
                                          class="align-end"
                                          @change="getLocalitiesByDepartment"
                                        ></v-select>
                                      </v-col>
                                    </v-row>
                                    <v-row>
                                      <v-col
                                        cols="12"
                                        sm="6"
                                        class="d-flex flex-column py-0 pr-sm-2"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Localidad
                                        </p>
                                        <v-select
                                          v-model="
                                            form.domicilioData.dom_c_localidad
                                          "
                                          placeholder="Selecciona una localidad"
                                          :items="form.localities_options"
                                          item-text="localidad"
                                          return-object
                                          outlined
                                          :rules="[form.rules.required]"
                                          class="align-end"
                                          @change="getZipCode"
                                        ></v-select>
                                      </v-col>
                                      <v-col
                                        cols="12"
                                        sm="6"
                                        class="d-flex flex-column py-0 pl-sm-2"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Código postal*
                                        </p>
                                        <v-text-field
                                          v-model="
                                            form.domicilioData.dom_c_postal
                                          "
                                          disabled
                                          outlined
                                          :rules="[form.rules.required]"
                                          class="align-end"
                                        ></v-text-field>
                                      </v-col>
                                    </v-row>
                                    <v-row>
                                      <v-col
                                        cols="12"
                                        sm="9"
                                        class="d-flex flex-column py-0 pr-sm-2"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Calle del domicilio*
                                        </p>
                                        <v-text-field
                                          v-model="form.domicilioData.dom_calle"
                                          outlined
                                          :rules="[form.rules.required]"
                                          class="align-end"
                                        ></v-text-field>
                                      </v-col>
                                      <v-col
                                        cols="12"
                                        sm="3"
                                        class="d-flex flex-column py-0 pl-sm-2"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Altura de la calle
                                        </p>
                                        <v-text-field
                                          v-model="form.domicilioData.dom_nro"
                                          outlined
                                          type="number"
                                          required
                                          :rules="rulesNumber"
                                          class="align-end"
                                        ></v-text-field>
                                      </v-col>
                                    </v-row>
                                  </v-card-text>
                                  <v-divider></v-divider>
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      color="red"
                                      text
                                      @click="
                                        addressDialog = false
                                        cleanDepAndLoc()
                                      "
                                    >
                                      Cancelar
                                    </v-btn>
                                    <v-btn
                                      :disabled="
                                        !form.validAddressForm ||
                                        form.isEmptyAddress
                                      "
                                      text
                                      type="submit"
                                      color="primary"
                                      @click="cleanDepAndLoc()"
                                    >
                                      Guardar
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-form>
                            </template>
                          </v-dialog>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12">
                          <v-data-table
                            :headers="adressHeaders"
                            :items="form.fields.domicilios"
                            class="elevation-1 mt-3"
                            hide-default-footer
                          >
                            <template #[`item.address`]="{ item }">
                              <td>
                                {{ item.dom_calle + ' ' + item.dom_nro }}
                              </td>
                            </template>
                            <template #[`item.actions`]="{ item, index }">
                              <td class="d-flex justify-center px-0">
                                <v-icon
                                  small
                                  class="mr-2"
                                  color="black"
                                  @click="editItem(item, index)"
                                >
                                  mdi-pencil
                                </v-icon>
                                <v-icon
                                  small
                                  color="red"
                                  @click="deleteItem(index, 'domicilios')"
                                >
                                  mdi-delete
                                </v-icon>
                              </td>
                            </template>
                          </v-data-table>
                        </v-col>
                      </v-row>
                      <v-row>
                        <v-col class="pb-1">
                          <h2 class="font-poppins font-weight-bold d-blocks">
                            Actividades
                          </h2>
                        </v-col>
                        <v-col class="pb-sm-1 text-center text-sm-right">
                          <v-dialog
                            v-model="activitiesDialog"
                            scrollable
                            persistent
                            max-width="700"
                          >
                            <template #activator="{ on, attrs }">
                              <AddButton
                                text="Agregar actividad"
                                icon="mdi-view-grid-plus"
                                v-bind="attrs"
                                @click.prevent="activitiesDialog = true"
                                v-on="on"
                              ></AddButton>
                            </template>
                            <template #default>
                              <v-form
                                ref="activityForm"
                                v-model="form.validActivityForm"
                                lazy-validation
                                @submit.prevent="submitActivity"
                              >
                                <v-card>
                                  <v-toolbar dark text color="primary">
                                    <v-toolbar-title>
                                      Agrega una nueva actividad llenando el
                                      siguiente formulario
                                    </v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      icon
                                      dark
                                      @click="activitiesDialog = false"
                                    >
                                      <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                  </v-toolbar>
                                  <v-divider></v-divider>
                                  <v-card-text class="mt-3">
                                    <v-row>
                                      <v-col
                                        cols="12"
                                        sm="10"
                                        class="d-flex flex-column py-0 pr-sm-4"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Tipo de actividad
                                        </p>
                                        <v-autocomplete
                                          v-model="form.activityData.actividad"
                                          :items="form.activities_options"
                                          :loading="form.isLoadingActivities"
                                          placeholder="Buscar una Actividad"
                                          hide-details
                                          hide-selected
                                          deletable-chips
                                          item-text="descripcion"
                                          return-object
                                          background-color="transparent"
                                          prepend-icon="mdi-clipboard-text-search"
                                          single-line
                                          :filter="filterActivities"
                                          :rules="[form.rules.required]"
                                        >
                                          <template #no-data>
                                            <v-list-item>
                                              <v-list-item-title>
                                                Tu búsqueda no tuvo ningún
                                                resultado.
                                              </v-list-item-title>
                                            </v-list-item>
                                          </template>
                                          <template
                                            #selection="{
                                              attr,
                                              on,
                                              item,
                                              selected,
                                            }"
                                          >
                                            <v-chip
                                              v-bind="attr"
                                              :input-value="selected"
                                              color="transparent"
                                              label
                                              v-on="on"
                                            >
                                              <!-- <v-icon left>
                                    {{ '$vuetify.icons.oscity_' + item.icon }}
                                  </v-icon> -->
                                              <span
                                                v-text="item.descripcion"
                                              ></span>
                                            </v-chip>
                                          </template>
                                          <template #item="{ item }">
                                            <v-list-item-content>
                                              <v-list-item-title>
                                                <p class="mb-0">
                                                  <span class="font-weight-bold"
                                                    >{{ item.c_actividad }} -
                                                  </span>
                                                  {{ item.descripcion }}
                                                </p>
                                              </v-list-item-title>
                                            </v-list-item-content>
                                          </template>
                                        </v-autocomplete>
                                      </v-col>
                                      <v-spacer></v-spacer>
                                    </v-row>
                                    <v-row>
                                      <v-col
                                        cols="12"
                                        sm="6"
                                        class="d-flex flex-column py-5"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          ¿Es principal?
                                        </p>
                                        <v-row class="pl-sm-2">
                                          <v-radio-group
                                            v-model="
                                              form.activityData.es_principal
                                            "
                                            class="pt-0"
                                          >
                                            <v-radio
                                              v-for="item in form.principalActivity_options"
                                              :key="item.code_principalActivity"
                                              hide-details
                                              :label="item.descripcion"
                                              :value="
                                                item.code_principalActivity
                                              "
                                              outlined
                                              :rules="[form.rules.required]"
                                            ></v-radio>
                                          </v-radio-group>
                                        </v-row>
                                      </v-col>
                                    </v-row>
                                    <v-row>
                                      <v-col
                                        cols="12"
                                        sm="6"
                                        class="d-flex flex-column py-0 pr-sm-4"
                                      >
                                        <p class="mb-2 font-weight-bold">
                                          Fecha de inicio de vigencia de la
                                          actividad *
                                        </p>
                                        <v-menu
                                          ref="menuInicioActividad"
                                          v-model="menuInicioActividad"
                                          :close-on-content-click="false"
                                          transition="scale-transition"
                                          offset-y
                                          min-width="auto"
                                        >
                                          <template #activator="{ on, attrs }">
                                            <v-text-field
                                              v-model="
                                                form.activityData.f_inicio
                                              "
                                              label="Selecciona la fechan desde cuando está vigente esta actividad"
                                              prepend-icon="mdi-calendar"
                                              readonly
                                              v-bind="attrs"
                                              v-on="on"
                                            ></v-text-field>
                                          </template>
                                          <v-date-picker
                                            v-model="form.activityData.f_inicio"
                                            :active-picker.sync="activePicker"
                                            :max="
                                              new Date(
                                                Date.now() -
                                                  new Date().getTimezoneOffset() *
                                                    60000
                                              )
                                                .toISOString()
                                                .substr(0, 10)
                                            "
                                            min="1900-01-01"
                                            @change="
                                              $refs.menuInicioActividad.save(
                                                date
                                              )
                                            "
                                          ></v-date-picker>
                                        </v-menu>
                                      </v-col>
                                    </v-row>
                                    <v-alert
                                      v-if="!form.isValidActivity"
                                      class="mt-3"
                                      type="warning"
                                    >
                                      Esta actividad ya ha sido seleccionada.
                                    </v-alert>
                                  </v-card-text>

                                  <v-divider></v-divider>
                                  <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                      color="red"
                                      text
                                      @click="activitiesDialog = false"
                                    >
                                      Cancelar
                                    </v-btn>
                                    <v-btn
                                      :disabled="
                                        !form.isValidActivity ||
                                        !form.validActivityForm ||
                                        !form.activityData.f_inicio ||
                                        form.isEmptyActivity
                                      "
                                      text
                                      type="submit"
                                      color="primary"
                                    >
                                      Guardar
                                    </v-btn>
                                  </v-card-actions>
                                </v-card>
                              </v-form>
                            </template>
                          </v-dialog>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12">
                          <v-data-table
                            :headers="activitiesHeaders"
                            :items="form.fields.actividades"
                            class="elevation-1 mt-3"
                            hide-default-footer
                          >
                            <template #[`item.es_principal`]="{ item }">
                              <td>
                                {{ item.es_principal === 'S' ? 'Si' : 'No' }}
                              </td>
                            </template>
                            <template #[`item.actions`]="{ index }">
                              <td class="d-flex justify-center px-0">
                                <v-icon
                                  small
                                  color="red"
                                  @click="deleteActivity(index, 'actividades')"
                                >
                                  mdi-delete
                                </v-icon>
                              </td>
                            </template>
                          </v-data-table>
                        </v-col>
                        <v-col
                          v-if="!form.validonePrimaryActivity"
                          cols="12"
                          class="red--text pt-0"
                          >No has seleccionado al menos una actividad
                          principal</v-col
                        >
                      </v-row>
                      <v-row>
                        <v-col class="pb-1">
                          <h2 class="font-poppins font-weight-bold d-blocks">
                            Comprobante de domicilio
                          </h2>
                        </v-col>
                        <v-col cols="12" class="pt-0">
                          <v-divider></v-divider>
                        </v-col>
                        <v-col cols="12">
                          <client-only>
                            <ImageFilePond
                              ref="filepond"
                              :accepted-file-types="'image/jpeg,image/png,application/pdf'"
                              :name-file="`${user.uid}_iibb_comprobante_domicilio.${fileExtension}`"
                              :folder="'documents'"
                              :label-idle="$t('uploadfile')"
                              :disabled="loading"
                              @total="iibDoc = $event"
                              @change="changefiles($event)"
                            />
                          </client-only>
                        </v-col>
                      </v-row>
                      <v-row justify="center">
                        <SubmitButton
                          :disabled="
                            !form.validForm ||
                            !form.validonePrimaryActivity ||
                            form.fields.actividades.length === 0 ||
                            iibDoc.length === 0
                          "
                          :loading="loadingBasic"
                        ></SubmitButton>
                        <CancelButton></CancelButton>
                      </v-row>
                    </template>
                    <template v-else>
                      <v-divider></v-divider>
                      <v-row wrap align="center" justify="center">
                        <v-col
                          cols="12"
                          lg="6"
                          md="6"
                          sm="6"
                          justify="center"
                          align="center"
                        >
                          <h1 class="font-weight-light mb-3 mt-15">
                            Para obtener tu certificado de Ingresos Brutos es
                            necesario que primero generes tu
                            <span class="font-weight-bold"
                              >Certificado de Clave Fiscal.</span
                            >
                          </h1>
                          <h1 class="font-weight-light">
                            Para generarlo por favor ingresa a este
                            <span class="font-weight-bold"
                              ><nuxt-link to="/procedures/clave-fiscal"
                                >link</nuxt-link
                              ></span
                            >
                          </h1>
                        </v-col>
                        <v-col
                          cols="12"
                          lg="6"
                          md="6"
                          sm="6"
                          justify="center"
                          align="center"
                        >
                          <v-img
                            max-width="400"
                            :width="width"
                            max-height="364"
                            :height="height"
                            :src="$store.getters['brand/getValidateLevelImage']"
                          ></v-img>
                        </v-col>
                      </v-row>
                    </template>
                  </v-container>
                </v-form>
              </v-col>
            </v-card>
          </v-col>
        </v-row>
      </template>
      <FormFill
        :form-id="'I2Nt82dfbirhlh844hen'"
        :user-id="$store.state.users.user.dni"
      />
    </v-container>
  </section>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'
import swal from 'sweetalert'
import * as Papa from 'papaparse'
import moment from 'moment'
import { mapGetters } from 'vuex'
import _ from 'lodash'
import {
  getProvinces,
  getNationalities,
  getActivities,
  getDepartmentsByProvince,
  getLocalitiesByDepartment,
  getExemptTypes,
  getCivilStatus,
  getAdressTypes,
  getIvaSituation,
  getActivityDescription,
} from '../../services/Catalogs'
import {
  setIibbCertificate,
  updateCertificateIibb,
} from '@/services/Certificates'
import ProcedureHeadbar from '@/components/Procedures/ProcedureHeadbar.vue'
import ProcedureSidebar from '@/components/Procedures/ProcedureSidebar.vue'
import SubmitButton from '@/components/Procedures/Form/SubmitButton.vue'
import CancelButton from '@/components/Procedures/Form/CancelButton.vue'
import AddButton from '@/components/Procedures/Form/AddButton.vue'
import ImageFilePond from '@/components/public/ImageFilePond.vue'
import { saveFile } from '~/services/Firebase'

declare module 'vue/types/vue' {
  interface Vue {
    $sentry: any
  }
}

export default Vue.extend({
  name: 'IIBB',
  components: {
    ProcedureHeadbar,
    ProcedureSidebar,
    SubmitButton,
    CancelButton,
    AddButton,
    ImageFilePond,
  },
  middleware: ['completedata'],
  data() {
    return {
      loadingEdit: false,
      data: {} as any,
      editedItem: null,
      editedIndex: null,
      valid: true,
      addressDialog: false,
      activitiesDialog: false,
      activePicker: '',
      menu: false,
      menuInicioActividad: false,
      loading: false,
      loadingBasic: false,
      domicilio_fiscal: {
        c_tipo_domicilio: '1',
        dom_c_provincia: '14',
        dom_c_departamento: '',
        dom_c_localidad: '',
        dom_c_postal: '',
        dom_calle: '',
        dom_nro: '',
      } as any,
      domicilio_actividad_principal: {
        c_tipo_domicilio: '9',
        dom_c_provincia: '14',
        dom_c_departamento: '',
        dom_c_localidad: '',
        dom_c_postal: '',
        dom_calle: '',
        dom_nro: '',
      } as any,
      departments_misiones: [],
      localities_misiones: [],
      form: {
        isLoadingActivities: false,
        domicilioData: {
          c_tipo_domicilio: null,
          dom_c_provincia: null,
          dom_c_departamento: null,
          dom_c_localidad: null,
          dom_c_postal: null,
          dom_calle: null,
          dom_nro: null,
        },
        activityData: {
          actividad: {},
          es_principal: 'N',
        },
        validForm: false,
        validAddressForm: false,
        validActivityForm: false,
        validonePrimaryActivity: false,
        fields: {
          n_cuit: this.$store.state.users.user.dni,
          denominacion: `${this.$store.state.users.user.first_name} ${this.$store.state.users.user.last_name}`,
          email: this.$store.state.users.user.email,
          situacion_iva: '',
          tipo_exento: '',
          c_nacionalidad: '',
          c_estado_civil: '',
          f_nacimiento: '',
          c_sexo: '',
          domicilios: [],
          telefono: '',
          actividades: [],
        },
        rules: {
          required: (value: any) =>
            !!value || value === 0 || 'Campo requerido.',
          counter: (value: any) => value.length <= 20 || 'Max 20 characters',
          email: (value: string) => {
            const pattern =
              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'E-mail inválido.'
          },
          number: (value: number) =>
            !!value ||
            !(value < 0) ||
            typeof value !== 'number' ||
            'El campo es requerido y no puede ser menor que 0',
        },
        provinces_options: [],
        localities_options: [],
        departments_options: [],
        activities_options: [],
        isValidActivity: false,
        isEmptyActivity: false,
        nacionalities_options: [],
        exemptTypes_options: [],
        civilStatus_options: [],
        addressTypes_options: [],
        isEmptyAddress: false,
        ivaSituation_options: [],
        principalActivity_options: [
          { code_principalActivity: 'S', descripcion: 'Sí' },
          { code_principalActivity: 'N', descripcion: 'No' },
        ],
        sex_options: [
          { code_sexo: 'M', sexo: 'Masculino' },
          { code_sexo: 'F', sexo: 'Femenino' },
        ],
      } as any,
      rulesNumber: [
        (v: any) => !!v || 'El campo es requerido',
        (v: any) => !(v < 0) || 'El numero no puede ser menor que 0',
        (v: any) => typeof v !== 'number' || 'El campo debe ser numero',
      ],
      activitiesHeaders: [
        {
          text: 'Tipo de actividad',
          value: 'actividad.descripcion',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Vigencia desde',
          value: 'actividad.f_vig_desde',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Es principal',
          value: 'es_principal',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Acciones',
          value: 'actions',
          align: 'center',
          sortable: false,
        },
      ],
      adressHeaders: [
        {
          text: 'Tipo de domicilio',
          value: 'c_tipo_domicilio.descripcion',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Provincia',
          value: 'dom_c_provincia.provincia',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Departamento',
          value: 'dom_c_departamento.departamento',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Localidad',
          value: 'dom_c_localidad.localidad',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Código postal',
          value: 'dom_c_postal',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Dirección',
          value: 'address',
          align: 'left',
          sortable: true,
        },
        {
          text: 'Acciones',
          value: 'actions',
          align: 'center',
          sortable: false,
        },
      ],
      existIdentityCert: true,
      iibDoc: [],
      fileUrl: '',
      fileName: '',
      phoneValidation: false,
      fileExtension: '',
      existFile: false,
    }
  },
  computed: {
    ...mapGetters({
      user: 'users/user',
      certsConfig: 'certsConfig/certsConfig',
    }),
    dni(): number {
      return this.$store.state.users.user.dni.slice(2, -1)
    },
    height(): number {
      switch (this.$vuetify.breakpoint.name) {
        case 'md':
          return 200
        case 'sm':
          return 200
        default:
          return 400
      }
    },
    width(): number {
      switch (this.$vuetify.breakpoint.name) {
        case 'md':
          return 250
        case 'sm':
          return 250
        default:
          return 416
      }
    },
    fiscal_departamento(): string {
      return (
        this.domicilio_fiscal.dom_c_departamento.departamento.charAt(0) +
        this.domicilio_fiscal.dom_c_departamento.departamento
          .slice(1)
          .toLowerCase()
      )
    },
    fiscal_localidad(): string {
      return (
        this.domicilio_fiscal.dom_c_localidad.localidad.charAt(0) +
        this.domicilio_fiscal.dom_c_localidad.localidad.slice(1).toLowerCase()
      )
    },
    act_principal_departamento(): string {
      return (
        this.domicilio_actividad_principal.dom_c_departamento.departamento.charAt(
          0
        ) +
        this.domicilio_actividad_principal.dom_c_departamento.departamento
          .slice(1)
          .toLowerCase()
      )
    },
    act_principal_localidad(): string {
      return (
        this.domicilio_actividad_principal.dom_c_localidad.localidad.charAt(0) +
        this.domicilio_actividad_principal.dom_c_localidad.localidad
          .slice(1)
          .toLowerCase()
      )
    },
  },
  watch: {
    menu(val: any): any {
      val && setTimeout(() => (this.activePicker = 'YEAR'))
    },
    menuInicioActividad(val: any): any {
      val && setTimeout(() => (this.activePicker = 'YEAR'))
    },
    form: {
      deep: true,
      handler() {
        this.validateActivity()
        this.validateAddress()
        this.validatePrimaryActivity()
      },
    },
    addressDialog(val: any): any {
      if (!val) {
        this.editedItem = null
        this.editedIndex = null
        ;(
          this.$refs.addressForm as Vue & {
            reset: () => any
          }
        ).reset()
      }
    },
    activitiesDialog(val: any): any {
      if (!val) {
        ;(
          this.$refs.activityForm as Vue & {
            reset: () => any
          }
        ).reset()
      }
    },
  },
  mounted() {
    this.loading = true
    this.getCertificates('certificatesContributor').then((result: any) => {
      if (!result.empty) {
        this.verifyCertificate()
        this.askActividades()
        this.getProvinces()
        this.getNationalities()
        // this.getActivities()
        this.getExemptTypes()
        this.getAdressTypes()
        this.getIvaSituation()
        this.getCivilStatus()
        this.getDepartmentsByProvinceMisionesOnly()
      } else {
        this.existIdentityCert = false
      }
      this.loading = false
    })
  },
  methods: {
    phoneIsValid($event: { isValid: boolean }): any {
      this.phoneValidation = $event.isValid
    },
    getCertificates(collection: string): any {
      return this.$fire.firestore
        .collection(collection)
        .where('id_user', '==', this.user.uid)
        .get()
    },
    changefiles(files: any) {
      if (files.length > 0) {
        this.existFile = true
        this.fileExtension = files[0].fileExtension
      } else {
        this.existFile = false
      }
    },
    cleanDepAndLoc() {
      this.form.departments_options = []
      this.form.localities_options = []
    },
    openAddressDialog() {
      this.addressDialog = true
    },
    async verifyCertificate() {
      this.loading = true
      await this.$fire.firestore
        .collection('certificatesIibb')
        .where('id_user', '==', this.user.uid)
        .get()
        .then((querySnapshot: any) => {
          if (querySnapshot.size > 0) {
            this.$router.push({
              path: `/citizen/certificates/iibb/${
                querySnapshot.docs[0].data().id_reference
              }`,
            })
          } else {
            // this.loading = false
            this.askIIbbonContributor()
          }
        })
    },
    filterActivities(item: any, queryText: any) {
      const textCode = item.c_actividad.toLowerCase()
      const textDescription = item.descripcion.toLowerCase()
      const searchText = queryText.toLowerCase()

      return (
        textCode.includes(searchText) || textDescription.includes(searchText)
      )
    },
    validateActivity() {
      this.form.isValidActivity = !this.form.fields.actividades?.find(
        (activity: any) => {
          return (
            activity.actividad.c_actividad ===
            this.form.activityData.actividad?.c_actividad
          )
        }
      )
      this.form.isEmptyActivity = _.isEmpty(this.form.activityData.actividad)
    },
    validatePrimaryActivity() {
      let counter = 0
      this.form.fields.actividades.forEach((activity: any) => {
        if (activity.es_principal === 'S') {
          counter++
        }
      })
      if (counter > 0) {
        this.form.validonePrimaryActivity = true
      } else {
        this.form.validonePrimaryActivity = false
      }
    },
    validateAddress() {
      this.form.isEmptyAddress =
        _.isEmpty(this.form.domicilioData) ||
        Object.values(this.form.domicilioData).some(
          (x) => x === null || x === ''
        )
    },
    toggleEsPrincipal(item: any) {
      this.form.fields.actividades.forEach((actividad: any) => {
        if (actividad.c_actividad === item.c_actividad) {
          if (item.es_principal === 'S') {
            item.es_principal = 'N'
            actividad.es_principal = 'N'
          } else {
            item.es_principal = 'S'
            actividad.es_principal = 'S'
          }
        } else {
          actividad.es_principal = 'N'
        }
      })
    },
    async getProvinces() {
      const provinces = await getProvinces(this.$fire)
      const data = provinces.docs.map((doc: any) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.provinces_options = data.sort((a: any, b: any) =>
        a.provincia > b.provincia ? 1 : -1
      )
    },
    async getNationalities() {
      const nacionalities = await getNationalities(this.$fire)
      const data = nacionalities.docs.map((doc: any) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.nacionalities_options = data.sort((a: any, b: any) =>
        a.descripcion > b.descripcion ? 1 : -1
      )
    },
    async getActivities() {
      const activities = await getActivities(this.$fire)
      const data = activities.docs.map((doc: any) => {
        return {
          id: doc.id,
          ...doc.data(),
        }
      })
      this.form.activities_options = data.sort((a: any, b: any) =>
        a.activities > b.activities ? 1 : -1
      )
    },
    getExemptTypes() {
      const exemptTypes = getExemptTypes()
      this.form.exemptTypes_options = exemptTypes
    },
    getCivilStatus() {
      const civilStatus = getCivilStatus()
      this.form.civilStatus_options = civilStatus
    },
    async getAdressTypes() {
      let addressTypes = getAdressTypes()
      addressTypes = await addressTypes.filter((address: any) => {
        return address.code_tipo_domicilio !== '9'
      })
      this.form.addressTypes_options = addressTypes
    },
    getIvaSituation() {
      const ivaSituation = getIvaSituation()
      this.form.ivaSituation_options = ivaSituation
    },
    async getDepartmentsByProvince() {
      this.form.domicilioData.dom_c_departamento = null
      this.form.domicilioData.dom_c_localidad = null
      this.form.domicilioData.dom_c_postal = null
      this.form.localities_options = []
      const departments = await getDepartmentsByProvince(
        this.$fire,
        this.form.domicilioData.dom_c_provincia.code_provincia
      )
      const data = departments.docs.map((doc: any) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.departments_options = data.sort((a: any, b: any) =>
        a.departamento > b.departamento ? 1 : -1
      )
    },
    async getLocalitiesByDepartment() {
      this.form.domicilioData.dom_c_localidad = null
      this.form.domicilioData.dom_c_postal = null
      const localities = await getLocalitiesByDepartment(
        this.$fire,
        this.form.domicilioData?.dom_c_departamento?.code_departamento,
        this.form.domicilioData?.dom_c_provincia?.code_provincia
      )
      const data = localities.docs.map((doc: any) => {
        return { id: doc.id, ...doc.data() }
      })
      this.form.localities_options = data.sort((a: any, b: any) =>
        a.localidad > b.localidad ? 1 : -1
      )
    },
    getZipCode() {
      const zipCode = this.form.localities_options.filter((localitie: any) => {
        return (
          localitie.code_localidad ===
          this.form.domicilioData.dom_c_localidad.code_localidad
        )
      }) as any[]
      this.form.domicilioData.dom_c_postal = zipCode[0]?.zipcode
    },
    async getDepartmentsByProvinceMisionesOnly() {
      const departments = await getDepartmentsByProvince(this.$fire, '14')
      const data = departments.docs.map((doc: any) => {
        return { id: doc.id, ...doc.data() }
      })
      this.departments_misiones = data.sort((a: any, b: any) =>
        a.departamento > b.departamento ? 1 : -1
      )
    },
    async getLocalitiesByDepartmentMisionesOnly(departamento: any) {
      const localities = await getLocalitiesByDepartment(
        this.$fire,
        departamento.code_departamento,
        '14'
      )
      const data = localities.docs.map((doc: any) => {
        return { id: doc.id, ...doc.data() }
      })
      this.localities_misiones = data.sort((a: any, b: any) =>
        a.localidad > b.localidad ? 1 : -1
      )
    },
    getZipCodeMisiones(domicilio: any) {
      const zipCode = this.localities_misiones.filter(
        (localitie: any) =>
          localitie.code_localidad === domicilio.dom_c_localidad.code_localidad
      ) as any[]
      domicilio.dom_c_postal = zipCode[0].zipcode
    },
    submitDirection() {
      if (
        (
          this.$refs.addressForm as Vue & {
            validate: () => any
          }
        ).validate()
      ) {
        if (this.editedIndex === null) {
          this.form.fields.domicilios.push(this.form.domicilioData)
        } else {
          const editedIndex = this.editedIndex as any
          this.form.fields.domicilios[editedIndex] = this.form.domicilioData
          Object.assign(this.editedItem, { ...this.form.domicilioData })
          this.editedIndex = null
          this.editedItem = null
        }
        this.form.domicilioData = {
          c_tipo_domicilio: '',
          dom_c_provincia: '',
          dom_c_departamento: '',
          dom_c_localidad: '',
          dom_c_postal: '',
          dom_calle: '',
          dom_nro: '',
        }
        this.addressDialog = false
      }
    },
    submitActivity() {
      if (
        (
          this.$refs.activityForm as Vue & { validate: () => boolean }
        ).validate() &&
        this.form.isValidActivity
      ) {
        if (this.form.activityData.es_principal === 'S') {
          this.form.fields.actividades.forEach((actividad: any) => {
            actividad.es_principal = 'N'
          })
        }
        this.form.activityData.actividad.f_vig_desde = moment(
          this.form.activityData.f_inicio
        ).format('DD/MM/YYYY')
        delete this.form.activityData.f_inicio
        this.form.fields.actividades.push(this.form.activityData)
        this.form.activityData = {
          actividad: {},
          es_principal: 'N',
        }
        this.activitiesDialog = false
        this.form.validonePrimaryActivity = false
      }
    },
    deleteItem(index: number, type: any) {
      this.form.fields[type].splice(index, 1)
    },
    deleteActivity(index: number, type: any) {
      this.form.fields[type].splice(index, 1)
    },
    async editItem(item: any, index: any) {
      this.addressDialog = true
      this.loadingEdit = true
      this.editedItem = item
      this.editedIndex = index
      this.form.domicilioData.dom_c_provincia = {
        code_provincia: item.dom_c_provincia.code_provincia,
      }
      await this.getDepartmentsByProvince()
      this.form.domicilioData.dom_c_departamento = {
        code_departamento: item.dom_c_departamento.code_departamento,
      }
      await this.getLocalitiesByDepartment()
      this.form.domicilioData = { ...item }
      this.loadingEdit = false
    },
    submitForm() {
      this.setIIbbonContributor()
    },
    askActividades() {
      const self = this
      axios
        .post(
          `${process.env.OSCITY_ENDPOINTS_URL}/rentax/consulta-actividades-iibb`
        )
        .then((res: any) => {
          self.loading = true
          // let parsed = res.data.replace('\uFEFF', '')
          // parsed = JSON.parse(${parsed})
          // if (parsed.estado === 'OK') {
          self.form.activities_options = res.data.actividades
          if (res.data.estado === 'OK') {
            self.loading = false
          } else {
            swal({
              title: '¡No pudimos registrar tus datos ante Rentax!',
              // text: Esta puede ser la razón: ${parsed.msj},
              text: `Esta puede ser la razón: ${res.msj}`,
              icon: 'error',
              buttons: [false],
            })
            self.loading = false
            self.loadingBasic = false
          }
        })
        .catch(() => {
          swal({
            title: '¡No pudimos registrar tus datos ante Rentax!',
            text: `Revisa tus datos y vuelve a intentarlo`,
            icon: 'error',
            buttons: [false],
          })
          self.loading = false
          self.loadingBasic = false
        })
    },
    askIIbbonContributor() {
      this.loading = true
      axios
        .post(`${process.env.OSCITY_ENDPOINTS_URL}/rentax/consulta-iibb`, {
          cuit: this.user.dni,
        })
        .then((res: any) => {
          // this.loading = true
          // let parsed = res.data.replace('\uFEFF', '')
          // parsed = JSON.parse(${parsed})
          // if (parsed.estado === 'OK') {
          if (res.data.estado === 'OK') {
            let fechaVigencia: any = ''
            const today: any = moment().format('YYYY-MM-DD')
            if (res.data.f_vig_hasta) {
              const auxDate: any = res.data.f_vig_hasta.split('/')
              fechaVigencia = moment(
                new Date(`${auxDate[1]}/${auxDate[0]}/${auxDate[2]}`)
              ).format('YYYY-MM-DD')
            }
            if (fechaVigencia && fechaVigencia < today) {
              swal({
                title: 'Contribuyente existente pero no vigente',
                text: 'El contribuyente existe pero su registro ha vencido, por favor llená el formulario y actualizá el registro',
                icon: 'warning',
                buttons: [false],
              })
            } else {
              swal({
                title: '¡Ya registramos tus ingresos brutos!',
                text: `Registramos tus ingresos brutos en rentax y generamos tu certificado`,
                icon: 'success',
                buttons: [false],
              }).then(() => {
                this.form.fields = {
                  n_cuit: this.$store.state.users.user.dni,
                  denominacion: `${this.$store.state.users.user.first_name} ${this.$store.state.users.user.last_name}`,
                  email: this.$store.state.users.user.email,
                  c_situacion_iva: res.data.situacion_iva,
                  tipo_exento: res.data.tipo_exento,
                  c_nacionalidad: res.data.c_nacionalidad,
                  c_estado_civil: res.data.c_estado_civil,
                  f_nacimiento: res.data.f_nacimiento,
                  c_sexo: res.data.c_sexo,
                  telefono: res.data.telefono,
                }
                const auxActividades: any = []
                res.data.actividades.forEach(async (activity: any) => {
                  let description = ''
                  const activi = await getActivityDescription(
                    this.$fire,
                    activity.c_actividad
                  )
                  activi.forEach((doc: any) => {
                    description = doc.data().descripcion
                  })
                  auxActividades.push({
                    es_principal: activity.es_principal,
                    actividad: {
                      f_vig_desde: activity.f_inicio,
                      descripcion: description,
                    },
                  })
                })
                this.form.fields.actividades = auxActividades
                res.data.domicilios.forEach(async (domicilio: any) => {
                  if (domicilio.c_tipo_domicilio === '1') {
                    const department = this.departments_misiones.filter(
                      (depart: any) => {
                        return (
                          depart.code_departamento ===
                            domicilio.dom_c_departamento &&
                          depart.code_provincia === domicilio.dom_c_provincia
                        )
                      }
                    )
                    const auxDepartment: any = department[0]
                    this.domicilio_fiscal = {
                      ...domicilio,
                      dom_c_provincia: domicilio.dom_c_provincia,
                      dom_c_departamento: { ...auxDepartment },
                    }
                    await this.getLocalitiesByDepartmentMisionesOnly(
                      this.domicilio_fiscal.dom_c_departamento
                    )
                    const localities = this.localities_misiones?.filter(
                      (depart: any) => {
                        return (
                          depart.code_departamento ===
                            domicilio.dom_c_departamento &&
                          depart.code_provincia === domicilio.dom_c_provincia &&
                          depart.code_localidad === domicilio.dom_c_localidad
                        )
                      }
                    ) as any[]
                    this.domicilio_fiscal = {
                      ...domicilio,
                      dom_c_departamento: { ...auxDepartment },
                      dom_c_localidad: { ...localities[0] },
                      dom_c_postal: localities[0].zipcode,
                    }
                  } else if (domicilio.c_tipo_domicilio === '9') {
                    const department: any = this.departments_misiones.filter(
                      (depart: any) => {
                        return (
                          depart.code_departamento ===
                            domicilio.dom_c_departamento &&
                          depart.code_provincia === domicilio.dom_c_provincia
                        )
                      }
                    )
                    this.domicilio_actividad_principal = {
                      ...domicilio,
                      dom_c_provincia: domicilio.dom_c_provincia,
                      dom_c_departamento: { ...department[0] },
                    }
                    await this.getLocalitiesByDepartmentMisionesOnly(
                      this.domicilio_actividad_principal.dom_c_departamento
                    )
                    const localities = this.localities_misiones?.filter(
                      (depart: any) => {
                        return (
                          depart.code_departamento ===
                            domicilio.dom_c_departamento &&
                          depart.code_provincia === domicilio.dom_c_provincia &&
                          depart.code_localidad === domicilio.dom_c_localidad
                        )
                      }
                    ) as any[]
                    this.domicilio_actividad_principal = {
                      ...domicilio,
                      dom_c_departamento: { ...department[0] },
                      dom_c_localidad: { ...localities[0] },
                      dom_c_postal: localities[0].zipcode,
                    }
                  } else {
                    this.form.fields.domicilios.push(domicilio)
                  }
                })
                setTimeout(async () => {
                  await this.certificateIibbData()
                  await this.$router.push({ path: '/citizen/certificates' })
                  // this.loading = false
                }, 1000)
              })
            }
          }
        })
        .catch(() => {
          this.loading = false
          this.loadingBasic = false
        })
    },
    async setIIbbonContributor() {
      const parsedAdresses = [] as any
      const parsedActivities = [] as any
      this.form.fields.domicilios.forEach((address: any) => {
        parsedAdresses.push({
          c_tipo_domicilio: address.c_tipo_domicilio.code_tipo_domicilio,
          dom_c_provincia: address.dom_c_provincia.code_provincia,
          dom_c_departamento: address.dom_c_departamento.code_departamento,
          dom_c_localidad: address.dom_c_localidad.code_localidad,
          dom_c_postal: address.dom_c_postal,
          dom_calle: address.dom_calle,
          dom_nro: address.dom_nro,
        })
      })
      parsedAdresses.push({
        ...this.domicilio_fiscal,
        dom_c_departamento:
          this.domicilio_fiscal.dom_c_departamento.code_departamento,
        dom_c_localidad: this.domicilio_fiscal.dom_c_localidad.code_localidad,
      })
      parsedAdresses.push({
        ...this.domicilio_actividad_principal,
        dom_c_departamento:
          this.domicilio_actividad_principal.dom_c_departamento
            .code_departamento,
        dom_c_localidad:
          this.domicilio_actividad_principal.dom_c_localidad.code_localidad,
      })
      this.form.fields.actividades.forEach((activity: any) => {
        parsedActivities.push({
          c_actividad: activity.actividad.c_actividad,
          f_inicio: activity.actividad.f_vig_desde,
          es_principal: activity.es_principal,
        })
      })
      await axios
        .post(`${process.env.OSCITY_ENDPOINTS_URL}/rentax/inscripcion-iibb`, {
          data: {
            situacion_iva: this.form.fields.c_situacion_iva,
            n_cuit: this.form.fields.n_cuit,
            tipo_exento:
              this.form.fields.c_situacion_iva === 'E'
                ? this.form.fields.tipo_exento
                : '',
            c_nacionalidad: this.form.fields.c_nacionalidad,
            c_estado_civil: this.form.fields.c_estado_civil,
            f_nacimiento: moment(this.form.fields.f_nacimiento).format(
              'DD/MM/YYYY'
            ),
            c_sexo: this.form.fields.c_sexo,
            telefono: this.form.fields.telefono,
            domicilios: JSON.stringify(parsedAdresses),
            actividades: JSON.stringify(parsedActivities),
          },
        })
        .then((res: any) => {
          this.loading = true
          // let parsed = res.data.replace('\uFEFF', '')
          // parsed = JSON.parse(${parsed})
          // if (parsed.estado === 'OK') {
          if (res.data.estado === 'OK') {
            this.loading = false
            this.certificateIibbData()
            swal({
              title: 'Ya registramos tus ingresos brutos en Rentax',
              text: `Hemos registrados tus datos ante rentax y generamos tu certificado`,
              icon: 'success',
              buttons: [false],
            }).then(async () => {
              await this.$router.push({ path: '/citizen/certificates' })
            })
          } else {
            swal({
              title: '¡No pudimos registrar tus datos ante Rentax!',
              // text: Esta puede ser la razón: ${parsed.msj},
              text: `Esta puede ser la razón: ${res.msj}`,
              icon: 'error',
              buttons: [false],
            })
            this.loading = false
            this.loadingBasic = false
          }
        })
        .catch((error: any) => {
          if (
            error?.response?.data?.msj ===
            'El Contribuyente ingresado ya posee una inscripción vigente en IIBB - D.'
          ) {
            swal({
              title:
                'El Contribuyente ingresado ya posee una inscripción vigente en IIBB',
              text: `Proximamente, habilitaremos la creación de tu certificado cuando llegues a este punto`,
              icon: 'warning',
              buttons: [false],
            }).then(async () => {
              await this.$router.push({ path: '/citizen/certificates' })
            })
          } else {
            swal({
              title: '¡No pudimos registrar tus datos ante Rentax!',
              text: error?.response?.data?.msj,
              icon: 'error',
              buttons: [false],
            })
          }
          this.loading = false
          this.loadingBasic = false
        })
    },
    uploadfileIibb() {
      const filepond = this.$refs.filepond as Vue & {
        getFiles: () => any
        uploadFiles: () => any
      }
      if (filepond.getFiles().length > 0) {
        filepond.uploadFiles()
      }
    },
    async certificateIibbData() {
      try {
        this.uploadfileIibb()
      } catch (error: any) {
        this.$sentry.captureException(error)
        this.$sentry.captureMessage(
          `No se pudo subir el comprobante de domicilio de ${this.user.dni}`
        )
      }
      const parsedAdresses = [] as any
      this.form.fields?.domicilios?.forEach((address: any) => {
        parsedAdresses.push(
          `${address.dom_calle} ${address.dom_nro} CP: ${
            address.dom_c_postal
          } ${
            address.dom_c_provincia.provincia
          } ${address.dom_c_departamento.departamento.charAt(
            0
          )}${address.dom_c_departamento.departamento
            .slice(1)
            .toLowerCase()}, ${address.dom_c_localidad.localidad.chartAt(
            0
          )}${address.dom_c_localidad.localidad
            .slice(1)
            .toLowerCase()}, Argentina`
        )
      })
      parsedAdresses.unshift(
        `${this.domicilio_fiscal.dom_calle} ${this.domicilio_fiscal.dom_nro} CP: ${this.domicilio_fiscal.dom_c_postal}, Misiones, ${this.fiscal_departamento}, ${this.fiscal_localidad}, Argentina`
      )
      parsedAdresses.push(
        `${this.domicilio_actividad_principal.dom_calle} ${this.domicilio_actividad_principal.dom_nro} CP: ${this.domicilio_actividad_principal.dom_c_postal}, Misiones, ${this.act_principal_departamento}, ${this.act_principal_localidad}, Argentina`
      )
      const parsedActivity = [] as any
      const parsedActivities = [] as any
      this.form.fields.actividades.forEach((activity: any) => {
        if (activity.es_principal === 'S') {
          parsedActivity.push({
            actividad: activity.actividad.descripcion,
            fecha_inicio: activity.actividad.f_vig_desde,
          })
        } else {
          parsedActivities.push({
            actividad: activity.actividad.descripcion,
            fecha_inicio: activity.actividad.f_vig_desde,
          })
        }
      })
      this.data.identity = this.certsConfig.identity
        ? this.certsConfig.identity
        : 'info@os.city'
      this.data.name = `${this.user.first_name} ${this.user.last_name}`
      this.data.pubkey = this.user.public_address
        ? `ecdsa-koblitz-pubkey:${this.user.public_address}`
        : 'ecdsa-koblitz-pubkey:0xCc386B6f1ca0cffAe3819cEb74622d8308f7258c'
      this.data.n_cuit = this.user.dni
      this.data.name_citizen = `${this.user.first_name} ${this.user.last_name}`
      this.data.domicilios = JSON.stringify(parsedAdresses)
      this.data.actividad_principal = JSON.stringify(parsedActivity[0])
      this.data.actividades_secundarias = JSON.stringify(parsedActivities)
      this.data.public_address = this.user.public_address
      this.data.title = 'Certificado de Ingresos Brutos'
      this.data.type = 'iibb'
      this.data.estado_origen = 'En espera'
      this.data.created = moment().format()
      this.data.is_certified = false
      this.data.id_user = this.user.dni
      this.data.comprobante = this.existFile
        ? `${this.user.dni}_iibb_comprobante_domicilio.${this.fileExtension}`
        : ''
      const idCert = await setIibbCertificate(this.$fire, this.data)
      this.data.id_reference = idCert.id
      await updateCertificateIibb(this.$fire, idCert.id, this.data)
      this.createIibbCsv(this.data)
    },
    createIibbCsv(element: any) {
      const fullData = [] as any
      delete element.is_certified
      delete element.estado_origen
      delete element.id_user
      delete element.comprobante
      fullData.push(element)
      const i = Papa.unparse(fullData)
      const file = new Blob(['\uFEFF', i], {
        type: 'data:text/csv;charset=utf-8',
      }) as any
      const date = moment().format('YYYY_MM_DD_HH_mm')
      file.name = `certificates_${date}.csv`
      saveFile(this.$fireModule, file, 'certificates_iibb')
    },
  },
})
</script>

<style>
.form-title {
  font-size: 1.8em;
  color: #2a3042;
}
.form-subtitle {
  color: #a4a4a4;
  font-size: 1.1em;
}

.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background-color: #0275b490 !important;
  color: #fff !important;
}
.theme--light.v-btn--active:hover::before,
.theme--light.v-btn--active::before {
  opacity: 0;
}
.phone-input {
  min-height: 56px;
}
</style>
