<template>
  <v-container style="width: 50%">
    <v-form ref="form" v-model="valid" @submit.prevent="onSubmit">
      <v-row justify="center" align="center" class="mt-5">
        <v-col cols="9">
          <h1 class="display-2 text-center primary--text mb-4">
            <!-- {{ $t('titleCertificates') }} -->
            {{ $t('registerSectionTitle') }}
          </h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <v-text-field
            id="first-name"
            v-model="first_name"
            :label="$t('name')"
            :rules="rules"
            outlined
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" md="6">
          <v-text-field
            id="last-name"
            v-model="last_name"
            :label="$t('lastname')"
            :rules="rules"
            outlined
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="p-0">
          <v-text-field
            id="email"
            v-model="email"
            :label="$t('email')"
            :rules="emailRules"
            outlined
            required
          ></v-text-field>
        </v-col>
        <v-col cols="12" class="p-0">
          <v-text-field
            id="confirmEmail"
            v-model="confirmEmail"
            :label="$t('confirmEmail')"
            :rules="emailRules.concat(validEmail)"
            outlined
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" class="p-0">
          <v-text-field
            id="password"
            v-model="password"
            :label="$t('password')"
            :rules="rules"
            :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
            :type="showPassword ? 'text' : 'password'"
            outlined
            required
            @click:append="showPassword = !showPassword"
          ></v-text-field>
        </v-col>
        <v-col cols="12" class="p-0">
          <v-text-field
            id="confirmPassword"
            v-model="confirmPassword"
            :label="$t('confirmPassword')"
            :rules="rules.concat(validPassword)"
            :append-icon="showConfirmPassword ? 'mdi-eye-off' : 'mdi-eye'"
            :type="showConfirmPassword ? 'text' : 'password'"
            outlined
            required
            @click:append="showConfirmPassword = !showConfirmPassword"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row justify="center" class="my-5">
        <div :id="captcha" class="recaptcha"></div>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-btn
            id="save-user"
            :disabled="!reCAPTCHARegisterEMAIL || !valid"
            block
            type="submit"
            color="primary"
          >
            {{ $t('send') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-snackbar
      v-model="snackbar.show"
      :top="true"
      :right="true"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      :multi-line="snackbar.mode === 'multi-line'"
      :vertical="snackbar.mode === 'vertical'"
    >
      {{ snackbar.text }}
      <v-btn
        icon
        class="float-right"
        justify="center"
        align="center"
        @click.native="snackbar.show = false"
      >
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script lang="ts">
import axios from 'axios'
import { setUserDoc } from '~/services/User'
import SendEmailVerificationMixin from '@/mixins/SendEmailVerificationMixin'

declare global {
  interface Window {
    recaptchaVerifierRegisterEmail: any
    recaptchaWidgetRegisterId: any
  }
}
export default SendEmailVerificationMixin.extend({
  name: 'CreateNewAdmin',
  props: {
    captcha: {
      type: String,
      default: 'recaptcha-register-email',
    },
  },
  data() {
    return {
      valid: false,
      reCAPTCHARegisterEMAIL: false,
      first_name: '',
      last_name: '',
      email: '',
      password: '',
      confirmEmail: '',
      confirmPassword: '',
      showPassword: false,
      showConfirmPassword: false,
      selfOpen: true,
      rules: [(v: any) => !!v || 'Campo requerido'],
      emailRules: [
        (v: string) => !!v || 'El campo es requerido',
        (v: string) =>
          !v ||
          /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(v) ||
          'Enter a valid email',
      ],
      snackbar: {
        show: false,
        color: '',
        mode: '',
        timeout: 6000,
        text: '',
        right: '',
        top: '',
      },
      public_address: '',
      loading: false,
    }
  },
  computed: {
    validPassword(): any {
      return this.password === this.confirmPassword || 'Passwords do not match'
    },
    validEmail(): any {
      return this.email === this.confirmEmail || 'Emails do not match'
    },
  },
  watch: {
    selfOpen(val) {
      this.$emit('handleDialogRegister', val)
    },
  },
  mounted() {
    const self = this
    window.recaptchaVerifierRegisterEmail =
      new self.$fireModule.auth.RecaptchaVerifier(this.captcha, {
        callback() {
          // eslint-disable-next-line @typescript-eslint/no-unused-vars
          return new Promise<string | void>((resolve, reject) => {
            self.reCAPTCHARegisterEMAIL = true
            resolve()
          })
        },
        'expired-callback': () => {
          // eslint-disable-next-line @typescript-eslint/no-unused-vars
          return new Promise<string | void>((resolve, reject) => {
            self.reCAPTCHARegisterEMAIL = false
          })
        },
        size: this.$vuetify.breakpoint.smAndDown ? 'compact' : 'normal',
      })
    window.recaptchaVerifierRegisterEmail
      .render()
      .then(function (widgetId: any) {
        window.recaptchaWidgetRegisterId = widgetId
      })
  },
  methods: {
    setPublicAddress(address: string): void {
      this.public_address = address
    },

    cleanForm(): void {
      ;(this.$refs as any).form.reset()
      window.recaptchaVerifierRegisterEmail.reset()
    },

    onSubmit(): any {
      try {
        this.loading = true
        axios
          .post(`${process.env.OSCITY_ENDPOINTS_URL}/createUser`, {
            email: this.email,
            password: this.password,
          })
          .then(async (response: any) => {
            // Create user collection
            await setUserDoc(this.$fire, response.data.uid, {
              email: this.email,
              first_name: this.first_name,
              last_name: this.last_name,
              public_address: this.public_address || '',
              activated: true,
              type: 'operator',
            })
            this.loading = false
            this.snackbar.show = true
            this.snackbar.text = 'New user admin registered correctly'
            this.snackbar.color = 'success'
            this.cleanForm()
            this.sendEmailVerificationSengrid(
              'verifyEmail',
              response.data.email,
              response.data.uid,
              'en'
            )
          })
          .catch((error: any) => {
            this.loading = false
            this.snackbar.show = true
            this.snackbar.text = error
            this.snackbar.color = 'error'
          })
      } catch (error: any) {
        this.loading = false
        this.snackbar.show = true
        this.snackbar.text =
          error.message ||
          'La dirección de correo electrónico ya está en uso por otra cuenta.'
        this.snackbar.color = 'error'
      }
    },
  },
})
</script>
