<template>
  <v-container>
    <v-row class="mt-6">
      <v-col cols="12">
        <v-card>
          <v-toolbar flat>
            <v-toolbar-title>{{ $t('forms.editForm') }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="primary" class="mr-2" :to="`/admin/forms/list`">
              {{ $t('forms.cancel') }}
            </v-btn>
            <v-btn
              id="saveForm"
              color="primary"
              :loading="loading"
              :disabled="
                activeProcedure === null ||
                certificationType === null ||
                !title ||
                list.length === 0 ||
                !validFormName ||
                loading ||
                (withSections &&
                  sections.length === 0 &&
                  withSectionsAsTabs === null)
              "
              @click="save()"
            >
              {{ $t('forms.save') }}
            </v-btn>
          </v-toolbar>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-card-text class="pb-0">
            <p class="mt-5 mb-0 font-weight-semibold">
              {{ $t('forms.procedureName') }}
            </p>
            <v-text-field
              v-model="title"
              class="mt-0"
              single-line
              :label="$t('insertProcedureName')"
              hide-details
            ></v-text-field>
            <p class="mt-7 mb-0 font-weight-semibold">
              {{ $t('forms.procedureShortDescription') }}
            </p>
            <v-textarea
              v-model="shortDescription"
              class="mt-0"
              single-line
              :label="$t('insertProcedureDescription')"
            ></v-textarea>
            <v-row>
              <v-col cols="6" lg="3" md="4" sm="3">
                <p class="mt-5 font-weight-bold">
                  {{ $t('certify-type') }}
                </p>
                <v-radio-group v-model="certificationType" row>
                  <v-radio
                    id="certTypeRadioAuto"
                    :label="$t('automatic')"
                    :value="'automatic'"
                  ></v-radio>
                  <v-radio
                    id="certTypeRadioMan"
                    :label="$t('manual')"
                    :value="'manual'"
                  ></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
          </v-card-text>
          <v-alert
            v-if="!validFormName"
            class="mt-2 mb-0"
            dense
            text
            type="error"
            border="left"
          >
            {{ $t('forms.repeatedFormName') }}
          </v-alert>
          <v-divider></v-divider>
          <v-card-actions>
            <v-switch
              id="activeProcedureSwitch"
              v-model="activeProcedure"
              color="success"
              :label="`${activeProcedure ? $t('active') : $t('inactive')}`"
            ></v-switch>
            <v-divider vertical inset class="mx-2"></v-divider>
            <transition name="fade">
              <v-switch
                v-if="withSections"
                id="sectionsAsTabsSwitch"
                v-model="withSectionsAsTabs"
                :label="`${
                  withSectionsAsTabs ? $t('tabs-on') : $t('tabs-off')
                }`"
              ></v-switch>
            </transition>
          </v-card-actions>
        </v-card>
        <v-alert
          v-if="!title"
          class="mt-2 mb-0"
          dense
          text
          type="error"
          border="left"
        >
          {{ $t('alerta-nombre') }}
        </v-alert>
      </v-col>
    </v-row>
    <template v-if="withSections === false">
      <NoSections
        :list="list"
        :kinds="kinds"
        :types="types"
        :catalog="catalog"
        @changeId="changeId($event)"
        @resetDefault="resetDefault($event)"
        @removeOption="removeOption($event)"
        @addOption="addOption($event)"
        @removeAt="removeAt($event)"
        @add="add()"
      />
    </template>

    <template v-if="withSections === true">
      <WithSections
        :list="list"
        :kinds="kinds"
        :types="types"
        :catalog="catalog"
        :sections="sections"
        :selected-section="selectedSection"
        @deleteSection="
          deleteSectionDialog = true
          deleteIndex = $event
        "
        @addSection="dialogAddSection = true"
        @changeId="changeId($event)"
        @resetDefault="resetDefault($event)"
        @removeOption="removeOption($event)"
        @addOption="addOption($event)"
        @removeAt="removeAt($event)"
        @add="add()"
        @selectedSection="selectedSection = $event"
        @editSection="
          dialogEditSection = true
          editIndex = $event.i
          editMultiple = sections[$event.i].multipleAnswers
          editName = sections[$event.i].name
          editingSection = sections[$event.i]
        "
      />
    </template>
    <v-dialog v-model="dialogAddSection" width="500px" eager>
      <v-form ref="formAddSection" v-model="validAdd" @submit.prevent="">
        <v-card>
          <v-toolbar color="toolbar">
            <v-toolbar-title>
              {{ $t('agregar-seccion') }}
            </v-toolbar-title>
          </v-toolbar>

          <v-card-text class="pa-4">
            <v-row align="center">
              <v-col cols="12">
                <v-text-field
                  id="sectionField"
                  v-model="newSection"
                  required
                  :label="$t('inserta-seccion')"
                ></v-text-field>
                <v-alert
                  v-if="!validSection"
                  dense
                  text
                  type="error"
                  border="left"
                >
                  {{ $t('seccion-repetida') }}
                </v-alert>
                <p class="mt-5 font-weight-bold">
                  {{ $t('with-multiple') }}
                </p>
                <v-radio-group v-model="multipleAnswerSection" row>
                  <v-radio
                    id="sectionRadio"
                    :label="$t('yes')"
                    :value="true"
                  ></v-radio>
                  <v-radio :label="$t('no')" :value="false"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
            <v-alert
              v-if="!newSection || multipleAnswerSection === null"
              dense
              text
              type="error"
              border="left"
            >
              {{ $t('alerta-secciones-dialog') }}
            </v-alert>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="secondary"
              text
              @click="
                dialogAddSection = false
                $refs.formAddSection.reset()
              "
            >
              {{ $t('cancel') }}
            </v-btn>
            <v-btn
              color="primary"
              :disabled="
                !validAdd ||
                !validSection ||
                !newSection ||
                multipleAnswerSection === null
              "
              @click="
                addSection()
                $refs.formAddSection.reset()
                dialogAddSection = false
              "
            >
              {{ $t('crear') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
    <v-dialog v-model="deleteSectionDialog" width="500px" eager>
      <v-card>
        <v-toolbar color="toolbar">
          <v-toolbar-title>
            {{ $t('eliminar-seccion') }}
          </v-toolbar-title>
        </v-toolbar>

        <v-card-text class="pa-4">
          <v-row>
            <v-col>
              <p>
                {{ $t('seguro-eliminar-seccion') }}
              </p>
            </v-col>
          </v-row>
          <v-alert dense text type="error" border="left">
            {{ $t('irreversible-alerta') }}
          </v-alert>
          <br />
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="secondary"
            text
            @click="
              deleteSectionDialog = false
              deleteIndex = null
            "
          >
            {{ $t('cancel') }}
          </v-btn>
          <v-btn id="deleteSection" color="primary" @click="deleteSection()">
            {{ $t('eliminar') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogEditSection" width="500px" eager>
      <v-form ref="formEditSection" v-model="validEdit" @submit.prevent="">
        <v-card>
          <v-toolbar color="toolbar">
            <v-toolbar-title>
              {{ $t('editar-seccion') }}
            </v-toolbar-title>
          </v-toolbar>

          <v-card-text class="pa-4">
            <v-row align="center">
              <v-col cols="12">
                <v-text-field
                  id="editNameSection"
                  v-model="editName"
                  required
                  :label="$t('inserta-seccion')"
                ></v-text-field>
                <v-alert
                  v-if="!validEditSection && editName !== editingSection.name"
                  dense
                  text
                  type="error"
                  border="left"
                >
                  {{ $t('seccion-repetida') }}
                </v-alert>
                <p class="mt-5 font-weight-bold">
                  {{ $t('with-multiple') }}
                </p>
                <v-radio-group v-model="editMultiple" row>
                  <v-radio
                    id="sectionRadio"
                    :label="$t('yes')"
                    :value="true"
                  ></v-radio>
                  <v-radio :label="$t('no')" :value="false"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
            <v-alert
              v-if="!editName || editMultiple === null"
              dense
              text
              type="error"
              border="left"
            >
              {{ $t('alerta-secciones-dialog') }}
            </v-alert>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="secondary" text @click="dialogEditSection = false">
              {{ $t('cancel') }}
            </v-btn>
            <v-btn
              id="saveEdit"
              color="primary"
              :disabled="
                !validEdit ||
                (!validEditSection && editName !== editingSection.name) ||
                !editName ||
                editMultiple === null
              "
              @click="
                editSection()
                $refs.formAddSection.reset()
                dialogEditSection = false
              "
            >
              {{ $t('guardar') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </v-container>
</template>

<script>
import { camelCase } from 'lodash'
import NoSections from '~/components/forms/NoSections.vue'
import WithSections from '~/components/forms/WithSections.vue'

export default {
  name: 'FormEdit',
  components: {
    NoSections,
    WithSections,
  },
  props: {
    procedureId: { type: String, default: '' },
  },
  data() {
    return {
      withSectionsAsTabs: false,
      shortDescription: null,
      loading: false,
      title: '',
      kinds: [
        {
          id: 'short',
          name: 'Respuesta breve',
        },
        {
          id: 'paragraph',
          name: 'Párrafo',
        },
        {
          id: 'checkbox',
          name: 'Opción múltiple',
        },
        {
          id: 'radio',
          name: 'Casillas de verificación',
        },
        {
          id: 'dropdown',
          name: 'Lista desplegable',
        },
        {
          id: 'date',
          name: 'Fecha',
        },
        {
          id: 'time',
          name: 'Hora',
        },
        {
          id: 'file',
          name: 'Archivo',
        },
      ],
      types: [
        {
          id: 'text',
          name: 'Texto',
        },
        {
          id: 'number',
          name: 'Número',
        },
      ],
      formId: null,
      activeProcedure: null,
      certificationType: null,
      validEdit: false,
      editMultiple: null,
      editName: null,
      dialogEditSection: false,
      editIndex: null,
      editingSection: null,
      list: [],
      formsNames: [],
      sections: [],
      withSections: null,
      multipleAnswerSection: null,
      deleteSectionDialog: false,
      deleteIndex: null,
      selectedSection: '',
      validAdd: false,
      dialogAddSection: false,
      newSection: '',
      catalog: [
        {
          id: 'first_name',
          name: 'Nombre',
        },
        {
          id: 'last_name',
          name: 'Apellidos',
        },
        {
          id: 'email',
          name: 'Correo electronico',
        },
        {
          id: 'dni',
          name: 'CUIT',
        },
      ],
    }
  },
  async fetch() {
    const self = this
    let id = null
    if (this.procedureId !== '') {
      id = self.procedureId
    } else {
      id = this.$route.params.builderid
    }
    await this.$fire.firestore
      .collection(`procedures`)
      .doc(id)
      .get()
      .then((doc) => {
        // eslint-disable-next-line camelcase
        const { short_description, title, active, certificationType, form_id } =
          doc.data()
        self.title = title
        self.activeProcedure = active
        self.certificationType = certificationType
        // eslint-disable-next-line camelcase
        self.shortDescription = short_description
        // eslint-disable-next-line camelcase
        self.formId = form_id
      })
    await this.$fire.firestore
      .collection(`forms`)
      .doc(self.formId)
      .get()
      .then((doc) => {
        const { items, sections, withSections, withSectionsAsTabs } = doc.data()
        self.list = items
        self.sections = sections
        self.withSections = withSections
        self.withSectionsAsTabs = withSectionsAsTabs
      })
  },
  computed: {
    validEditSection() {
      if (this.sections && this.sections.length > 0) {
        return !this.sections.some((section) => section.name === this.editName)
      } else {
        return true
      }
    },
    validFormName() {
      let lowerCaseNames = []
      if (this.formsNames.length !== 0) {
        lowerCaseNames = this.formsNames.map((title) => title.toLowerCase())
      }
      return !lowerCaseNames.includes(this.title.toLowerCase())
    },
    validSection() {
      if (this.sections && this.sections.length > 0) {
        return !this.sections.some(
          (section) => section.name === this.newSection
        )
      } else {
        return true
      }
    },
  },
  async mounted() {
    await this.initialize()
  },
  methods: {
    editSection() {
      this.list
        .filter((question) => question.section === this.editingSection.id)
        .map((question) => (question.section = camelCase(this.editName)))
      this.sections[this.editIndex].name = this.editName
      this.sections[this.editIndex].multipleAnswers = this.editMultiple
      this.sections[this.editIndex].id = camelCase(this.editName)
      this.editName = null
      this.editMultiple = null
      this.editIndex = null
    },
    deleteSection() {
      const deletedSection = this.sections[this.deleteIndex].id
      this.list = this.list.filter(function (value) {
        return value.section !== deletedSection
      })
      this.sections.splice(this.deleteIndex, 1)
      this.deleteSectionDialog = false
    },
    addSection() {
      const id = camelCase(this.newSection)
      this.sections.push({
        name: this.newSection,
        id,
        multipleAnswers: this.multipleAnswerSection,
      })
    },
    async initialize() {
      const self = this
      await this.$fire.firestore
        .collection(`forms`)
        .get()
        .then((querySnapshot) => {
          querySnapshot.forEach(function (doc) {
            // Se asegura que el array no contenga el nombre del formulario actual
            if (self.title !== doc.data().title) {
              self.formsNames.push(doc.data().title)
            }
          })
          self.loading = false
        })
        .catch((error) => {
          // eslint-disable-next-line no-console
          console.error('Error getting documents: ', error)
        })
    },
    removeAt(idx) {
      this.list.splice(idx, 1)
    },
    changeId(event) {
      this.list[event.idx].id = camelCase(event.question.label)
    },
    add() {
      if (!this.withSections) {
        this.list.push({
          label: '',
          id: camelCase(''),
          kind: 'short',
          type: 'text',
          options: ['Opción 1'],
        })
      } else {
        this.list.push({
          label: '',
          id: camelCase(''),
          kind: 'short',
          type: 'text',
          options: ['Opción 1'],
          section: this.selectedSection,
        })
      }
    },
    addOption(event) {
      const nextIndex = event.options.length + 1
      const nextLabel = 'Opción ' + nextIndex
      event.options.push(nextLabel)
    },
    removeOption(event) {
      event.question.options.splice(event.i, 1)
    },
    resetDefault(question) {
      question.defaultAnswer = null
      question.defAnsw = null
    },
    async save() {
      this.loading = true
      let id = null
      if (this.procedureId !== '') {
        id = this.procedureId
      } else {
        id = this.$route.params.builderid
      }
      try {
        await this.$fire.firestore
          .collection(`forms`)
          .doc(this.formId)
          .set({
            title: this.title,
            items: this.list,
            sections: this.sections,
            withSections: this.withSections,
            withSectionsAsTabs: this.withSectionsAsTabs,
          })
          .then(async () => {
            await this.$fire.firestore.collection(`procedures`).doc(id).set({
              title: this.title,
              short_description: this.shortDescription,
              form_id: this.formId,
              certificationType: this.certificationType,
              active: this.activeProcedure,
            })
            this.$router.push({
              path: `/admin/forms/list`,
            })
            this.$store.dispatch('procedures/get')
          })
        this.$store.dispatch('notifications/open', {
          color: 'success',
          text: 'Formulario creado con éxito',
        })
        this.loading = false
      } catch (error) {
        this.loading = false
        this.$store.dispatch('notifications/open', {
          color: 'error',
          text: error.message,
        })
      }
    },
  },
}
</script>

<style scoped>
.v-item-group > div {
  width: 100%;
}
.v-divider--vertical.v-divider--inset {
  margin-bottom: 8px;
}
.drag-icon {
  position: absolute;
  top: 0;
  left: 48%;
  display: none;
  cursor: move;
}
.v-card:hover .drag-icon {
  display: block;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
