<template>
  <v-row>
    <draggable :list="list" style="width: 100%">
      <v-col
        v-for="(element, idx) in list"
        :key="`${element.id}_${idx}`"
        cols="12"
      >
        <v-card>
          <v-icon class="drag-icon">mdi-drag-horizontal</v-icon>
          <v-card-text>
            <v-row>
              <v-col cols="12" sm="6">
                <v-text-field
                  id="questionLabel"
                  v-model="element.label"
                  hide-details
                  :label="$t('forms.pregunta')"
                  @change="$emit('changeId', { question: element, idx })"
                />
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  v-model="element.kind"
                  :items="kinds"
                  item-text="name"
                  item-value="id"
                  hide-details
                  :label="$t('forms.clase')"
                  @change="$emit('resetDefault', element)"
                />
              </v-col>
              <v-col v-if="element.kind == 'short'" cols="12" sm="6">
                <v-select
                  v-model="element.type"
                  :items="types"
                  item-text="name"
                  item-value="id"
                  hide-details
                  :label="$t('forms.type')"
                />
              </v-col>
              <v-col
                v-if="
                  ['radio', 'checkbox', 'dropdown'].indexOf(element.kind) >= 0
                "
                cols="12"
                sm="6"
              >
                <v-row v-for="(el, i) in element.options" :key="i">
                  <v-col>
                    <v-text-field
                      v-model="element.options[i]"
                      :value="`Opción ${i + 1}`"
                      hide-details
                      append-icon="mdi-close"
                      @click:append="
                        $emit('removeOption', { question: element, i })
                      "
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col xs="12">
                    <v-btn
                      id="addOptNoSections"
                      @click="$emit('addOption', element)"
                    >
                      {{ $t('forms.agregar-opcion') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>
              <v-col v-if="element.kind === 'short'" cols="12" sm="6">
                <v-row>
                  <v-col cols="4">
                    <span class="mb-0 pa-0 font-weight-light">
                      {{ $t('with-default-answers') }}
                    </span>
                    <v-radio-group
                      v-model="element.defaultAnswer"
                      class="mt-2 pa-0"
                      row
                    >
                      <v-radio
                        id="chOptSectionRadio"
                        :label="$t('yes')"
                        :value="true"
                      ></v-radio>
                      <v-radio :label="$t('no')" :value="false"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <transition name="fade">
                    <v-col
                      v-if="element.defaultAnswer === true"
                      id="dropdownAnswers"
                      cols="8"
                    >
                      <v-select
                        v-model="element.defAnsw"
                        :items="catalog"
                        item-text="name"
                        item-value="id"
                        hide-details
                        :label="$t('select-default-answer')"
                      />
                    </v-col>
                  </transition>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-switch
              id="spacerNoSections"
              v-model="element.spacer"
              :label="$t('forms.withSpacer')"
            />
            <v-divider vertical inset class="mx-2"></v-divider>
            <v-switch
              id="certifyNoSections"
              v-model="element.certify"
              :label="$t('forms.certificate')"
            />
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon id="rmvQNoSection" @click="$emit('removeAt', idx)">
                mdi-delete
              </v-icon>
            </v-btn>
            <v-divider vertical inset class="mr-2"></v-divider>
            <v-switch
              id="obligatoryNoSections"
              v-model="element.required"
              :label="$t('forms.obligatoria')"
            />
            <transition name="fade">
              <v-divider
                v-if="element.defaultAnswer"
                vertical
                inset
                class="mx-2"
              ></v-divider>
            </transition>
            <transition name="fade">
              <v-switch
                v-if="element.defaultAnswer"
                id="disabledNoSections"
                v-model="element.disabled"
                :label="$t('forms.disable')"
              />
            </transition>
          </v-card-actions>
        </v-card>
      </v-col>
    </draggable>
    <v-col cols="12">
      <div
        slot="footer"
        key="footer"
        class="mt-4"
        role="group"
        aria-label="Form builder"
      >
        <v-row justify="space-around" align="center" no-gutters>
          <v-col class="text-right">
            <v-btn id="addQNoSection" color="primary" @click="$emit('add')">
              {{ $t('forms.agregar-pregunta') }}
            </v-btn>
          </v-col>
        </v-row>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'NoSections',
  components: {
    draggable,
  },
  props: {
    list: {
      type: Array,
      default() {
        return []
      },
    },
    kinds: {
      type: Array,
      default() {
        return []
      },
    },
    types: {
      type: Array,
      default() {
        return []
      },
    },
    catalog: {
      type: Array,
      default() {
        return []
      },
    },
  },
}
</script>

<style scoped>
.v-item-group > div {
  width: 100%;
}
.v-divider--vertical.v-divider--inset {
  margin-bottom: 8px;
}
.drag-icon {
  position: absolute;
  top: 0;
  left: 48%;
  display: none;
  cursor: move;
}
.v-card:hover .drag-icon {
  display: block;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
