<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card>
          <v-toolbar color="toolbar">
            <v-toolbar-title>{{ $t('secciones') }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="$emit('addSection')">
              {{ $t('add') }}
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-list>
              <v-list-item v-for="(section, i) in sections" :key="i">
                <v-list-item-content>
                  <v-list-item-title> {{ section.name }} </v-list-item-title>
                  <v-list-item-subtitle>
                    {{ $t('with-multiple-list') }}
                    {{ section.multipleAnswers ? $t('yes') : $t('no') }}
                  </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <div>
                    <v-btn
                      id="editSection"
                      icon
                      @click="$emit('editSection', { section, i })"
                    >
                      <v-icon> mdi-pencil </v-icon>
                    </v-btn>
                    <v-btn icon @click="$emit('deleteSection', i)">
                      <v-icon> mdi-delete </v-icon>
                    </v-btn>
                  </div>
                </v-list-item-action>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
        <v-alert
          v-if="sections.length === 0"
          class="mt-2"
          dense
          text
          type="error"
          border="left"
        >
          {{ $t('alerta-secciones') }}
        </v-alert>
      </v-col>
      <v-col cols="12" sm="6">
        <v-select
          v-if="sections.length !== 0"
          v-model="selectedSectionChild"
          :items="sections"
          item-text="name"
          item-value="id"
          hide-details
          :label="$t('select-section')"
          @change="$emit('selectedSection', selectedSectionChild)"
        />
      </v-col>
    </v-row>
    <v-row>
      <draggable :list="list" style="width: 100%">
        <v-col
          v-for="(element, idx) in list.filter((element, index) => {
            element.originalIndex = index
            return element.section === selectedSection
          })"
          :key="`${element.id}_${idx}`"
          cols="12"
        >
          <v-card>
            <v-icon class="drag-icon">mdi-drag-horizontal</v-icon>
            <v-card-text>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-text-field
                    v-model="element.label"
                    hide-details
                    :label="$t('forms.pregunta')"
                    @change="
                      $emit('changeId', {
                        question: element,
                        idx: element.originalIndex,
                      })
                    "
                  />
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    v-model="element.kind"
                    :items="kinds"
                    item-text="name"
                    item-value="id"
                    hide-details
                    :label="$t('forms.clase')"
                    @change="$emit('resetDefault', element)"
                  />
                </v-col>
                <v-col v-if="element.kind == 'short'" cols="12" sm="6">
                  <v-select
                    v-model="element.type"
                    :items="types"
                    item-text="name"
                    item-value="id"
                    hide-details
                    :label="$t('forms.type')"
                  />
                </v-col>
                <v-col
                  v-if="
                    ['radio', 'checkbox', 'dropdown'].indexOf(element.kind) >= 0
                  "
                  cols="12"
                  sm="6"
                >
                  <v-row v-for="(el, i) in element.options" :key="i">
                    <v-col>
                      <v-text-field
                        v-model="element.options[i]"
                        :value="`Opción ${i + 1}`"
                        hide-details
                        append-icon="mdi-close"
                        @click:append="
                          $emit('removeOption', { question: element, i })
                        "
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col xs="12">
                      <v-btn
                        id="addOptWSections"
                        @click="$emit('addOption', element)"
                      >
                        {{ $t('forms.agregar-opcion') }}
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col v-if="element.kind === 'short'" cols="12" sm="6">
                  <v-row>
                    <v-col cols="4">
                      <span class="mb-0 pa-0 font-weight-light">
                        {{ $t('with-default-answers') }}
                      </span>
                      <v-radio-group
                        v-model="element.defaultAnswer"
                        class="mt-2 pa-0"
                        row
                      >
                        <v-radio
                          id="chOptSectionRadio"
                          :label="$t('yes')"
                          :value="true"
                        ></v-radio>
                        <v-radio :label="$t('no')" :value="false"></v-radio>
                      </v-radio-group>
                    </v-col>
                    <transition name="fade">
                      <v-col
                        v-if="element.defaultAnswer === true"
                        id="dropdownAnswers"
                        cols="8"
                      >
                        <v-select
                          v-model="element.defAnsw"
                          :items="catalog"
                          item-text="name"
                          item-value="id"
                          hide-details
                          :label="$t('select-default-answer')"
                        />
                      </v-col>
                    </transition>
                  </v-row>
                </v-col>
              </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <v-switch
                id="spacerWSections"
                v-model="element.spacer"
                :label="$t('forms.withSpacer')"
              />
              <v-divider vertical inset class="mx-2"></v-divider>
              <v-switch
                id="certifyWSections"
                v-model="element.certify"
                :label="$t('forms.certificate')"
              />
              <v-spacer></v-spacer>
              <v-btn id="rmvQWSection" icon>
                <v-icon @click="$emit('removeAt', element.originalIndex)">
                  mdi-delete
                </v-icon>
              </v-btn>
              <v-divider vertical inset class="mr-2"></v-divider>
              <v-switch
                id="obligatoryWSections"
                v-model="element.required"
                :label="$t('forms.obligatoria')"
              />
              <transition name="fade">
                <v-divider
                  v-if="element.defaultAnswer"
                  vertical
                  inset
                  class="mx-2"
                ></v-divider>
              </transition>
              <transition name="fade">
                <v-switch
                  v-if="element.defaultAnswer"
                  id="disabledWSections"
                  v-model="element.disabled"
                  :label="$t('forms.disable')"
                />
              </transition>
            </v-card-actions>
          </v-card>
        </v-col>
      </draggable>
      <v-col cols="12">
        <div
          slot="footer"
          key="footer"
          class="mt-4"
          role="group"
          aria-label="Form builder"
        >
          <v-row justify="space-around" align="center" no-gutters>
            <v-col class="text-right">
              <v-btn
                v-if="selectedSection !== '' && sections.length !== 0"
                id="addQWSection"
                color="primary"
                @click="$emit('add')"
              >
                {{ $t('forms.agregar-pregunta') }}
              </v-btn>
            </v-col>
          </v-row>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'NoSections',
  components: {
    draggable,
  },
  props: {
    list: {
      type: Array,
      default() {
        return []
      },
    },
    kinds: {
      type: Array,
      default() {
        return []
      },
    },
    types: {
      type: Array,
      default() {
        return []
      },
    },
    catalog: {
      type: Array,
      default() {
        return []
      },
    },
    sections: {
      type: Array,
      default() {
        return []
      },
    },
    selectedSection: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      selectedSectionChild: '',
    }
  },
}
</script>

<style scoped>
.v-item-group > div {
  width: 100%;
}
.v-divider--vertical.v-divider--inset {
  margin-bottom: 8px;
}
.drag-icon {
  position: absolute;
  top: 0;
  left: 48%;
  display: none;
  cursor: move;
}
.v-card:hover .drag-icon {
  display: block;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
